﻿$eduMenuColor: #908979;
$eduMenuActive: #999281;
$eduMenuBorder: #898273;
$eduSubMenuColor: #4a453c;
$eduStatement: #a9beb8;
$eduStatementText: #242220;
$eduSocialColor: #d4dfdc;
$eduSectionMarked: #809690;
$eduBackColor: #7a7a7a;
$eduArticleBgColor: #e9efee;
$eduArticleText: #a8444a;

body.mediekonkurrence {

  .nav-tools,
  .page-menu nav {
    background-color: $eduMenuColor;
  }

  .main-menu {
    background-color: $eduMenuColor;
    nav > ul {
      li {
        .no-touch & {
          &:before {
            background-color: darken($eduMenuColor, 10%);
          }
        }
        & + li {
          border-left-color: $eduMenuBorder;
        }

        &.selected {
          a {
            color:#272727;
          }
          background-color: $eduMenuActive;
        }
      }

      @media (max-width: $screen-xs-max) {
        > li {
          border-top:1px solid darken($eduMenuColor, 3%);
          &.inpath > .expand {
            background:lighten($eduMenuColor, 10%);
          }
          > ul > li {
            border-top:1px solid lighten($eduMenuColor, 5%);
            > a {
              background:lighten($eduMenuColor, 10%);
            }
            &.inpath > .expand {
              background:lighten($eduMenuColor, 20%);
            }
            > ul > li {
              border-top:1px solid lighten($eduMenuColor, 15%);
              > a {
                background:lighten($eduMenuColor, 20%);
                padding-left:10px;
              }
            }
          }
        }
      }
    }
  }

  .nav-tool {
    border-left-color: $eduMenuBorder;
    &.search-global {
      .global-search {
        border-bottom: 2px solid $eduMenuBorder;
        @include placeholder($eduSubMenuColor);

        &:focus {
          color: $brand-lightgrey;
          border-bottom:2px solid lighten($eduSubMenuColor, 10%);
          @include placeholder($brand-lightgrey);

          & + .btn-search {
            + svg path {
              fill:$brand-lightgrey;
            }
          }
        }
      }
      .btn-search, svg {
        @media (max-width: $screen-xs-max) {
          right:14px;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
          right:18px;
        }
      }

      form {
        background:$eduMenuColor;
      }
      svg path {
        fill:$eduSubMenuColor;
      }
    }
  }

  .sub-menu {
    nav {
      background:$eduSubMenuColor;
      ul > li {
        border-top-color:$eduSubMenuColor;

        a {
          color:lighten($eduMenuBorder, 10%);
        }
        .expand span {
          color:lighten($eduMenuBorder, 10%);
        }
        &.inpath > .expand {
          background:lighten($eduSubMenuColor, 20%);
          span {
            color:$eduSubMenuColor;
          }
        }
        > ul > li > a {
          color:$eduSubMenuColor;
          background:lighten($eduSubMenuColor, 20%)
        }
      }
    }


  }
  #burger {
    background:$eduSubMenuColor;
    &.open {
      .bun {
        background-color: lighten($eduMenuBorder, 5%) !important;
      }
    }
    .no-touch &:before {
      background: darken($eduSubMenuColor, 10%);
    }
  }

  #react {
    background-color: lighten(#3e2a29, 20%);
  }

  .section-menu-wrap {
    height:54px;
  }

  .section-menu {
    nav {
      margin-top:10px;
    }
    li {
      hr{
        display:none;
      }
      i {
        width:0;
        height:0;
        bottom:-10px;
        margin-left:-4px;
        border-radius: 0;
        display:block;
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-top:10px solid #fff;
        background-color: transparent;
        transition:bottom 0.3s ease-in-out, border 0.3s ease-in-out;

        &:before {
          content:"";
          position: absolute;
          width:0;
          height:0;
          top:-11px;
          left:-7px;
          border-left:7px solid transparent;
          border-right:7px solid transparent;
          border-top:10px solid #fff;
          background-color: transparent;
          transition:opacity 0.3s ease-in;
        }
      }
      a.active {
        color: $eduStatement;
        + i {
          bottom:-20px;
          border-top:10px solid #e6e6e6;
        }
      }
    }
    &.affix-top {
      @media (max-width: $screen-md-max) {

        nav {
          margin-top: 0;
        }
      }
      @media (min-width: $screen-lg) {
        li {
          a {font-size:17px;}
          a.active + i {
            bottom: -28px;
          }
        }
      }
    }
  }

  .module-wrap {
    background-color: $eduArticleBgColor;
    h2,
    h3,
    h4,
    strong,
    .manchet {
      color: $eduArticleText
    }
  }
  .statement {
    color:$eduStatementText;
    background-color: $eduStatement;
  }

  .ribbon {
    > .row {
      border-top:1px solid #e3e9e8;
      background-color: #eff4f3;
    }
    .category {
      background-color:transparent;
      .index { display:none;}
      header {
        color:$eduSocialColor;
      }
    }
    .row.indexed .col-sm-9 { background-color: $eduArticleBgColor; }
  }

  .share-btn svg path { fill:$eduSocialColor; }

  .infographic .circle-loader.leftover .circle.prog,
  .infographic .col-xs-6:first-child .circle-loader .circle.full {
    stroke:$eduStatement;
  }
}


// The following changes regard scrinking the search-field button
// and removing the React-button.
// Saved in case menu-point get to big

  // Removing the react-button
  /*
  body.mediekonkurrence {
  #react {
    display:none;
  }
  // adjusting menu margins to release the space from removed react-button
  .main-menu {
    nav {
      @media (min-width: $screen-md) {
        margin: 0 130px 0 0;
      }
      @media (min-width: $screen-lg) {
        margin: 0 300px 0 0;
      }

      > ul li {
        @media (min-width: $screen-lg) {
          width:198px;
        }
      }
    }
  }

  // Size of nav-tools being adjusted acording to above margin
  .nav-tools {
    @media (min-width: $screen-md) {
      font-size:0;
      display:table;
      height:90px;
      width:132px;
    }
    @media (min-width: $screen-lg) {
      width:300px;
      .search-global {
        float: none;
        right: 0;
      }
    }
  }

  .search-global.nav-tool {
    @media (min-width: $screen-lg) {
      float: none;
      right: 0;
      height: 90px;
      width: 90px;
    }
    & > form {
      height: 80px;
      margin: 0;
      text-align: left;
      background: $menu-grey;
      @media (min-width: $screen-lg) {
        margin: 0;
        width: auto;
        height: 100%;
      }
    }
    .btn-search, svg {
      @media (min-width: $screen-lg) {
        top: 0;
        width: 40px;
        height: 100%;
        right: 22px;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .global-search {
      width:0;
      padding:0;
      font-size:18px;
      line-height:2.2;
      color:darken($brand-lightgrey, 20%);
      border-bottom:2px solid darken($brand-lightgrey, 20%);
      opacity:0;
      @include placeholder(darken($brand-lightgrey, 20%));

      &:focus {
        color: $brand-lightgrey;
        border-bottom:2px solid $brand-lightgrey;
        @include placeholder($brand-lightgrey);

        & + .btn-search {
          opacity:1;
          + svg path {
            fill:$brand-lightgrey;
          }
        }
      }

      @media (min-width: $screen-lg) {
        width:0;
        height:auto;
        line-height:2.2;
        opacity:0;
        &:focus {
          height:auto;
          padding:2px 25px 7px 5px;
        }
      }
    }
  }

  .nav-tools.focused {
    @media (min-width: $screen-lg){
      width:360px;
    }
  }
}*/
