﻿@using DisPlay.Amnesty.Helpers
@using DisPlay.Amnesty.Models
@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    if (!Request.IsSecureConnection)
    {
        return;
    }
    
    var siteSettings = ContentHelper.FindSiteSettings(Model);
    var acceptUrl = "/";
    var confirmationPage = siteSettings.GetPropertyValue<IPublishedContent>("confirmationPageMember");
    if (confirmationPage != null)
    {
        acceptUrl = confirmationPage.UrlAbsolute();
    }

    SettingsNodeModel settingsNode = ContentHelper.FindSiteSettings(Model);
}

<div class="contour blivmedlem">
    <form id="memberForm" action="/" data-nodeid="@Model.Id">
        <input type="hidden" name="accepturl" value="@acceptUrl" />
        <input type="hidden" class="amount" id="dibsAmount" name="amount" value="12500" />
        <div class="contourPage">            
            <ol class="form-progress">
                <li class="active"><span>1. @settingsNode.SupportChooseAmount</span></li>
                <li><span>2. @settingsNode.SupportContactInfo</span></li>
                <li><span>3. @settingsNode.SupportTaxDeduction</span></li>
            </ol>
            <h4 class="contourPageName">@settingsNode.MemberHeadline</h4> <!-- Skal have unikt felt for Bliv medlem -->
            <fieldset class="contourFieldSet">
                <div class="row-fluid">
                    <div class="span4 col-md-4">
                        <h3>@settingsNode.MemberChooseAmount</h3>
                        <div class="row radiobuttonlist nomargin">
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="member75" name="radioAmount" value="8500"/>
                                    <label for="member75" class="fieldLabel">85 kr</label>
                                </div>
                            </div>
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="member125" name="radioAmount" value="12500" checked/>
                                    <label for="member125" class="fieldLabel">125 kr</label>
                                </div>
                            </div>
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="member250" name="radioAmount" value="25000"/>
                                    <label for="member250" class="fieldLabel">250 kr</label>
                                </div>
                            </div>
                        </div>
                        <div class="otherAmount hide-next">
                            <span class="btn btn-info">@settingsNode.SupportChooseCustomAmount</span>
                        </div>
                        <div class="contourField textfield">
                            <label for="customAmount">@settingsNode.SupportTypeAmount <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="memberAmount" name="customAmount" data-val-min="1" data-val-max="12" data-val-required="@settingsNode.SupportErrorAmount" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField fornavn textfield">
                            <label for="memberName">@settingsNode.SupportPlaceholderName <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" class="text" id="memberName" name="delivery1.Name" data-val="true" data-val-required="@settingsNode.SupportErrorName" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField efternavn textfield">
                            <label for="memberSurname">@settingsNode.SupportPlaceholderSurname <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" class="text" id="memberSurname" name="delivery2.Surname" data-val="true" data-val-required="@settingsNode.SupportErrorSurname" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 col-md-4">
                        <h3>@settingsNode.SupportContactInfo</h3>
                        <div class="contourField email textfield">
                            <label for="memberEmail">@settingsNode.SupportPlaceholderEmail <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="email" id="memberEmail" name="delivery3.Email" data-val="true" data-val-required="@settingsNode.SupportErrorEmail" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField mobiltelefon textfield">
                            <label for="memberMobile">@settingsNode.SupportPlaceholderPhone</label>
                            <div>
                                <input type="text" id="memberMobile" name="delivery4.Mobile" data-val-min="7" data-val-max="12" data-val="false" data-val-required="@settingsNode.SupportErrorPhone" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <!-- TODO: The following New field needs backend attention -->
                        <div class="contourField address textfield">
                            <label for="memberAddress">Adresse@*@settingsNode.SupportPlaceholderAddress*@ <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="memberAddress" name="delivery5.Address" data-val-min="4" data-val="true" data-val-required="@*@settingsNode.SupportErrorAddress*@" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="contourField postnr textfield col-xs-4">
                                <label for="memberZip">@settingsNode.SupportPlaceholderZip <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="memberZip" name="delivery5.Zip" data-val-min="3" data-val-max="5" data-val="true" data-val-required="@settingsNode.SupportErrorZip" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField by textfield col-xs-8">
                                <label for="memberCity">@settingsNode.SupportPlaceholderCity <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="memberCity" name="delivery6.City" data-val="true" data-val-required="@settingsNode.SupportErrorCity" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 col-md-4">
                        <h3>@settingsNode.MemberBetalingsService</h3> <!-- Her -->
                        <div class="row">
                            <div class="contourField reg textfield col-xs-4">
                                <label for="memberZip">@settingsNode.MemberRegnr <span class="contourIndicator">*</span></label> <!-- Her -->
                                <div>
                                    <input type="text" id="memberReg" name="delivery9.Reg" data-val-min="4" data-val-max="4" data-val="true" data-val-required="@siteSettings.MemberErrorRegnr" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField konto textfield col-xs-8">
                                <label for="memberCity">@settingsNode.MemberKontonr <span class="contourIndicator">*</span></label> <!-- Her -->
                                <div>
                                    <input type="text" id="memberKonto" name="delivery10.Konto" data-val="true" data-val-required="@siteSettings.MemberErrorKontonr" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                        </div>
                        <h3>@settingsNode.SupportTaxDeduction</h3>
                        <div class="contourField cpr textfield">
                            <label for="memberCpr">@settingsNode.SupportPlaceholderCPR<span class="contourIndicator">*</span></label>
                            <!-- TODO: Lav et felt til help-text under indstilling > Blivmedlem -->
                            <span class="help-block">Vi bruger dit CPR-nummer til at sikre dig skattefradrag for den del af din donation, der ligger ud over det årlige kontingent på 295 kr. / studerende, ledige og pensionister 195 kr.
Alle informationer du giver i forbindelse med din betaling behandles fortroligt og efter gældende regler.​</span>
                            <div>
                                <input type="text" id="memberCpr" name="delivery7.Cpr" data-val-min="10" data-val-max="11" data-val="true" data-val-required="Indtast dit CPR-nummer" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField stud checkbox">
                            <label for="memberStud">@settingsNode.SupportStudentCheckbox</label>
                            <div>
                                <input type="checkbox" name="delivery8.Stud" id="memberStud">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            
            <div class="contourNavigation row-fluid">
                <div class="col-md-12">
                    <input type="button" class="btn btn-submit" value="Tilmeld" />
                    <input type="submit" class="btn primary" value="Bliv medlem" name="submit" id="submitMember">
                </div>
            </div>
        </div>
    </form>
</div>