﻿@using DisPlay.Amnesty.Helpers
@using DisPlay.Amnesty.Models
@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    if (!Request.IsSecureConnection)
    {
        //return;
    }

    var siteSettings = ContentHelper.FindSiteSettings(Model);
    var acceptUrl = "/";
    var confirmationPage = siteSettings.GetPropertyValue<IPublishedContent>("confirmationPageCpr");
    if (confirmationPage != null)
    {
        acceptUrl = confirmationPage.UrlAbsolute();
    }

    SettingsNodeModel settingsNode = ContentHelper.FindSiteSettings(Model);
}

    <div class="contour cpr">
        <form action="INSERT-ACTION" id="cprForm" data-nodeid="@Model.Id">
            <input type="hidden" name="accepturl" value="@acceptUrl" />
            <div class="contourPage">
                <fieldset class="contourFieldSet">
                    <div class="row-fluid">
                        <div class="span12 col-md-12">
                            <div class="contourField fornavn textfield">
                                <label for="cprName">Fornavn<span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" class="text" id="cprName" name="delivery1.Name" data-val="true" data-val-required="@settingsNode.SupportErrorName"/>
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField efternavn textfield">
                                <label for="cprSurname">Efternavn<span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" class="text" id="cprSurname" name="delivery2.Surname" data-val="true" data-val-required="@settingsNode.SupportErrorSurname"/>
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField email textfield">
                                <label for="cprEmail">Email<span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="email" id="cprEmail" name="delivery3.Email" data-val="true" data-val-required="@settingsNode.SupportErrorEmail"/>
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField member textfield">
                                <label for="cprMember">Medlemsnummer<span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="cprMember" name="delivery4.Member" data-val-min="1" data-val="true" data-val-required="Oplys medlemsnummer"/>
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField cpr textfield">
                                <label for="cprCpr">CPR-nummer <span class="contourIndicator">*</span></label>
                                <span class="help-block">Vi bruger dit CPR-nummer til at sikre dig skattefradrag for den del af din donation, der ligger ud over det årlige kontingent på 295 kr. / studerende, ledige og pensionister 195 kr.
Alle informationer du giver i forbindelse med din betaling behandles fortroligt og efter gældende regler.​</span>
                                <div>
                                    <input type="text" id="cprCpr" name="delivery5.Cpr" data-val-min="10" data-val-max="11" data-val="true" data-val-required="@settingsNode.SupportErrorCPR"/>
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="contourNavigation row-fluid">
                    <div class="col-md-12">
                        <input type="button" class="btn btn-submit" value="Send"/>
                        <input type="submit" class="btn primary" value="Send" name="submit" id="submitMember">
                    </div>
                </div>
            </div>
        </form>
    </div>