﻿@using DisPlay.Amnesty.Helpers
@using DisPlay.Amnesty.Models
@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    if (!Request.IsSecureConnection)
    {
        //return;
    }
    
    var siteSettings = ContentHelper.FindSiteSettings(Model);
    var confirmationPage = siteSettings.GetPropertyValue<IPublishedContent>("confirmationPageSupport");

    var acceptUrl = confirmationPage.UrlAbsolute();
    var callbackUrl = "http://" + Request.Url.Host + "/Umbraco/api/Dibs/HandleCallback";
    SettingsNodeModel settingsNode = ContentHelper.FindSiteSettings(Model);
}

<div class="contour donate">
    <form action="https://payment.architrade.com/paymentweb/start.action" id="dibsForm" data-nodeid="@Model.Id">
        <input type="hidden" name="accepturl" value="@acceptUrl" />
        <input type="hidden" id="dibsAmount" name="amount" value="25000" />
        <input type="hidden" name="currency" value="DKK" />
        <input type="hidden" name="merchant" value="9263093" />
        <input type="hidden" name="orderid" value="0" />
        <input type="hidden" name="lang" value="da" />
        <input type="hidden" name="callbackurl" value="@callbackUrl"/>
        @if (settingsNode.DibsTestMode)
        {
            <input type="hidden" name="test" value="1" />
        }
        
        <div class="contourPage">
            
            <ol class="form-progress">
                <li class="active"><span>1. @settingsNode.SupportChooseAmount</span></li>
                <li><span>2. @settingsNode.SupportContactInfo</span></li>
                <li><span>3. @settingsNode.SupportTaxDeduction</span></li>
            </ol>
            <h4 class="contourPageName">@settingsNode.SupportHeadline</h4>
            <fieldset class="contourFieldSet">
                <div class="row-fluid">
                    <div class="span4 col-md-4">
                        <h3>@settingsNode.SupportChooseAmount</h3>
                        <div class="row radiobuttonlist nomargin">
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="donate100" name="radioAmount" value="8500"/>
                                    <label for="donate100" class="fieldLabel">85 kr</label>
                                </div>
                            </div>
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="donate250" name="radioAmount" value="25000" checked/>
                                    <label for="donate250" class="fieldLabel">250 kr</label>
                                </div>
                            </div>
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="donate750" name="radioAmount" value="75000"/>
                                    <label for="donate750" class="fieldLabel">750 kr</label>
                                </div>
                            </div>
                        </div>
                        <div class="otherAmount hide-next">
                            <span class="btn btn-info">@settingsNode.SupportChooseCustomAmount</span>
                        </div>

                        <div class="contourField textfield">
                            <label for="customAmount">@settingsNode.SupportTypeAmount <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="customAmount" name="customAmount" data-val-min="1" data-val-max="12" data-val-required="@settingsNode.SupportErrorAmount" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField fornavn textfield">
                            <label for="donateName">@settingsNode.SupportPlaceholderName <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" class="text" id="donateName" name="delivery1.Name" data-val="true" data-val-required="@settingsNode.SupportErrorName" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField efternavn textfield">
                            <label for="donateSurname">@settingsNode.SupportPlaceholderSurname <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" class="text" id="donateSurname" name="delivery2.Surname" data-val="true" data-val-required="@settingsNode.SupportErrorSurname" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                    </div>
                    <div class="span4 col-md-4">
                        <h3>@settingsNode.SupportContactInfo</h3>
                        <div class="contourField email textfield">
                            <label for="donateEmail">@settingsNode.SupportPlaceholderEmail <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="email" id="donateEmail" name="delivery3.Email" data-val="true" data-val-required="@settingsNode.SupportErrorEmail" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField mobiltelefon textfield">
                            <label for="donateMobile">@settingsNode.SupportPlaceholderPhone <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="donateMobile" name="delivery4.Mobile" data-val-min="7" data-val-max="12" data-val="false" data-val-required="@settingsNode.SupportErrorPhone" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField address textfield">
                            <label for="donateAddress">Adresse@*@settingsNode.SupportPlaceholderAddress*@ <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="donateAddress" name="delivery5.Address" data-val-min="4" data-val="true" data-val-required="@*@settingsNode.SupportErrorAddress*@" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="contourField postnr textfield col-xs-4">
                                <label for="donateZip">@settingsNode.SupportPlaceholderZip <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="donateZip" name="delivery5.Zip" data-val-min="3" data-val-max="5" data-val="true" data-val-required="@settingsNode.SupportErrorZip" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField by textfield col-xs-8">
                                <label for="donateCity">@settingsNode.SupportPlaceholderCity <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="donateCity" name="delivery6.City" data-val="true" data-val-required="@settingsNode.SupportErrorCity" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 col-md-4">
                        <h3>@settingsNode.SupportTaxDeduction</h3>
                        <div class="contourField cpr textfield">
                            <label for="donateCpr">@settingsNode.SupportPlaceholderCPR</label>
                            <!-- TODO: Lav et felt til help-text under indstilling > Støt -->
                            <span class="help-block">Vi bruger dit CPR-nummer til at sikre dig skattefradrag for den del af din donation, der ligger ud over det årlige kontingent på 295 kr. / studerende, ledige og pensionister 195 kr.
Alle informationer du giver i forbindelse med din betaling behandles fortroligt og efter gældende regler.​</span>
                            <div>
                                <input type="text" id="donateCpr" name="delivery7.Cpr" data-val-min="10" data-val-max="11" data-val="false" data-val-required="@settingsNode.SupportErrorCPR" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            
            <div class="contourNavigation row-fluid">
                <div class="col-md-12">
                    <input type="button" class="btn btn-submit" value="@settingsNode.SupportButtonSend" id="654a0386-14a0-4508-a7c5-7ae962f4d965" />
                    <input type="submit" class="btn primary" value="@settingsNode.SupportButtonSend" name="submit" id="submitToDibs">
                </div>
            </div>
        </div>
    </form>
</div>