﻿@using DisPlay.Amnesty.Helpers
@using DisPlay.Amnesty.Models
@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    if (!Request.IsSecureConnection)
    {
        //return;
    }

    var siteSettings = ContentHelper.FindSiteSettings(Model);
    var confirmationPage = siteSettings.GetPropertyValue<IPublishedContent>("tilmeldLandsstaevneConfirmation");

    var acceptUrl = confirmationPage.UrlAbsolute();
    var callbackUrl = "http://" + Request.Url.Host + "/Umbraco/api/Landsstaevne/HandleCallback";
    SettingsNodeModel settingsNode = ContentHelper.FindSiteSettings(Model);
}

<div class="contour donate">
    <form action="https://payment.architrade.com/paymentweb/start.action" id="landsstaevneForm" data-nodeid="@Model.Id">
        <input type="hidden" name="accepturl" value="@acceptUrl" />
        <input type="hidden" id="dibsAmount" name="amount" value="30000" />
        <input type="hidden" name="currency" value="DKK" />
        <input type="hidden" name="merchant" value="9263093" />
        <input type="hidden" name="delivery11.PaymentOptions" id="LandsstaevnePaymentOptions" value="Betalingskort" />
        <input type="hidden" name="orderid" value="0" />
        <input type="hidden" name="lang" value="da" />
        <input type="hidden" name="responsive" value="1" />
        <input type="hidden" name="callbackurl" value="@callbackUrl"/>
        @if (settingsNode.DibsTestMode)
        {
            <input type="hidden" name="test" value="1" />
        }

        <div class="contourPage">
            
            <fieldset class="contourFieldSet">
                <div class="row-fluid">
                    <div class="span4 col-md-4">
                        <div class="contourField cpr textfield">
                            <label for="LandsstaevneMemberOrCPR">Medlemsnummer</label>
                            <div>
                                <input type="text" id="LandsstaevneMemberOrCPR" name="delivery7.Cpr" /> <!-- data-val-min="3" data-val-max="14" data-val="true" data-val-required="settingsNode.SupportErrorCPR" -->
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>

                        <div class="contourField fornavn textfield">
                            <label for="LandsstaevneName">@settingsNode.SupportPlaceholderName <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" class="text" id="LandsstaevneName" name="delivery1.Name" data-val="true" data-val-required="@settingsNode.SupportErrorName" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>

                        <div class="contourField efternavn textfield">
                            <label for="LandsstaevneSurname">@settingsNode.SupportPlaceholderSurname <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" class="text" id="LandsstaevneSurname" name="delivery2.Surname" data-val="true" data-val-required="@settingsNode.SupportErrorSurname" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>

                        <div class="contourField mobiltelefon textfield">
                            <label for="LandsstaevneMobile">@settingsNode.SupportPlaceholderPhone <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="LandsstaevneMobile" name="delivery4.Mobile" data-val-min="7" data-val-max="12" data-val="false" data-val-required="@settingsNode.SupportErrorPhone" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>

                        <div class="contourField email textfield">
                            <label for="LandsstaevneEmail">@settingsNode.SupportPlaceholderEmail <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="email" id="LandsstaevneEmail" name="delivery3.Email" data-val="true" data-val-required="@settingsNode.SupportErrorEmail" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>

                        <div class="contourField address textfield">
                            <label for="LandsstaevneAddress">Adresse@*@settingsNode.SupportPlaceholderAddress*@ <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="LandsstaevneAddress" name="delivery5.Address" data-val-min="4" data-val="true" data-val-required="@*@settingsNode.SupportErrorAddress*@" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="contourField postnr textfield col-xs-4">
                                <label for="LandsstaevneZip">@settingsNode.SupportPlaceholderZip <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="LandsstaevneZip" name="delivery5.Zip" data-val-min="3" data-val-max="5" data-val="true" data-val-required="@settingsNode.SupportErrorZip" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField by textfield col-xs-8">
                                <label for="LandsstaevneCity">@settingsNode.SupportPlaceholderCity <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="LandsstaevneCity" name="delivery6.City" data-val="true" data-val-required="@settingsNode.SupportErrorCity" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="contourField textfield col-xs-4">
                                <label for="LandsstaevneAge">Alder <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="LandsstaevneAge" name="delivery8.Age" />
                                </div>
                            </div>
                            <div class="contourField by radiobuttons col-xs-8">
                                <label for="LandsstaevneVegetar">Vegetar</label>
                                <div>
                                    <input type="radio" id="LandsstaevneVegetarNej" name="delivery12.Vegetar" value="Nej" checked="checked"/> <label for="LandsstaevneVegetarNej">Nej</label>
                                    <input type="radio" id="LandsstaevneVegetarJa" name="delivery12.Vegetar" value="Ja"/> <label for="LandsstaevneVegetarJa">Ja</label>
                                </div>
                            </div>
                        </div>

                        <div class="contourField solution dropdown">
                            <label for="LandsstaevneSolution">Vælg løsning <span class="contourIndicator">*</span></label>
                            <span class="error-msg" style="display:none;">Du skal vælge en af mulighederne</span>
                            <div>
                                <select id="LandsstaevneSolution" name="delivery9.Solution" data-val="true" data-val-required="Vælg en af mulighederne">
                                    <option value="">Vælg løsning</option>
                                    <option id="UdenOvernatning" value="30000">Uden overnatning (300 kr)</option>
                                    <option id="3PersVaer" value="30000">3 pers. værelse (300 kr)</option>
                                    <option id="DobbeltVaer" value="50000">Dobbeltværelse (500 kr)</option>
                                    <option id="EnkeltVaer" value="80000">Enkeltværelse (800 kr)</option>
                                </select>
                            </div>
                        </div>

                        <div class="contourField comment textfield">
                            <label for="LandsstaevneComment">Kommentar og ønske til værelseskammerat</label>
                            <div>
                                <textarea id="LandsstaevneComment" name="delivery10.Comment"></textarea>
                            </div>
                            <div>
                                <input type="checkbox" checked name="delivery13.RelevantInfo" id="LandsstaevneRelevantInfo" /> <label for="delivery13.RelevantInfo">Vil du have tilsendt relevant information via e-mail (inkl. materialesamlingen)</label><br /><br />
                            </div>
                        </div>

                        <div class="contourField comment">
                            <label>Når du trykker tilmeld og betal kan du vælge mellem betalingskort eller mobilepay</label>
                        </div>

                    </div>
                </div>
            </fieldset>
            
            <div class="contourNavigation row-fluid">
                <div class="col-md-12">
                    <input type="button" class="btn btn-submit" value="Tilmeld og betal" id="40EF8970-EA0E-4ACD-99C0-4F713047B5D7" />
                    <input type="submit" class="btn primary" value="Tilmeld og betal" id="submitToDibs">
                </div>
            </div>
        </div>
    </form>
</div>