﻿@using DisPlay.Amnesty.Helpers
@using DisPlay.Amnesty.Models
@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    if (!Request.IsSecureConnection)
    {
        //return;
    }

    var siteSettings = ContentHelper.FindSiteSettings(Model);
    var confirmationPage = siteSettings.GetPropertyValue<IPublishedContent>("confirmationPageSupport");
    var confirmationPageBecomeMember = siteSettings.GetPropertyValue<IPublishedContent>("confirmationPageMember");

    var acceptUrl = confirmationPage.UrlAbsolute();

    var callbackUrl = "http://" + Request.Url.Host + "/Umbraco/api/Dibs/HandleCallback";
    SettingsNodeModel settingsNode = ContentHelper.FindSiteSettings(Model);
}
<!-- Alternate Mobilepay:https://payment.architrade.com/paymentweb/start.action?paytype=MPO_Nets   -->
<div class="contour donateSinglePage">
    <form action="https://payment.architrade.com/shoppages/9263093/payment.pml" data-default-action="https://payment.architrade.com/shoppages/9263093/payment.pml" data-mobilepay-action="https://payment.architrade.com/cgi-ssl/wallet_payment.cgi?paytype=MPO_Nets" data-member-action="@confirmationPageBecomeMember.Url" id="donationForm" data-nodeid="@Model.Id" data-active-step="1">
        <input type="hidden" name="accepturl" value="@acceptUrl" />
        <input type="hidden" id="dibsAmount" name="amount" value="25000" />
        <input type="hidden" name="currency" value="208" /> @* 208 = DKK - must be number for use with MobilePay according to DIBS' documentation *@
        <input type="hidden" name="merchant" value="9263093" />
        <input type="hidden" name="acquirer" value="199">
        <input type="hidden" name="orderid" value="0" />
        <input type="hidden" name="lang" value="da" />
        <input type="hidden" name="callbackurl" value="@callbackUrl" />
        @if (settingsNode.DibsTestMode)
        {
            <input type="hidden" name="test" value="1" />
        }

        <div class="contourPage">
            <div class="formfields-progress"><div class="formfields-progress__bar"></div></div>
            <h4 class="contourPageName">
                <div class="hide-on-repeated-payment">@settingsNode.SupportHeadline</div>
                <div class="show-on-repeated-payment">@settingsNode.MemberHeadline</div>
                <span class="subtitle show-on-repeated-payment">
                    <span class="show-on-step-1">Vælg et månedligt beløb</span>
                    <span class="show-on-step-2">Kontaktinfo</span>
                    <span class="show-on-step-3">Tilmeld til betalingsservice</span>
                </span>
            </h4>
            <fieldset class="contourFieldSet">
                <div class="row-fluid">
                    <fieldset class="span4 col-md-4 active-step">
                        <div class="row radiobuttonlist nomargin">
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="donate100" name="radioAmount" value="12500" /> @*Remember to change value DIBSAmount as well*@
                                    <label for="donate100" class="first fieldLabel">125 kr</label>
                                </div>
                            </div>
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="donate250" name="radioAmount" value="25000" checked />
                                    <label for="donate250" class="second fieldLabel">250 kr</label>
                                </div>
                            </div>
                            <div class="contourField col-xs-4">
                                <div>
                                    <input type="radio" id="donate750" name="radioAmount" value="75000" />
                                    <label for="donate750" class="third fieldLabel">750 kr</label>
                                </div>
                            </div>
                        </div>

                        <div class="otherAmount hide-next">
                            <span class="btn btn-info">@settingsNode.SupportChooseCustomAmount</span>
                        </div>

                        <div class="contourField textfield">
                            <span class="help-block alternate" style="right:65px;">Minimumsbeløb for medlemsskab er 25 kr om måneden</span>
                            <label for="customAmount">@settingsNode.SupportTypeAmount <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="customAmount" name="customAmount" data-val-min="1" data-val-max="12" data-val-required="@settingsNode.SupportErrorAmount" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>

                        <div class="toggler">
                            <input type="checkbox" id="repeatedPayment" name="repeatedPayment" />
                            <div class="toggler__area"><div class="toggler__text"><span>Én gang</span></div><div class="toggler__switch"><div class="toggler__switch-area"><label for="repeatedPayment"></label><div class="toggler__switch-rail"><div class="toggler__switch-handle"></div></div></div></div><div class="toggler__text"><span>Månedligt</span></div></div>
                        </div>

                        <div class="contourField fornavn textfield">
                            <label for="donateName">@settingsNode.SupportPlaceholderName <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" class="text" id="donateName" name="delivery1.Name" data-val="true" data-val-required="@settingsNode.SupportErrorName" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField efternavn textfield">
                            <label for="donateSurname">@settingsNode.SupportPlaceholderSurname <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" class="text" id="donateSurname" name="delivery2.Surname" data-val="true" data-val-required="@settingsNode.SupportErrorSurname" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField mobiltelefon textfield">
                            <label for="donateMobile">@settingsNode.SupportPlaceholderPhone</label>
                            <div>
                                <input type="tel" id="donateMobile" name="delivery4.Mobile" data-val-min="7" data-val-max="12" data-val="false" data-val-required="Indtast gyldigt tlf.nr." />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="contourField email textfield">
                            <label for="donateEmail">@settingsNode.SupportPlaceholderEmail <span class="contourIndicator">*</span></label>
                            <span class="help-block">Bruges til kvittering.</span>
                            <div>
                                <input type="email" id="donateEmail" name="delivery3.Email" data-val="true" data-val-required="@settingsNode.SupportErrorEmail" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <h3>@settingsNode.SupportTaxDeduction</h3>
                        <div class="contourField cpr textfield">
                            <label for="donateCpr">@settingsNode.SupportPlaceholderCPR <span class="contourIndicator show-on-repeated-payment">*</span></label>
                            <!-- TODO: Lav et felt til help-text under indstilling > Støt -->
                            <span class="help-block">Vi bruger dit CPR-nummer til at sikre dig skattefradrag for den del af din donation, der ligger ud over det årlige kontingent på 295 kr. / studerende, ledige og pensionister 195 kr.
Alle informationer du giver i forbindelse med din betaling behandles fortroligt og efter gældende regler.​</span>
                            <div>
                                <input type="tel" data-type="cpr" id="donateCpr" name="delivery7.Cpr" data-val-min="10" data-val-max="11" data-val="false" data-val-required="@settingsNode.SupportErrorCPR" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset disabled class="span4 col-md-4 show-on-repeated-payment">
                        <h3>@settingsNode.SupportContactInfo</h3>
                        <!-- TODO: The following New field needs backend attention -->
                        <div class="contourField address textfield">
                            <label for="memberAddress">Adresse@*@settingsNode.SupportPlaceholderAddress*@ <span class="contourIndicator">*</span></label>
                            <div>
                                <input type="text" id="memberAddress" name="delivery5.Address" data-val-min="4" data-val="true" data-val-required="Indtast adresse" />
                                <span class="field-validation-valid"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="contourField postnr textfield col-xs-4">
                                <label for="memberZip">@settingsNode.SupportPlaceholderZip <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="number" id="memberZip" name="delivery5.Zip" data-val-min="4" data-val-max="4" data-val="true" data-val-required="@settingsNode.SupportErrorZip" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField by textfield col-xs-8">
                                <label for="memberCity">@settingsNode.SupportPlaceholderCity <span class="contourIndicator">*</span></label>
                                <div>
                                    <input type="text" id="memberCity" name="delivery6.City" data-val="true" data-val-required="@settingsNode.SupportErrorCity" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset disabled class="span4 col-md-4 show-on-repeated-payment">
                        <h3>@settingsNode.MemberBetalingsService</h3> <!-- Her -->
                        <div class="row">
                            <div class="contourField reg textfield col-xs-4">
                                <label for="memberZip">@settingsNode.MemberRegnr <span class="contourIndicator">*</span></label> <!-- Her -->
                                <div>
                                    <input type="number" id="memberReg" name="delivery9.Reg" data-val-min="4" data-val-max="4" data-val="true" data-val-required="@siteSettings.MemberErrorRegnr" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                            <div class="contourField konto textfield col-xs-8">
                                <label for="memberCity">@settingsNode.MemberKontonr <span class="contourIndicator">*</span></label> <!-- Her -->
                                <div>
                                    <input type="number" id="memberKonto" name="delivery10.Konto" data-val="true" data-val-required="@siteSettings.MemberErrorKontonr" />
                                    <span class="field-validation-valid"></span>
                                </div>
                            </div>
                        </div>
                        <div class="contourField stud checkbox">
                            <label for="memberStud">@settingsNode.SupportStudentCheckbox</label>
                            <div>
                                <input type="checkbox" name="delivery8.Stud" id="memberStud">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </fieldset>

            <div class="contourNavigation show-on-repeated-payment">
                <div class="row-fluid">
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-grey btn-prev show-on-step-2 show-on-step-3" value="Tilbage" />
                    </div>
                    <div class="col-xs-6 align-right">
                        <div class="arrow-button-wrapper">
                            <input type="button" class="btn btn-next show-on-step-1 show-on-step-2" value="Videre" />
                            <input type="button" class="btn btn-submit-member show-on-step-3" value="Bliv medlem" />
                            <div class="arrow-point"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contourNavigation hide-on-repeated-payment">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="submit arrow-button-wrapper">
                            <input type="button" class="btn btn-submit" value="@settingsNode.SupportButtonSend" id="654a0386-14a0-4508-a7c5-7ae962f4d965" />
                            <input type="submit" class="btn primary" value="@settingsNode.SupportButtonSend" name="submit" id="submitToDibs">
                            <div class="arrow-point"></div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="mobilepay">
                            <div class="submit arrow-button-wrapper">
                                <input type="button" class="btn btn-mobilepay" value="Støt med MobilePay" />
                                <div class="arrow-point"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>