﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.PageBaseViewModel>


<p>@Model.Headline</p>
@if (@Model.Image != null)
{
    <p>@Model.Image.GetCropUrl(100, 100)</p>
}
@Html.Raw(Model.Text)
<p>@Model.Timestamp</p>
