@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Models.BillBoard>



@{
    if (@Model.Layout == "Key Visual")
    {
        <!-- #billboard.key-visual begins -->
    <section id="billboard" class="key-visual">
        <!--style="background-image:url(static/dist/media/tooyoungtowed.jpg);"-->
        @{
        if (@Model.BackgroundImage != null)
        {
            <div class="bg" data-src-xs="@Model.BackgroundImage.GetCropUrl(640)" data-src-sm="@Model.BackgroundImage.GetCropUrl(1280)" data-src-lg="@Model.BackgroundImage.GetCropUrl(1920)">
                <noscript>
                    <img src="@Model.BackgroundImage.Url" alt="@Model.BackgroundImage.AlternateText">
                </noscript>
            </div>
        }
        }
        <!-- Place for the main heading -->
        <div class="copy">
            <h1>
                @Html.Raw(Model.Headline)
            </h1>
            <a href="@Model.ButtonLink" class="btn btn-cta btn-yellow">
                <hr class="line-topleft" />
                <hr class="line-topright" />
                <hr class="line-left" />
                <hr class="line-right" />
                <span>
                    @Model.ButtonText
                </span>
            </a>
        </div>
        @if (@Model.BackgroundImage != null && Model.BackgroundImage.Photographer != String.Empty)
        {
            <div class="photo-credits" data-showbg="@Model.BackgroundImage.ShowBG">
                <p class="photographer">@Model.BackgroundImage.Photographer</p>
                <p class="description">@Model.BackgroundImage.Description</p>
            </div>
        }
    </section> <!-- #billboard.key-visual ends -->
    
     }   else {
         <!-- #billboard.breaking-news begins -->
        <section id="billboard" class="breaking-news">
            <!--style="background-image:url(static/dist/media/tooyoungtowed.jpg);"-->
            @{
                if (@Model.BackgroundImage != null)
                {
            <div class="bg" data-src-xs="@Model.BackgroundImage.GetCropUrl(640)" data-src-sm="@Model.BackgroundImage.GetCropUrl(1280)" data-src-lg="@Model.BackgroundImage.GetCropUrl(1920)">
                <noscript>
                    <img src="@Model.BackgroundImage.Url" alt="@Model.BackgroundImage.AlternateText">
                </noscript>
            </div>
                }
}
            <!-- Place for the main heading -->
            <div class="copy">
                <h1>
                    @Html.Raw(Model.Headline)
                </h1>
                <a href="@Model.ButtonLink" class="btn btn-cta btn-dark">
                    <hr class="line-topleft" />
                    <hr class="line-topright" />
                    <hr class="line-left" />
                    <hr class="line-right" />
                    <span>
                        @Model.ButtonText
                    </span>
                </a>
            </div>            
        </section> <!-- #billboard.breaking ends -->
     }
}
