﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    <nav>
        <ul class="breadcrumb">
            @foreach (var crumb in Model.Breadcrumb)
            {
                if (crumb.Id != Model.Id)
                {
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 204 3 7" xml:space="preserve">
                            <g class="breadcrumb-arrow">
                            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="2.3,207.2 0.8,204 0,204.3 1.7,208.1 0.4,210.7 1.2,211
			                        3,207.5 		" />
                        </g>
                        </svg>
                        <a href="@crumb.Url">
                            <span itemprop="title">@crumb.Name</span>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 204 3 7" xml:space="preserve">
                        <g class="breadcrumb-arrow">
                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="2.3,207.2 0.8,204 0,204.3 1.7,208.1 0.4,210.7 1.2,211
			                        3,207.5 		" />
                        </g>
                        </svg>
            @crumb.Name
                    </li>
                }
            }
        </ul>
    </nav>
}

