﻿@using DisPlay.Amnesty.ViewModels
@using DisPlay.Amnesty.ViewModels.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Models.MenuModel>
@{

    <nav class="service-menu col-md-9">
        @RecurssiveMenu(Model.FooterNavigation)
    </nav>

}

@helper RecurssiveMenu(IEnumerable<MenuLinkModel> list)
{
    <ul>
        @foreach (var link in list)
        {
            <li class="@(link.IsActive ? "selected" : "")">
                <a href="@link.Url" title="@link.Text">@link.Text</a>
            </li>
        }
    </ul>
}
