@using DisPlay.Amnesty.Helpers
@using DisPlay.Amnesty.Models
@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    var siteSettings = ContentHelper.FindSiteSettings(Model);
    var acceptUrl = "/";
    var confirmationPage = siteSettings.GetPropertyValue<IPublishedContent>("confirmationPageMember");
    if (confirmationPage != null)
    {
        acceptUrl = "http://" + Request.Url.Host + confirmationPage.Url;
    }

    SettingsNodeModel settingsNode = ContentHelper.FindSiteSettings(Model);
}


<div class="row nomargin">
    <div class="col-sm-6 col-xl-4">
        <h4>@settingsNode.FooterPayoff</h4>
        <a class="contact-email" href="mailTo:@settingsNode.FooterEmail">@settingsNode.FooterEmail</a>
        @Html.Raw(@settingsNode.FooterAddress)
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="row nomargin service-wrap">
            @Html.Partial("FooterNavigation", Model.FooterNavigation)
            @if (!Model.HidePageHeadingAndTags)
            {
                <div class="social col-md-3">
                    <a href="https://twitter.com/amnestydk" class="share-btn goto-twitter" target="Gå til Amnesty på Twitter">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 168.9 25.3 25.3" xml:space="preserve">
                        <circle cx="12.7" cy="181.5" r="10" />
                        <path d="M12.7,168.9c-7,0-12.7,5.7-12.7,12.7c0,7,5.7,12.7,12.7,12.7c7,0,12.7-5.7,12.7-12.7C25.3,174.6,19.7,168.9,12.7,168.9z
	                                         M17.8,179.3c0,0.1,0,0.2,0,0.3c0,3.3-2.5,7.1-7.1,7.1c-1.4,0-2.7-0.4-3.8-1.1c0.2,0,0.4,0.1,0.6,0.1c1.1,0,2.2-0.4,3.1-1
	                                        c-1.1,0-2-0.7-2.3-1.7c0.2,0.1,0.3,0.1,0.5,0.1c0.2,0,0.5-0.1,0.7-0.1c-1.1-0.2-2-1.3-2-2.4c0,0,0,0,0-0.1c0.3,0.2,0.7,0.3,1.1,0.3
	                                        c-0.7-0.5-1.1-1.2-1.1-2.1c0-0.5,0.1-0.9,0.3-1.3c1.3,1.5,3.1,2.5,5.2,2.6c-0.1-0.2-0.1-0.4-0.1-0.6c0-1.4,1.1-2.5,2.5-2.5
	                                        c0.7,0,1.4,0.3,1.8,0.8c0.6-0.1,1.1-0.3,1.6-0.6c-0.2,0.6-0.6,1.1-1.1,1.4c0.5-0.1,1-0.2,1.4-0.4C18.7,178.5,18.3,178.9,17.8,179.3z
	                                        " />
                                        </svg>
                    </a>
                    <a href="https://www.facebook.com/amnesty.dk" class="share-btn goto-facebook" target="Gå til Amnesty på facebook">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 130 25.3 25.3" xml:space="preserve">
                        <circle cx="12.7" cy="142.7" r="10" />
                        <path d="M12.7,130c-7,0-12.7,5.7-12.7,12.7s5.7,12.7,12.7,12.7c7,0,12.7-5.7,12.7-12.7C25.3,135.7,19.6,130,12.7,130z M15.6,138.8
	                                        h-1.9c-0.2,0-0.5,0.3-0.5,0.7v1.4h2.4v2h-2.4v5.9H11v-5.9H9v-2h2v-1.1c0-1.7,1.1-3,2.7-3h1.9L15.6,138.8L15.6,138.8z" />
                                        </svg>

                    </a>
                </div>
            }
            
        </div>
    </div>

</div>