﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.EmnerViewModel>

@{

    <!-- Sektions Menu -->
    var sectionNumber = 0;
    <h2>EMNER</h2>
    <div class="section-menu-wrap">
        <div class="section-menu">
            <nav>
                <ul class="row clearfix nomargin">
                    @foreach (var sektion in Model.Sections.Sections)
                    {
                        sectionNumber++;

                        <li>
                            <a href="#@sektion.Name.ToUrlSegment()" data-section-no="@sectionNumber" title="GÅ til @sektion.Name">@sektion.Name</a>
                            <hr />
                            <hr class="last" />
                            <i></i>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    <!-- Get Top Section -->
    if (Model.TopSection != null) {
        @Html.Partial("Partials/topSection", Model.TopSection)
    }

    <!-- Loop Modules in Sections -->
    foreach (var sektion in Model.Sections.Sections)
    {
        sectionNumber++;
        var sectionId = @sektion.Name.ToUrlSegment();

        <section id="@sectionId" class="ribbon topic-wrap" data-section-no="@sectionNumber">
            <div class=" row indexed nomargin">
                <div class="category col-xs-2 col-sm-3">
                    <header>@sektion.Name</header>
                </div>
                @foreach (var module in sektion.Modules)
                {
                    @Html.Partial("Partials/Modules/" + module.ViewName, module)
                }
            </div>
        </section>
    }

}
