﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.ListBaseViewModel>

@foreach (var child in Model.RelevantChildren)
{
    <div class="list-item row nomargin">
        @if (child.Image != null)
        {
            <img src="@child.Image.GetCropUrl(150, 150)" class="thumb" />
        }
        <a href="@child.Url" title="@child.Name" class="content">
            

            <h3>@child.Headline<i></i></h3>

            <time datetime="@child.Timestamp.ToString("yyyy-MM-dd")">@child.Timestamp.ToString("d. MMMM yyyy")</time>

            <p>@Html.Raw(child.Text)</p>
            <hr />
        </a>
    </div>
}

@{
    var nextButtonClass = "btn btn-cta btn-dark";
    var previousButtonClass = "btn btn-cta btn-dark";
    if (Model.CurrentPage == 0)
    {
        previousButtonClass += " hidden";
    }
    if (Model.CurrentPage >= Model.NumberOfPages - 1)
    {
        nextButtonClass += " hidden";
    }
}
<div class="tab-pagination row nomargin">
    <div class="col-xs-6">
        <a class="@previousButtonClass" href="@Model.PreviousPage">
            <hr class="line-topleft" />
            <hr class="line-topright" />
            <hr class="line-left" />
            <hr class="line-right" />
            <span>
                Forrige @Model.NumberOfItemsPerPage @Model.Headline
            </span>
        </a>
    </div>
    <div class="col-xs-6">
        <a class="@nextButtonClass" href="@Model.NextPage">
            <hr class="line-topleft" />
            <hr class="line-topright" />
            <hr class="line-left" />
            <hr class="line-right" />
            <span>
                Næste @Model.NumberOfItemsPerPage @Model.Headline
            </span>
        </a>
    </div>
</div>
