﻿@using DisPlay.Amnesty.ViewModels
@using DisPlay.Amnesty.ViewModels.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Models.MenuModel>

@{

    <div id="top-menu" class="page-menu main-menu">
        <nav role="navigation">
            <h2 class="visuallyhidden">Hovednavigation</h2>
            @RecurssiveMenu(Model.MainMenu)
        </nav>
    </div>
    @helper RecurssiveMenu(IEnumerable<MenuLinkModel> list)
    {
        <ul class="row nomargin">
            @{ int counter = 0; }
            @foreach (var link in list)
            {
                counter++;

                <li class="@(link.IsActive ? "selected" : "")">
                    
                    @if (counter >= list.Count())
                    {
                        <a href="@link.Url" title="@link.Text">@link.Text</a>
                    }
                    else
                    {
                        <a href="@link.Url" title="@link.Text">@link.Text</a>
                    }
                    
                    <!-- UDSKRIV UNDERMENU PUNKTER I EN NY <UL> her -->
                    @if (link.Children.Any())
                    {
                        <div class="expand"><span>+</span></div>
                        @RecurssiveMenu(link.Children)
                    }
                </li>
            }
</ul>
    }
}
