﻿@using DisPlay.Amnesty.ViewModels
@using DisPlay.Amnesty.ViewModels.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Models.MenuModel>
@{
    <div id="sub-menu" class="page-menu sub-menu">
        <nav role="navigation">
            <h2 class="visuallyhidden">Undermenu</h2>
            @RecurssiveMenu(Model.BurgerNavigation)

        </nav>
    </div> <!-- /.sub-menu ends -->

}

@helper RecurssiveMenu(IEnumerable<MenuLinkModel> list)
{
    <ul class="row nomargin">
        @foreach (var link in list)
        {
            <li class="@(link.IsActive ? "selected" : "")">
                <a href="@link.Url" target="@link.Target" title="@link.Text">@link.Text</a>
                <!-- UDSKRIV UNDERMENU PUNKTER I EN NY <UL> her -->
                @if (link.Children.Any())
                {
                    <div class="expand"><span>+</span></div>
                    @RecurssiveMenu(link.Children)
                }
            </li>
        }
    </ul>
}
