﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@if (Model.SearchTags.Any())
{
    <!-- Search Tags begins -->
    <span class="search-tags row nomargin">
        <svg version="1.1" class="svg-tags" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38" height="30" x="0px" y="0px"
             viewBox="0 50 49 36" enable-background="new 0 50 49 36" xml:space="preserve">
        <g>
        <path d="M29.9,85.2L14.5,71l18.6-18.5h11.5l3.7,3.9v10.7L29.9,85.2z M15.7,71l14.2,13l17.5-17.2v-10l-3.2-3.4H33.4L15.7,71z" />
        <polygon points="14.8,79.7 0,66 16.2,50 26.1,50 29.3,53.3 28.6,53.9 25.8,50.8 16.5,50.8 1.2,66 14.7,78.4 16.7,76.3 17.3,76.9
		                        " />
        <path d="M23.7,58.2c-1.1,0-2.1-0.9-2.1-2.1s0.9-2.1,2.1-2.1s2.1,0.9,2.1,2.1S24.8,58.2,23.7,58.2z M23.7,55c-0.7,0-1.2,0.5-1.2,1.2
		                        c0,0.7,0.5,1.2,1.2,1.2c0.7,0,1.2-0.5,1.2-1.2C24.9,55.5,24.4,55,23.7,55z" />
        <path d="M41.8,61.6c-1.3,0-2.3-1-2.3-2.3c0-1.2,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C44.1,60.5,43.1,61.6,41.8,61.6z M41.8,57.8
		                        c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S42.7,57.8,41.8,57.8z" />
                        </g>
                    </svg>
        @foreach (var tag in Model.SearchTags)
        {
            <a href="@Model.SearchPageUrl?q=@tag">@tag</a>
        }

    </span>
    <!-- Search Tags ends -->
}
