﻿@using Archetype.Models
@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.SectionWrap>

@{
    var sectionNumber = 0;
    var backLinkUrl = Model.CurrentNode.Parent.Url;
    string backLinktext = "Tilbage";
    if (Model.CurrentNode.DocumentTypeAlias.Equals("subsiteForside"))
    {
        backLinkUrl = "http://amnesty.dk";
        backLinktext = "Amnesty.dk";
    }

    //var sectionId = "";
    <div class="section-menu-wrap">
        <div class="section-menu" data-spy="affix" data-offset-top="150">
            <nav>
                <a href="@backLinkUrl" class="back-btn">
                    <div>@backLinktext</div>
                    <i></i>
                </a>
                <ul class="row clearfix nomargin">
                    @foreach (var sektion in Model.Sections)
                    {
                        if (sektion.Name == null)
                        {
                            continue;
                        }
                        sectionNumber++;
                        <li>
                            @*sectionId = @sektion.Name.Replace(" ", "-").Replace("&", "og").Replace("Æ", "AE").Replace("æ", "ae").Replace("Ø", "Oo").Replace("ø", "oo").Replace("Å", "Aa").Replace("å", "aa");*@
                            <a href="#@sektion.Name.ToUrlSegment()" data-section-no="@sectionNumber" title="GÅ til @sektion.Name">@sektion.Name</a>
                            <i></i>
                            <hr class="first"/>
                            <hr class="last"/>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

}
