﻿@using Archetype.Models
@inherits UmbracoViewPage<IEnumerable<DisPlay.Amnesty.ViewModels.Section>>

    @{
        var sectionNumber = 0;
        foreach (var sektion in Model)
        {
            sectionNumber++;
            if (sektion.Name == null)
            {
                continue;
            }
            @*sectionId = @sektion.Name.Replace(" ", "-").Replace("&", "og").Replace("Æ", "AE").Replace("æ", "ae").Replace("Ø", "Oo").Replace("ø", "oo").Replace("Å", "Aa").Replace("å", "aa");*@

            var sectionId = @sektion.Name.ToUrlSegment();


            <section class="ribbon" id="@sectionId" data-section-no="@sectionNumber">
                <div class="row indexed nomargin">
                    <div class="category col-sm-3">
                        <div class="index-wrap">
                            <div class="index">@sectionNumber.ToString("D2"). </div>
                            <header> @sektion.Name</header>
                        </div>
                    </div>
                   
                    @foreach (var module in sektion.Modules)
                    {
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 @if (module.Theme != null)
                        {<text>@module.Theme.ClassName</text>}"  >
                        @Html.Partial("Partials/Modules/" + module.ViewName, module)
                        </div>
                    }
                </div>
            </section>
        }
    }
