@inherits UmbracoViewPage<IEnumerable<DisPlay.Amnesty.ViewModels.Models.ThemeModel>>

@if (Model.Any())
{
    <style>
        @foreach (var theme in Model)
        {
            if (!string.IsNullOrWhiteSpace(@theme.BackgroundColor))
                {<text>
                     .@theme.ClassName {
                        background-color: @theme.BackgroundColor !important;
                    }
                 </text>
            }

            if (!string.IsNullOrWhiteSpace(@theme.TextColor))
                {<text>
                     .@theme.ClassName {
                        color: @theme.TextColor;
                    }
                    .@theme.ClassName label {
                        color: @theme.TextColor !important;
                    }
                 </text>
            }

            if (!string.IsNullOrWhiteSpace(@theme.BackgroundColor))
                {<text>
                    .@theme.ClassName .module-wrap {
                        background-color: @theme.BackgroundColor;
                    }
                 </text>
            }

            if (!string.IsNullOrWhiteSpace(@theme.HeaderColor))
                {<text>
                    .@theme.ClassName h1, .@theme.ClassName h2, .@theme.ClassName h3 {
                        color: @theme.HeaderColor;
                    }
                 </text>
            }

            if (!string.IsNullOrWhiteSpace(@theme.LinkColor))
                {<text>
                    .@theme.ClassName .module-wrap a {
                        color: @theme.LinkColor;
                    }
                 </text>
            }

            if (!string.IsNullOrWhiteSpace(@theme.LinkHover))
                {<text>
                    .@theme.ClassName .module-wrap a:hover {
                        color: @theme.LinkHover;
                    }
                 </text>
            }

            if (!string.IsNullOrWhiteSpace(@theme.ButtonColor))
                {<text>
                .@theme.ClassName .btn-squared {
                    border-color: @theme.ButtonColor !important;
                    color: @theme.ButtonColor !important;
                }
                .@theme.ClassName input[type=submit].btn, .@theme.ClassName input[type=button].btn {
                    background: @theme.ButtonColor;
                }
                 </text>
            }

            if (!string.IsNullOrWhiteSpace(@theme.ButtonHover))
                {<text>
                    .@theme.ClassName .btn-squared:hover {
                        border-color: @theme.ButtonHover !important;
                        color:@theme.ButtonHover !important;
                    }
                 </text>
            }
        }
    </style>
}

