﻿@using Archetype.Models
@inherits UmbracoViewPage<IEnumerable<DisPlay.Amnesty.ViewModels.Section>>

@{
    var sectionNumber = 0;
    foreach (var sektion in Model)
    {
        sectionNumber++;
        @*sectionId = @sektion.Name.Replace(" ", "-").Replace("&", "og").Replace("Æ", "AE").Replace("æ", "ae").Replace("Ø", "Oo").Replace("ø", "oo").Replace("Å", "Aa").Replace("å", "aa");*@

        <section id="@sektion.Name.ToUrlSegment()" class="ribbon topic-wrap" data-section-no="@sectionNumber">
            <div class="row nomargin">
                <div class="category col-xs-2 col-sm-3">
                    <header>@sektion.Name</header>
                </div>
                @foreach (var module in sektion.Modules)
                {
                    @Html.Partial("Partials/Modules/" + module.ViewName, module)
                }
            </div>
        </section>
    }
}
