﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.TopSection>

 <section class="ribbon sticky-form-section">
        
    <div class="row nomargin">
            <div class="category col-md-3">
                <div class="index-wrap form-row affix">
                    @foreach (var module in Model.Modules)
                    {
                        if (module.ViewName.Equals("skrivunderFormular"))
                        {
                            @Html.Partial("Partials/Modules/" + module.ViewName, module)
                        }

                    }   
                </div>
            </div>

        @foreach (var module in Model.Modules)
        {
            if (!module.ViewName.Equals("skrivunderFormular"))
            {
                <div class="col-md-9" style="padding:0;"> <!-- Originaly col-sm-9, however on iPad that will hide some of the text as the form in right side is an overlay and is upon on text -->
                    @Html.Partial("Partials/Modules/" + module.ViewName, module)
                </div>
            }
        }
    </div>
</section>