﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.TopSection>

<section class="ribbon">
    @foreach (var module in Model.Modules)
        {
        <div class="row nomargin @if (module.Theme != null)
                        {<text>@module.Theme.ClassName</text>}">
            @Html.Partial("Partials/Modules/" + module.ViewName, module)
        </div>                
        }
</section>