﻿@model Umbraco.Forms.Web.Models.Backoffice.EntrySearchResultCollection
@foreach (var header in Model.schema)
{@header.Name<text>:</text>}

@foreach (var row in Model.Results)
{

    <text>"</text>foreach (var col in row.Fields)
    {@Html.Raw(col)<text>:</text>}
    <text>"</text>
    @Environment.NewLine

}