@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Accordion>

<div class="module-wrap text-content">
    <div class="content">
        <div class="accordion">
            @foreach (var accordion in Model.Accordions)
            {
                <div class="accordion__item">
                    <h2>@accordion.Headline</h2>
                    <div class="accordion__item--text">
                        @accordion.Text
                    </div>
                </div>
            }
        </div>
    </div>
</div>