﻿@using Archetype.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Contacts>

<div class="module-wrap boxes">
    <div class="row">
        @{
            foreach (var box in Model.Boxes)
            {
                @Html.Partial("Partials/Contacts/" + box.ViewName, box)
            }
        }
    </div>
</div>
