﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.DownloadMaterial>

<div class="module-wrap download">
    <div class="content">
        <h3 class="manchet">@Model.Headline</h3>
        <div class="row">
            @{
                foreach (var file in Model.Files)
                {
                    <a class="col-xs-4 col-sm-3 col-lg-2" href="@file.Url" download title="@file.Name">
                        <span class="icon"></span>
                        <p>@file.FileTitle</p>
                    </a>
                }
            }
        </div>
    </div>
</div>

