﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.ExternalContent>

<div class="module-wrap text-content text-two-col">
    <div class="row reverse"> <!-- reverse class makes sure on mobile that iframes comes before textcontent-->
        <div class="col-md-6">
            <div class="content">
                @Model.TextContent
            </div>
        </div>
        <div class="col-md-6">
            <div class="framecontent">
                @Html.Raw(Model.ScriptContent)
            </div>
        </div>
    </div>
</div>
