﻿@using DisPlay.Amnesty.ViewModels
@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Formular>

@{
    var moduleWrapClass = "module-wrap form-module";
    var flipClass = "no-reverse";

    if (Model.BlackText)
    {
        moduleWrapClass += " black-text";
    }
    else
    {
        moduleWrapClass += " white-text";
    }
    if(Model.FlipForm)
    {
        flipClass = "reverse";

    } else
    {
        flipClass = "flipClass";
    }
}



<div class="@moduleWrapClass">
    <div class="row nomargin form-row @flipClass">
        <div class="col-md-5">
            @{
                if (Model.Image != null)
                {
                    <div class="bg" data-src-xs="@Model.Image.GetCropUrl(320, ratioMode: ImageCropRatioMode.Height)" data-src-sm="@Model.Image.GetCropUrl(480, ratioMode: ImageCropRatioMode.Height)" data-src-lg="@Model.Image.GetCropUrl(450, ratioMode: ImageCropRatioMode.Height)">
                        <noscript>
                            <img src="@Model.Image.Url" alt="@Model.Image.AlternateText">
                        </noscript>
                    </div>
                }
            }
            <div class="content">
                @Model.BodyText
            </div>
        </div>
        <div class="col-md-7">
            @{
                if (Model.Form != null)
                {
                    var s = Model.Form.ToString();
                    var g = new Guid(s);
                    
                    //støt formular
                    if (s == "4eb8cefc-7d4c-493d-8ae4-347db034194f")
                    {
                        @Html.Partial("Forms/DibsForm", (BaseViewModel)UmbracoContext.Current.PublishedContentRequest.PublishedContent);
                    }
                    //Nyt donationsmodul variant 1
                    else if (s == "984648d9-8784-4cdd-bbcf-9a5b34fc9164" /*test*/ || s == "8dcfc161-26a9-441f-a34b-259b634c2408" /*live*/)
                    {
                        @Html.Partial("Forms/NewDonationModuleVariant1", (BaseViewModel)UmbracoContext.Current.PublishedContentRequest.PublishedContent);
                    }
                    //Nyt donationsmodul Bliv medlemny variant
                    else if (s == "91e73aa4-80cf-495e-a979-c1022f728cf8" /*test*/ || s == "e79640ce-6e74-41ea-86ab-4c660ea6d201"/*live*/)
                    {
                        @Html.Partial("Forms/NewDonationModuleBlivMedlem", (BaseViewModel)UmbracoContext.Current.PublishedContentRequest.PublishedContent);
                    }

                    // bliv medlem
                    else if (s == "047763e2-5607-4b77-bf7f-b548eaaeebf8")
                    {
                        @Html.Partial("Forms/BlivMedlem", (BaseViewModel)UmbracoContext.Current.PublishedContentRequest.PublishedContent);
                    }
                    // Cpr formular
                    else if (s == "d6402aab-ce21-42be-b08d-15fb80725b5d")
                    {
                        @Html.Partial("Forms/CprForm", (BaseViewModel)UmbracoContext.Current.PublishedContentRequest.PublishedContent);
                    }
                    // Landstaevne formular
                    else if (s == "db39ce5e-bdde-4a4f-a2c8-7697722bf9a2")
                    {
                        @Html.Partial("Forms/LandsstaevneForm", (BaseViewModel)UmbracoContext.Current.PublishedContentRequest.PublishedContent);
                    }
                    else
                    {
                        Html.RenderAction("Render", "UmbracoForms", new { formId = g, mode = "form" });
                    }
                }
            }
        </div>
    </div>
</div>
