@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.GoogleMaps>
<div class="module-wrap google-maps" data-coords="@Model.Coordinate" data-pintext="@Model.Pintext" data-zoomlevel="@Model.zoomLevel">    
    <div class="map-container"></div>
</div>

