@using Newtonsoft.Json
@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.GoogleMapsWithPoints>

<div class="module-wrap google-maps hidden-xs hidden-sm" data-json="@Model.Json" data-zoomlevel="@Model.ZoomLevel">
    <div class="map-container"></div>
</div>
<ul class="google-maps--list-view visible-xs visible-sm">
    @foreach (var input in Model.Points)
    {
        <li>
            @if (input.Link != null)
            {
                <a href="@input.Link.Url" title="@input.Link.Name">
                    <div><span>@input.Zip</span></div>
                    <div>
                        <h3>@input.Title</h3>
                        @input.Description
                    </div>
                </a>
            }
            else
            {
                <div><span>@input.Zip</span></div>
                <div>
                    <h3>@input.Title</h3>
                    @input.Description
                </div>
            }

        </li>
    }
</ul>