﻿<div class="module-wrap jobopslag">
    <!--HER STARTER SCRIPT / SCRIPT BEGINS HERE v1-->
    <script src="https://hr-skyen.dk/hr/frame-api/hr.js" type="text/javascript"></script>
    <div id="hrskyen">
        <noscript>
            This page requires javascript<br/>
            <a href="https://hr-skyen.dk/list-jobs/">Visit our job page</a>
        </noscript>
    </div>
    <script src="https://hr-skyen.dk/hr/frame-api/customers/amnestyinternational.js" type="text/javascript"></script>
    <a style="font-size: 8px; color: #aaaaaa; font-family: verdana, sans-serif; text-decoration: none;" href="http://hr-skyen.dk/">&copy; e-Recruitment by HR-Skyen</a>
    <!--HER SLUTTER SCRIPT / SCRIPT ENDS HERE-->
</div>