@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.ImageSliderWithLink>
<div class="img-slider__section">
    <div class="img-slider" data-random="@Model.RandomStart">
        @foreach (var imageSlide in Model.ImageSlide)
        {
            <div>
                <img src="@imageSlide.Image.Url">
                <h3>@imageSlide.Headline</h3>
                <p>@imageSlide.Description</p>
                @if (imageSlide.Link != null)
                {
                    <a href="@imageSlide.Link.Url" title="@imageSlide.Link.Name" target="@imageSlide.Link.Target" class="btn btn-squared">@imageSlide.Link.Name</a>
                }
            </div>
        }
    </div>
</div>
