﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Infographic>
<div class="module-wrap infographic">
    @{
        var startDate = Model.startDate;
        var fullNumber = Model.fullNumber;
        var actualNumber = Model.actualNumber;
        var buttonText = Model.buttonText;
        var buttonLinkUrl = "";
        if (Model.buttonLink != null)
        {
            buttonLinkUrl = Model.buttonLink.Url;
        }
        else
        {
            buttonLinkUrl = "#";
        }
        
        <div class="row nomargin">
            <div class="col-xs-6">
                <figure class="circle-loader" data-start-date="@startDate" data-total="@fullNumber" data-current="@actualNumber">
                    <svg version="1.1" viewBox="0 0 250 250">
                        <circle class="circle full" cx="125" cy="125" r="63"/>
                        <circle class="circle white progBg" cx="125" cy="125" r="68"/>
                        <circle class="circle yellow prog" cx="125" cy="125" r="68"/>
                    </svg>
                    <figcaption>
                        <span class="result">0</span>
                        <p>@Model.LeftUnit</p>
                    </figcaption>
                </figure><!-- .circle-loader -->
            </div> <!-- .col-sm-6 -->
            <div class="col-xs-6">
                <figure class="circle-loader leftover" data-start-date="@startDate" data-total="@fullNumber" data-current="@actualNumber">
                    <svg version="1.1" viewBox="0 0 250 250">
                        <circle class="circle action-red full" cx="125" cy="125" r="63"/>
                        <circle class="circle white progBg" cx="125" cy="125" r="68"/>
                        <circle class="circle prog" cx="125" cy="125" r="68"/>
                    </svg>
                    <figcaption>
                        <span class="result">0</span>
                        <p>@Model.RightUnit</p>
                    </figcaption>
                </figure><!-- .circle-loader -->
            </div> <!-- .col-sm-6 -->
        </div>
        if (Model.buttonText != null && Model.buttonLink != null)
        {
             <div class="text-center row nomargin">

                 <a class="btn btn-cta" href="@buttonLinkUrl" title="@buttonText">
                     <hr class="line-topleft" />
                     <hr class="line-topright" />
                     <hr class="line-left" />
                     <hr class="line-right" />
                     <span>@buttonText</span>
                 </a>

             </div>
        }
    }
</div>
