﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Lifeline>
              
@{
    <h2>@Model.Headline</h2>
    @Model.BodyText
    
    if (Model.Form != null)
    {
        var s = Model.Form.ToString();
        var g = new Guid(s);

        Html.RenderAction("Render", "UmbracoForms", new { formId = g });
    }
    
}