﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.News>

<div class="module-wrap press-and-news news-only" id="pressnews">
    <div class="row nomargin tabs-wrapper">
        @if (Model.NewsList != null)
        {
            <div class="press-list">
                @Html.Partial("Partials/ListView", Model.NewsList)

            </div>
        }

    </div>

</div>