@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.PersonalThankYouNote>
<div class="module-wrap text-content">
    <div class="content">
        @Html.Raw(Model.BodyText)
        <hr />
    </div>
</div>