﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.PressAndConsulation>

<div class="module-wrap press-and-news" id="pressnews">
    <div class="row tab-controls">
        <div class="col-xs-6">
            <button class="btn btn-cta btn-dark">
                <hr class="line-topleft" />
                <hr class="line-topright" />
                <hr class="line-left" />
                <hr class="line-right" />
                <span>
                    @if (@Model.PressList.Headline != null)
                    {
                        @Model.PressList.Headline
                    }
                </span>
            </button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-cta btn-dark">
                <hr class="line-topleft" />
                <hr class="line-topright" />
                <hr class="line-left" />
                <hr class="line-right" />
                <span>
                    @if (@Model.ConsulationList.Headline != null)
                    {
                        @Model.ConsulationList.Headline
                    }
                </span>
            </button>
        </div>
    </div>
    <div class="row nomargin tabs-wrapper">
        @if (Model.PressList != null)
        {
            <div class="press-list col-xs-6">
                @Html.Partial("Partials/ListView", Model.PressList)
            </div>
        }

        @if (Model.ConsulationList != null)
        {
            <div class="news-list col-xs-6">
                @Html.Partial("Partials/ListView", Model.ConsulationList)
            </div>
        }
    </div>

</div>