﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Sign>

<div class="module-wrap">
    <div class="col-md-6">
        @{
            if (Model.Image != null)
            {
                <img src="@Model.Image.GetCropUrl(500)" alt="@Model.Image.AlternateText" title="@Model.Image.AlternateText">
            }
        }
    </div>
    <div class="col-md-6">
        <h2>@Model.Headline</h2>
        @Html.Raw(Model.BodyText)
        @if (Model.Form != null)
        {
            var s = Model.Form.ToString();
            var g = new Guid(s);

            Html.RenderAction("Render", "UmbracoForms", new { formId = g });
        }

    </div>
</div>

