﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Text2Cols>
<!-- Dette er et tekst modul med 2 spalter og et billede -->
@{
    var noShare = Model.NoShare;
    var headlineString = string.IsNullOrWhiteSpace(Model.Headline) ? "" : Model.Headline.ToUrlSegment();
    var moduleId = headlineString;
}
<div class="module-wrap text-content text-two-col" id="@moduleId">
    @{
        if (Model.Image != null)
        {
            <div class="image-src-wrap" data-src-xs="@Model.Image.GetCropUrl(640)" data-src-sm="@Model.Image.GetCropUrl(768)" data-src-lg="@Model.Image.GetCropUrl(1080)" data-alt="@Model.Image.AlternateText">
                <noscript>
                    <img src="@Model.Image.Url" alt="@Model.Image.AlternateText">
                </noscript>
                @if (Model.Image.Photographer != String.Empty)
                {
                    <div class="photo-credits" data-showbg="@Model.Image.ShowBG">
                        <p class="photographer">@Model.Image.Photographer</p>
                        <p class="description">@Model.Image.Description</p>
                    </div>
                }
            </div>
        }
    }
    <div class="content">
        <div class="social @(noShare ? "disabled" : "enabled")">
            <a href="#" class="share-btn facebook" target="Del sektion på facebook" data-section-id="#@moduleId">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 130 25.3 25.3" xml:space="preserve">
                <circle cx="12.7" cy="142.7" r="10" />
                <path d="M12.7,130c-7,0-12.7,5.7-12.7,12.7s5.7,12.7,12.7,12.7c7,0,12.7-5.7,12.7-12.7C25.3,135.7,19.6,130,12.7,130z M15.6,138.8
	                            h-1.9c-0.2,0-0.5,0.3-0.5,0.7v1.4h2.4v2h-2.4v5.9H11v-5.9H9v-2h2v-1.1c0-1.7,1.1-3,2.7-3h1.9L15.6,138.8L15.6,138.8z" />
            </svg>

            </a>
            <a href="#" class="share-btn twitter" target="Del sektion på Twitter" data-section-id="#@moduleId">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 168.9 25.3 25.3" xml:space="preserve">
                <circle cx="12.7" cy="181.5" r="10" />
                <path d="M12.7,168.9c-7,0-12.7,5.7-12.7,12.7c0,7,5.7,12.7,12.7,12.7c7,0,12.7-5.7,12.7-12.7C25.3,174.6,19.7,168.9,12.7,168.9z
	                             M17.8,179.3c0,0.1,0,0.2,0,0.3c0,3.3-2.5,7.1-7.1,7.1c-1.4,0-2.7-0.4-3.8-1.1c0.2,0,0.4,0.1,0.6,0.1c1.1,0,2.2-0.4,3.1-1
	                            c-1.1,0-2-0.7-2.3-1.7c0.2,0.1,0.3,0.1,0.5,0.1c0.2,0,0.5-0.1,0.7-0.1c-1.1-0.2-2-1.3-2-2.4c0,0,0,0,0-0.1c0.3,0.2,0.7,0.3,1.1,0.3
	                            c-0.7-0.5-1.1-1.2-1.1-2.1c0-0.5,0.1-0.9,0.3-1.3c1.3,1.5,3.1,2.5,5.2,2.6c-0.1-0.2-0.1-0.4-0.1-0.6c0-1.4,1.1-2.5,2.5-2.5
	                            c0.7,0,1.4,0.3,1.8,0.8c0.6-0.1,1.1-0.3,1.6-0.6c-0.2,0.6-0.6,1.1-1.1,1.4c0.5-0.1,1-0.2,1.4-0.4C18.7,178.5,18.3,178.9,17.8,179.3z
	                            " />
            </svg>
            </a>
        </div>
        <h2>@Model.Headline</h2>
        @if (@Model.Manchet != null)
        {
            <p class="manchet">@Model.Manchet</p>
        }
        <div class="row">
            <div class="col-md-6">@Model.BodyTextCol1</div>
            <div class="col-md-6">@Model.BodyTextCol2</div>
        </div>

        @if (Model.CallToAction != null)
        {
            <a class="btn btn-squared" href="@Model.CallToAction.Url" target="@Model.CallToAction.Target">
                @Model.CallToAction.Name
            </a>
        }

        <hr/>
    </div>
</div>
