﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Topic>

@{
    var boxLink = "";
    if (Model.Link != null)
    {
        boxLink = Model.Link.Url;
    }
    else
    {
        boxLink = "#";
    }
}

<a class="topic col-xs-10 col-sm-9" href="@boxLink">
    @{
        if (Model.Image != null)
        {
       <!-- <div class="bg" style="background-image:url(static/dist/media/dummy-ribbon.jpg);"></div> -->
            <div class="bg" data-src-xs="@Model.Image.GetCropUrl(640)" data-src-sm="@Model.Image.GetCropUrl(960)" data-src-lg="@Model.Image.GetCropUrl(1280)">
                <noscript>
                    <img src="@Model.Image.Url" alt="@Model.Image.AlternateText">
                </noscript>
            </div>
        }
    }
    <div class="content">
        <h2>
            @Html.Raw(Model.Headline)
        </h2>
        <p>
            @Html.Raw(Model.SubHeadline)
        </p>
    </div>
</a>