﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.Modules.Video>

<!-- Denne view bruges til at udskrive videoer. Dette indholder en overskrift, og video. -->

<div class="module-wrap video">
    
    @{
            <!-- Model.VideoEmbed vil returnere det id på video man angive i Umbraco -->
            <!-- Skal defineres om man skal angive bredde/højre i backend, eller om Frontend overskriver? -->
    if (Model.VideoEmbed != null)
    {
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/@Model.VideoEmbed" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    }
}
    <div class="content">
        <h2>@Model.Headline</h2>
        <hr />
    </div>
</div>
