/* ==============
    Fonts
   ============== */
@font-face {
  font-family: 'AmnestyTradeGothic Bold';
  src: url("../fonts/amnestytradegothic-bdcn20.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/amnestytradegothic-bdcn20.eot?#iefix") format("embedded-opentype"), url("../fonts/amnestytradegothic-bdcn20.ttf") format("truetype"); }
@font-face {
  font-family: 'AmnestyTradeGothic Light';
  src: url("../fonts/amnestytradegothic-light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/amnestytradegothic-light.eot?#iefix") format("embedded-opentype"), url("../fonts/amnestytradegothic-light.ttf") format("truetype"); }
@font-face {
  font-family: 'AmnestyTradeGothic Condensed';
  src: url("../fonts/amnestytradegothic-cn18.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/amnestytradegothic-cn18.eot?#iefix") format("embedded-opentype"), url("../fonts/amnestytradegothic-cn18.ttf") format("truetype"); }
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==============
    DIS/PLAY CSS
   ============== */
/* ==============
    GENEREL ELEMENTS
   ============== */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: auto !important; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  width: 100%;
  height: 100%; }

body {
  color: #232526;
  overflow-x: hidden;
  overflow-y: scroll;
  font: 12px Arial, Helvetica, sans-serif;
  background: #fff;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  z-index: 0; }
  @media (min-width: 768px) {
    body.hide-menu .menu-wrap,
    body.hide-menu .logo.affix, body.hide-menu.frontpage .menu-wrap.affix {
      margin-top: -80px; } }
  @media (min-width: 1024px) {
    body.hide-menu .menu-wrap,
    body.hide-menu .logo.affix, body.hide-menu.frontpage .menu-wrap.affix {
      margin-top: -90px; } }
  body.hide-menu .section-menu.affix {
    top: 0;
    transition: all 0.3s ease-in-out; }
  body.frontpage.hide-menu .menu-wrap {
    margin-top: 0; }
  body.menu-open {
    overflow: hidden; }
    @media (min-width: 1280px) {
      body.menu-open {
        width: 100%;
        width: calc(100% - 19px); } }
    body.menu-open .menu-wrap {
      bottom: 0;
      overflow-y: scroll; }
      @media (max-width: 1023px) {
        body.menu-open .menu-wrap {
          overflow-x: hidden; } }
      body.menu-open .menu-wrap.affix {
        margin-top: 0; }
    @media (min-width: 1280px) {
      body.menu-open .nav-tools {
        right: 17px; } }

::-moz-selection {
  background: #fbf038;
  color: #000;
  text-shadow: none; }

::selection {
  background: #fbf038;
  color: #000;
  text-shadow: none; }

button {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent; }

iframe {
  max-width: 100%; }

p {
  margin: 0 0 25px;
  line-height: 1.375; }

a, a:visited {
  color: #000; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #e0962f; }

a:focus, button:focus {
  outline: none;
  outline-color: #000; }

h1 {
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
  margin: 35px 0 35px 0;
  font-weight: normal; }

h2, header {
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 34px;
  margin: 10px 0 15px;
  line-height: 1.15em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 40px;
      margin: 15px 0; } }
  @media (min-width: 1024px) {
    h2 {
      font-size: 60px;
      margin: 35px 0; } }

h2, h3, h4 {
  color: #303030;
  font-weight: normal; }
  h2 strong, h3 strong, h4 strong {
    font-weight: normal; }

h3 {
  font-size: 20px;
  line-height: 1.2em; }

h3, h4 {
  margin: 0;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }

b, strong {
  font-weight: normal;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }

.manchet {
  font-size: 24px;
  line-height: 1.15em; }
  @media (min-width: 768px) {
    .manchet {
      font-size: 30px; } }
  @media (min-width: 1024px) {
    .manchet {
      font-size: 40px; } }

ul, ol {
  margin-top: 0;
  padding-left: 20px; }

nav ul {
  margin: 0; }
nav ul, nav li {
  list-style: none;
  padding-left: 0; }
nav a {
  text-decoration: none; }

hr {
  border-color: #f2f2f2;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  margin: 0; }

fieldset {
  border: none;
  padding: 0; }

.text-center {
  text-align: center; }

.light {
  width: 45px;
  height: 73px; }

.affix {
  position: fixed; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #d8d8d8;
  background-position: center;
  z-index: 0;
  background-image: url(../img/loader.gif); }
  .bg.loaded {
    background-size: cover;
    background-position: center top; }

.image-src-wrap {
  min-height: 180px;
  background: url(../img/loader.gif) no-repeat center center; }
  @media (min-width: 768px) {
    .image-src-wrap {
      min-height: 272px; } }
  @media (min-width: 1280px) {
    .image-src-wrap {
      min-height: 372px; } }
  .image-src-wrap img {
    width: 100%; }

.page-wrap {
  position: relative;
  z-index: 2;
  background: #fff;
  padding-top: 80px; }
  @media screen and (max-width: 1023px) {
    #billboard + .page-wrap {
      padding-top: 0; } }
  @media (min-width: 1024px) {
    .page-wrap, #billboard + .page-wrap {
      padding-top: 90px; } }
  .page-wrap article > h1,
  .page-wrap article > h2 {
    font-size: 30px;
    line-height: 0.933em;
    padding: 20px 0 13px;
    margin: 0 15px;
    z-index: 20;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6; }
    @media (min-width: 1024px) {
      .page-wrap article > h1,
      .page-wrap article > h2 {
        margin: 0 35px; } }

#billboard + .page-wrap article {
  display: none; }
#billboard + .page-wrap + footer {
  display: none; }
.topics-open #billboard + .page-wrap article, .topics-open #billboard + .page-wrap + footer {
  display: block; }
#billboard + .page-wrap .section-menu nav > ul > li:first-child > a {
  padding-left: 0; }

::-webkit-input-placeholder {
  color: #606060; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #606060; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #606060; }

:-ms-input-placeholder {
  color: #606060; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.container {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 681px; } }
@media (min-width: 1024px) {
  .container {
    width: 937px; } }
@media (min-width: 1280px) {
  .container {
    width: 1193px; } }
@media (min-width: 1440px) {
  .container {
    width: 1353px; } }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 480px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      padding-left: 35px;
      padding-right: 35px; } }

@media (min-width: 480px) {
  .row, .row-fluid {
    margin-left: -35px;
    margin-right: -35px; }
    .row:before, .row:after, .row-fluid:before, .row-fluid:after {
      content: " ";
      display: table; }
    .row:after, .row-fluid:after {
      clear: both; }

  .row.nomargin {
    margin-left: 0;
    margin-right: 0; }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left; }

  .col-xs-12 {
    width: 100%; }

  .col-xs-11 {
    width: 91.66666667%; }

  .col-xs-10 {
    width: 83.33333333%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-8 {
    width: 66.66666667%; }

  .col-xs-7 {
    width: 58.33333333%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-5 {
    width: 41.66666667%; }

  .col-xs-4 {
    width: 33.33333333%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-2 {
    width: 16.66666667%; }

  .col-xs-1 {
    width: 8.33333333%; } }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; } }
@media (min-width: 1024px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; } }
@media (min-width: 1280px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; } }
@media (min-width: 1440px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-11 {
    width: 91.66666667%; }

  .col-xl-10 {
    width: 83.33333333%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-8 {
    width: 66.66666667%; }

  .col-xl-7 {
    width: 58.33333333%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-5 {
    width: 41.66666667%; }

  .col-xl-4 {
    width: 33.33333333%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-2 {
    width: 16.66666667%; }

  .col-xl-1 {
    width: 8.33333333%; } }
@media (min-width: 1680px) {
  .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
    float: left; }

  .col-xxl-12 {
    width: 100%; }

  .col-xxl-11 {
    width: 91.66666667%; }

  .col-xxl-10 {
    width: 83.33333333%; }

  .col-xxl-9 {
    width: 75%; }

  .col-xxl-8 {
    width: 66.66666667%; }

  .col-xxl-7 {
    width: 58.33333333%; }

  .col-xxl-6 {
    width: 50%; }

  .col-xxl-5 {
    width: 41.66666667%; }

  .col-xxl-4 {
    width: 33.33333333%; }

  .col-xxl-3 {
    width: 25%; }

  .col-xxl-2 {
    width: 16.66666667%; }

  .col-xxl-1 {
    width: 8.33333333%; } }
/* ==============
    Logo
   ============== */
.logo {
  position: fixed;
  z-index: 1000;
  height: 80px;
  width: 80px;
  top: 0;
  display: block;
  overflow: hidden;
  background: #fbf038;
  transition: margin 0.3s ease-in-out, background 0.2s ease-in-out; }
  .logo .logo-wrap {
    position: relative;
    width: 120px;
    display: inline-block;
    margin-left: -65px;
    vertical-align: middle;
    overflow: hidden; }
    .no-svg .logo .logo-wrap {
      display: block;
      height: 90px;
      background: url(../img/logo.png) no-repeat center; }
  .logo svg {
    width: 100%;
    height: 80px; }
  .logo .svg-international, .logo .svg-light, .logo .svg-amnesty {
    fill: #000; }
  .logo .svg-international, .logo .svg-amnesty {
    display: none; }
  .svg .logo:focus {
    background: #000; }
    .svg .logo:focus .svg-international, .svg .logo:focus .svg-light, .svg .logo:focus .svg-amnesty {
      fill: #fbf038; }
  .no-svg .logo:focus {
    background: #ecb940; }
  @media (min-width: 1024px) {
    .logo {
      height: 90px; }
      .logo.affix-top {
        background: transparent; }
      .logo.yellow-bg {
        background: #fbf038; }
      .logo:hover {
        background: #000; } }
  @media (min-width: 1280px) {
    .logo {
      width: 190px; }
      .logo .logo-wrap {
        width: 120px;
        margin-left: 35px; }
      .logo svg {
        height: 88px; }
      .logo .svg-international, .logo .svg-amnesty {
        display: block; } }

.menu-wrap {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  transition: margin 0.3s ease-in-out;
  /*@media (min-width: $screen-md) {
      min-height:90px;
  }*/ }
  @media (min-width: 1024px) {
    .menu-wrap {
      top: auto;
      min-height: 90px;
      overflow-y: visible !important; } }
  .menu-wrap .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; }
    .menu-wrap .overlay.open {
      background: rgba(0, 0, 0, 0.75);
      z-index: 10; }
  @media (min-width: 1024px) {
    .menu-wrap.affix {
      position: fixed !important;
      top: 0;
      left: 0px; } }
  @media (min-width: 1024px) and (min-width: 1024px) {
    .menu-wrap.affix .sub-menu {
      top: 90px; } }
  @media (min-width: 1024px) {
      .frontpage .menu-wrap.affix {
        top: 0 !important;
        bottom: auto; } }
  @media (min-width: 1024px) {
    .frontpage .menu-wrap {
      top: auto;
      bottom: 0; } }

.page-menu {
  text-transform: uppercase;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }
  .page-menu nav {
    background: #232526; }
    .page-menu nav > ul {
      position: relative;
      font-size: 0;
      padding: 0;
      margin: 0; }
      .page-menu nav > ul li {
        display: block;
        overflow: hidden;
        position: relative;
        text-align: center; }
        .page-menu nav > ul li > ul {
          height: 0; }
        .page-menu nav > ul li.inpath > ul {
          height: auto; }
    .page-menu nav a {
      display: block;
      font-size: 18px;
      white-space: nowrap;
      line-height: 80px; }
      .page-menu nav a, .page-menu nav a:visited {
        color: #fff; }
      @media (min-width: 1024px) {
        .page-menu nav a {
          line-height: 90px; } }
  .page-menu .expand {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 81px;
    color: #fff;
    cursor: pointer;
    z-index: 100; }
    .page-menu .expand span {
      position: absolute;
      top: 24px;
      left: 30px;
      line-height: 24px;
      font-size: 32px;
      font-family: "AmnestyTradeGothic Light", Arial, Helvetica, sans-serif; }
    @media (min-width: 1024px) {
      .page-menu .expand {
        display: none; } }
  .page-menu.sub-menu .expand {
    width: 60px;
    height: 61px;
    color: #232526; }
    .page-menu.sub-menu .expand span {
      top: 13px;
      left: 20px; }
    @media (min-width: 1024px) {
      .page-menu.sub-menu .expand {
        display: block; } }

.main-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: none; }
  @media (min-width: 1024px) {
    .main-menu {
      position: absolute;
      display: block; } }
  .main-menu nav {
    padding-top: 80px; }
    @media (min-width: 1024px) {
      .main-menu nav {
        padding-top: 0;
        margin: 0 270px 0 0; } }
    @media (min-width: 1280px) {
      .main-menu nav {
        margin: 0 488px 0 0; } }
    .main-menu nav > ul {
      transition: all 0.3s ease-out; }
      @media (min-width: 1024px) {
        .main-menu nav > ul {
          margin-left: 0; } }
      .main-menu nav > ul li {
        position: relative; }
        @media (min-width: 1024px) {
          .main-menu nav > ul li > ul {
            display: none; } }
        @media (min-width: 1024px) {
          .main-menu nav > ul li + li {
            border-top: 0;
            border-left: 1px solid #000; } }
        @media (min-width: 1024px) {
          .main-menu nav > ul li {
            display: table-cell;
            width: 1%; }
            .main-menu nav > ul li a {
              position: relative; }
            .no-touch .main-menu nav > ul li:before {
              position: absolute;
              content: "";
              width: 100%;
              height: 0;
              top: 50%;
              left: 0;
              background: #000;
              transition: all 0.4s cubic-bezier(0, 0.87, 0.27, 0.99); }
            .no-touch .main-menu nav > ul li:hover:before, .no-touch .main-menu nav > ul li:focus:before {
              content: "";
              position: absolute;
              top: 0;
              height: 100%;
              transition: all 0.2s cubic-bezier(0, 0.87, 0.27, 0.99); } }
        @media (min-width: 1280px) {
          .main-menu nav > ul li {
            width: 198px; } }
      .main-menu nav > ul > li {
        border-top: 1px solid #1c1d1e; }
        .main-menu nav > ul > li.inpath > .expand {
          background: #3b3f41; }
        .main-menu nav > ul > li > ul > li {
          border-top: 1px solid #2f3233; }
          .main-menu nav > ul > li > ul > li > a {
            background: #3b3f41; }
          .main-menu nav > ul > li > ul > li.inpath > .expand {
            background: #54595b; }
          .main-menu nav > ul > li > ul > li > ul > li {
            border-top: 1px solid #484c4e; }
            .main-menu nav > ul > li > ul > li > ul > li > a {
              background: #54595b;
              padding-left: 10px; }
        @media (min-width: 768px) {
          .main-menu nav > ul > li {
            border-top: none; } }
  @media (min-width: 1024px) {
    .main-menu nav > ul.row, .frontpage .affix .main-menu nav > ul.row {
      margin-left: 80px; } }
  @media (min-width: 1280px) {
    .main-menu nav > ul.row, .frontpage .affix .main-menu nav > ul.row {
      margin-left: 190px; } }
  @media (min-width: 1024px) {
    .frontpage .main-menu nav > ul {
      margin-left: 0; } }

.sub-menu {
  position: relative;
  display: none; }
  @media (min-width: 1024px) {
    .sub-menu {
      position: fixed;
      overflow-y: scroll;
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      height: 100%; } }
  .sub-menu nav {
    width: 100%;
    height: 100%;
    background: #fff;
    display: table; }
    .sub-menu nav a {
      line-height: 60px; }
    @media (min-width: 1024px) {
      .sub-menu nav > ul {
        display: table-cell;
        vertical-align: middle; } }
    .sub-menu nav ul > li a, .sub-menu nav ul > li a:visited {
      color: #232526; }
    @media (min-width: 1024px) {
      .sub-menu nav ul > li a {
        line-height: 50px; } }
    .sub-menu nav ul > li {
      border-top: 1px solid white; }
      .sub-menu nav ul > li.inpath > .expand {
        background: #f0f1f1; }
      .sub-menu nav ul > li > ul > li {
        border-top: 1px solid #fdfdfd; }
        .sub-menu nav ul > li > ul > li > a {
          background: #f0f1f1; }
        .sub-menu nav ul > li > ul > li.inpath > .expand {
          background: #d5d8d9; }
        .sub-menu nav ul > li > ul > li > ul > li {
          border-top: 1px solid #e3e4e5; }
          .sub-menu nav ul > li > ul > li > ul > li > a {
            background: #d5d8d9;
            padding-left: 10px; }
    .sub-menu nav li {
      white-space: normal; }

.section-menu-wrap {
  height: 57px; }

.section-menu {
  position: relative;
  padding: 8px 15px 0 15px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 10;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 1023px) {
    .section-menu {
      /*&:before {
          content:"<";
          right:auto;
          left:4px;
      }*/ }
      .section-menu:after, .section-menu:before {
        content: ">";
        position: absolute;
        width: 10px;
        height: 20px;
        font-size: 16px;
        color: #d6d6d6;
        top: 17px;
        right: 4px;
        line-height: 1em;
        font-family: monospace; } }
  @media (max-width: 1023px) {
    .section-menu {
      overflow: hidden; } }
  @media (min-width: 1024px) {
    .section-menu {
      padding: 0 35px; } }
  .section-menu nav {
    position: relative;
    margin-top: 4px; }
    .section-menu nav::-webkit-scrollbar {
      display: none; }
    @media (max-width: 1023px) {
      .section-menu nav {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch; } }
  .section-menu ul {
    margin-top: 5px;
    margin-bottom: 10px;
    display: table; }
  .section-menu li, .section-menu a.back-btn {
    position: relative;
    display: table-cell; }
    .section-menu li hr, .section-menu a.back-btn hr {
      position: absolute;
      margin: -2px 0 0;
      border-color: #f2f2f2;
      width: 0;
      left: 0;
      border-top-width: 2px; }
      .section-menu li hr.last, .section-menu a.back-btn hr.last {
        left: 50%;
        margin-top: -2px; }
    .section-menu li i, .section-menu a.back-btn i {
      position: absolute;
      width: 8px;
      height: 8px;
      bottom: -3px;
      left: 50%;
      margin-left: -4px;
      border-radius: 4px;
      background: #d6d6d6;
      z-index: 100;
      display: none; }
  .section-menu li a, .section-menu a.back-btn div {
    font-size: 16px;
    font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
    line-height: 2.2em;
    white-space: nowrap;
    padding: 0 18px; }
    @media (min-width: 768px) {
      .section-menu li a, .section-menu a.back-btn div {
        padding: 0 24px; } }
  .section-menu li a {
    color: #565e65;
    display: block; }
    .section-menu li a.active {
      color: #000; }
    .section-menu li a:hover, .section-menu li a:focus, .section-menu li a.active:hover, .section-menu li a.active:focus {
      color: #000; }
  .section-menu a.back-btn {
    position: absolute;
    top: 0;
    left: 0;
    color: #565e65;
    padding-left: 15px; }
    .section-menu a.back-btn span {
      position: absolute;
      width: 10px;
      height: 20px;
      color: #d6d6d6;
      top: 9px;
      left: 0;
      line-height: 1em;
      font-family: monospace;
      transition: left 0.3s ease-in-out; }
    .section-menu a.back-btn div {
      padding-left: 0; }
    .section-menu a.back-btn hr {
      margin-left: -50%; }
    .section-menu a.back-btn:hover, .section-menu a.back-btn:focus {
      color: #000; }
      @media (min-width: 768px) {
        .section-menu a.back-btn:hover span, .section-menu a.back-btn:focus span {
          left: -10px;
          color: #000; } }
    @media (min-width: 768px) {
      .section-menu a.back-btn {
        padding-left: 15px; }
        .section-menu a.back-btn span {
          left: -1px; } }
  .section-menu.affix {
    position: fixed !important;
    top: 80px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 4px; }
    @media (min-width: 1024px) {
      .section-menu.affix {
        top: 90px; } }

.section-menu a.back-btn + ul {
  margin-top: 0;
  padding-left: 63px; }
  @media (min-width: 1024px) {
    .section-menu a.back-btn + ul {
      padding-left: 130px; } }

/* ==============
    SEARCH
   ============== */
.nav-tools {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: #232526;
  z-index: 60; }
  @media (min-width: 1024px) {
    .nav-tools {
      font-size: 0;
      display: table;
      height: 90px;
      width: 272px; } }
  @media (min-width: 1280px) {
    .nav-tools {
      width: 488px; } }

.nav-tool {
  display: block;
  position: absolute;
  top: 0;
  width: 90px;
  height: 80px; }
  @media (min-width: 1024px) {
    .nav-tool {
      height: 90px;
      position: relative;
      display: table-cell;
      vertical-align: middle;
      border-left: 1px solid #000; } }

#react {
  width: 82px;
  right: 140px;
  background-color: #3e2a29;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  transition: width 0.4s ease-in-out; }
  @media (min-width: 480px) {
    #react {
      width: 108px;
      right: 140px; } }
  #react a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    white-space: nowrap;
    line-height: 80px;
    color: #da6a61;
    font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }
    @media (min-width: 1024px) {
      #react a {
        line-height: 90px; } }
    #react a span {
      position: relative;
      z-index: 0; }
      #react a span em {
        font-style: normal;
        position: relative;
        z-index: 1; }
    .no-touch #react a:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      top: 50%;
      left: 0;
      background: #da6a61;
      transition: all 0.2s ease-out; }
    .no-touch #react a:hover span em, .no-touch #react a:focus span em {
      color: #000; }
    .no-touch #react a:hover:before, .no-touch #react a:focus:before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.10s ease-in; }
  @media (min-width: 480px) {
    #react {
      right: 160px; } }
  @media (min-width: 1024px) {
    #react {
      right: auto; } }
  @media (min-width: 1280px) {
    #react {
      width: 188px; } }

.search-global.nav-tool {
  display: inline-block;
  top: 0;
  width: 70px;
  right: 70px;
  padding: 0;
  margin: 0;
  transition: all 0.4s ease-in-out; }
  @media (min-width: 480px) {
    .search-global.nav-tool {
      right: 80px;
      width: 80px; } }
  @media (min-width: 1024px) {
    .search-global.nav-tool {
      right: 0;
      height: 80px; } }
  @media (min-width: 1280px) {
    .search-global.nav-tool {
      float: left;
      right: auto;
      height: 90px;
      width: 190px; } }
  .search-global.nav-tool > form {
    height: 80px;
    margin: 0;
    text-align: left;
    background: #232526;
    margin-top: 0; }
    @media (min-width: 1280px) {
      .search-global.nav-tool > form {
        margin: 20px auto 0;
        width: 70%;
        height: auto; } }
  .search-global.nav-tool .btn-search, .search-global.nav-tool svg {
    margin: 0;
    right: 8px;
    width: 40px;
    height: 100%; }
    .search-global.nav-tool .btn-search path, .search-global.nav-tool svg path {
      fill: #a3a3a3; }
    @media (min-width: 1024px) {
      .search-global.nav-tool .btn-search, .search-global.nav-tool svg {
        right: 20px;
        top: 4px; } }
    @media (min-width: 1280px) {
      .search-global.nav-tool .btn-search, .search-global.nav-tool svg {
        top: 10px;
        width: 26px;
        height: 27px;
        right: 0; }
        .search-global.nav-tool .btn-search:focus, .search-global.nav-tool svg:focus {
          box-shadow: 0px 5px 0px #232526, 0px 7px 0px #fff; } }
  .search-global.nav-tool svg {
    position: absolute; }
  .search-global.nav-tool .no-svg .btn-search {
    right: 0;
    width: 70px;
    background-size: 40px;
    background-position: center; }
    @media (min-width: 480px) {
      .search-global.nav-tool .no-svg .btn-search {
        width: 60px;
        background-position: 30px center; } }
    @media (min-width: 1024px) {
      .search-global.nav-tool .no-svg .btn-search {
        background-position: center center; } }
    @media (min-width: 1280px) {
      .search-global.nav-tool .no-svg .btn-search {
        background-position: center center;
        background-size: cover; } }
  .search-global.nav-tool .global-search {
    width: 0;
    padding: 0;
    font-size: 18px;
    line-height: 2.2;
    color: #a3a3a3;
    border-bottom: 2px solid #a3a3a3;
    opacity: 0; }
    .search-global.nav-tool .global-search:-moz-placeholder {
      color: #a3a3a3; }
    .search-global.nav-tool .global-search::-moz-placeholder {
      color: #a3a3a3; }
    .search-global.nav-tool .global-search:-ms-input-placeholder {
      color: #a3a3a3; }
    .search-global.nav-tool .global-search::-webkit-input-placeholder {
      color: #a3a3a3; }
    .search-global.nav-tool .global-search:focus {
      color: #d6d6d6;
      border-bottom: 2px solid #d6d6d6; }
      .search-global.nav-tool .global-search:focus:-moz-placeholder {
        color: #d6d6d6; }
      .search-global.nav-tool .global-search:focus::-moz-placeholder {
        color: #d6d6d6; }
      .search-global.nav-tool .global-search:focus:-ms-input-placeholder {
        color: #d6d6d6; }
      .search-global.nav-tool .global-search:focus::-webkit-input-placeholder {
        color: #d6d6d6; }
      .search-global.nav-tool .global-search:focus + .btn-search {
        opacity: 1; }
        .search-global.nav-tool .global-search:focus + .btn-search + svg path {
          fill: #d6d6d6; }
    @media (min-width: 1280px) {
      .search-global.nav-tool .global-search {
        width: 100%;
        height: 44px;
        line-height: 1.6;
        opacity: 1; }
        .search-global.nav-tool .global-search:focus {
          height: 46px;
          padding: 2px 25px 7px 5px; } }

.nav-tools.focused .global-search {
  opacity: 1;
  padding: 20px 40px 0 5px;
  margin: 0 15% 0 5%; }
@media (max-width: 767px) {
  .nav-tools.focused #search-global {
    width: 100%;
    right: 0;
    top: 80px;
    transition: width 0.3s ease-out; }
    .nav-tools.focused #search-global > form {
      width: 100%; }
    .nav-tools.focused #search-global .btn-search, .nav-tools.focused #search-global svg {
      top: -8px;
      right: 25px;
      background-position: 20px center; }
    .nav-tools.focused #search-global .global-search {
      width: 74%; } }
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-tools.focused #search-global {
    top: 80px;
    width: 80px;
    transition: all 0.3s ease-out; }
    .nav-tools.focused #search-global > form {
      width: 300px;
      margin: 0 -1px 0 -220px;
      border-top: 1px solid #1c1d1e;
      padding: 0 20px 0;
      border-bottom: none; }
    .nav-tools.focused #search-global .global-search {
      width: 80%; }
    .nav-tools.focused #search-global .btn-search {
      top: 0; }
    .nav-tools.focused #search-global svg {
      top: 15px;
      width: 30px;
      right: 15px;
      margin-top: -20px; }
    .affix-top .nav-tools.focused #search-global {
      top: -80px; }
      .affix-top .nav-tools.focused #search-global > form {
        margin-top: 0; }
      .affix-top .nav-tools.focused #search-global .btn-search {
        top: 0; } }
@media (min-width: 1280px) {
  .nav-tools.focused #react {
    width: 128px;
    transition: width 0.3s ease-in; }
  .nav-tools.focused #search-global {
    width: 250px; }
    .nav-tools.focused #search-global .btn-search {
      right: 0; } }

#burger {
  right: 0;
  width: 70px;
  padding-right: 10px;
  z-index: 15;
  transition: background-color 0.4s ease-in-out; }
  @media (min-width: 480px) {
    #burger {
      width: 80px; } }
  @media (min-width: 1280px) {
    #burger {
      width: 108px; } }
  #burger span {
    position: relative;
    display: block;
    width: 36px;
    height: 26px;
    margin: 0 auto; }
  #burger:focus, #burger:active {
    outline: none; }
  #burger .bun, #burger .beef {
    display: block;
    position: absolute;
    left: 5px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: top 0.2s ease-out; }
  #burger .bun {
    transform: rotate(0deg); }
    #burger .bun:first-child {
      top: 0px; }
    #burger .bun:last-child {
      top: 24px; }
  #burger .beef {
    top: 12px;
    opacity: 1; }
  .no-touch #burger:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    background: #000;
    transition: all 0.4s cubic-bezier(0, 0.87, 0.27, 0.99); }
  .no-touch #burger:hover:before, .no-touch #burger:focus:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.4s cubic-bezier(0, 0.87, 0.27, 0.99); }
  #burger.open {
    border-bottom: 1px solid #232526; }
    #burger.open:before, #burger.open .beef {
      display: none; }
    @media (min-width: 1024px) {
      #burger.open {
        background: #fff;
        border: none; } }

/* ==============
    Billboard
   ============== */
#billboard {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: table;
  min-height: 200px;
  overflow: hidden;
  text-align: center;
  top: 80px;
  padding: 0 20px;
  background-color: #fbf038;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box; }
  @media (min-width: 1024px) {
    #billboard {
      top: 0; } }
  #billboard .bg {
    z-index: 1; }
  #billboard img {
    width: 100%;
    height: auto; }
  #billboard .copy {
    display: table-cell;
    vertical-align: middle; }
  #billboard h1 {
    position: relative;
    margin: 20px 0 0 0;
    color: white;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1em;
    font-size: 50px;
    font-size: 10vw;
    text-transform: uppercase;
    opacity: .8; }
    #billboard h1 + .btn {
      margin-top: 2em; }
  #billboard h1, #billboard .btn {
    z-index: 2; }
  #billboard.breaking-news {
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #fbf038;
    background-size: cover; }
    #billboard.breaking-news .bg {
      background-color: yellow; }
    #billboard.breaking-news h1 {
      text-align: left; }
    #billboard.breaking-news .container {
      overflow: hidden; }
  #billboard.breaking-news h1, #billboard.light-img h1 {
    color: #000;
    opacity: 1; }
  @media (min-width: 768px) {
    #billboard.key-visual h1 {
      letter-spacing: 1px; } }
  @media (min-width: 1024px) {
    #billboard.key-visual h1 {
      letter-spacing: 2px; } }
  @media (min-width: 1280px) {
    #billboard.key-visual h1 {
      letter-spacing: 3px; } }
  @media (min-width: 1024px) {
    #billboard h1 {
      font-size: 100px; } }
  @media (min-width: 1280px) {
    #billboard h1 {
      font-size: 100px; } }

/* ==============
	Topics
   ============== */
.photo-credits {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  text-align: right;
  background: transparent;
  z-index: 100; }
  .photo-credits p {
    margin-bottom: 0; }
  .photo-credits .photographer,
  .photo-credits .description {
    padding: 4px 12px 4px 8px;
    float: right;
    display: inline-block;
    opacity: 0.75; }
    @media (min-width: 1024px) {
      .photo-credits .photographer,
      .photo-credits .description {
        padding: 6px 12px; } }
  .photo-credits[data-showbg=True] .photographer,
  .photo-credits[data-showbg=True] .description {
    background-color: rgba(0, 0, 0, 0.5); }
  .photo-credits .photographer {
    font-family: "AmnestyTradeGothic Condensed", "Avenir Next Condensed Bold", "Roboto Condensed Bold", "Open Sans Condensed", sans-serif;
    font-style: italic;
    font-size: 12px; }
    .photo-credits .photographer:before {
      content: "\00a9";
      margin-right: 5px; }
    @media (min-width: 768px) {
      .photo-credits .photographer {
        font-size: 15px; } }
    @media (min-width: 1024px) {
      .photo-credits .photographer {
        /*#billboard:hover &,
        #billboard.show-credits & {
            opacity:0.75;
        }*/ }
        .photo-credits .photographer:hover + .description {
          opacity: 0.75; } }
  .photo-credits .description {
    font-size: 12px;
    max-width: 400px;
    line-height: 1.6em;
    transition: opacity .3s ease-out;
    clear: right;
    height: 0;
    overflow: hidden;
    padding: 0 12px 0 8px; }
    .photo-credits .description.show-credits {
      height: auto;
      padding: 8px 12px 8px 8px; }
    @media (min-width: 1024px) {
      .photo-credits .description {
        padding: 10px 12px;
        opacity: 0;
        height: auto;
        /*#billboard:hover & {
            opacity:0.75;
        }*/ } }
  @media (min-width: 1024px) {
    .photo-credits {
      bottom: auto;
      top: 0; } }

/* ==============
	Buttons
   ============== */
.btn {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
  line-height: 1.15;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  overflow: hidden; }
  @media (min-width: 480px) {
    .btn {
      font-size: 18px; } }
  .btn span {
    display: block;
    padding: 16px 28px; }
  .btn, .btn hr {
    transition: border-color 0.5s ease-out; }
  .btn hr {
    position: absolute;
    top: 0;
    border-color: #000; }
  .btn hr.line-topleft,
  .btn hr.line-topright {
    border-top-width: 2px;
    width: 50%; }
  .btn hr.line-topright {
    right: 0; }
  .btn hr.line-left, .btn hr.line-right {
    border-top-width: 0;
    width: 2px;
    height: 100%; }
  .btn hr.line-left {
    left: 0;
    border-left-width: 2px; }
  .btn hr.line-right {
    right: 0;
    border-right-width: 2px; }

a.btn {
  display: inline-block;
  text-decoration: none; }

input[type="submit"].btn,
input[type="button"].btn {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 25px;
  background: #fbf038;
  transition: background-color 2s ease-out, padding 0.4s ease-in; }
  input[type="submit"].btn, input[type="submit"].btn:active,
  input[type="button"].btn,
  input[type="button"].btn:active {
    border: 1px solid #e5e5e5; }
  input[type="submit"].btn.sending,
  input[type="button"].btn.sending {
    padding-right: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/sending.gif);
    background-position: 90% 50%;
    transition: padding 0.25s ease-in-out; }
  input[type="submit"].btn.error,
  input[type="button"].btn.error {
    background-color: #e0962f;
    border-bottom-color: #ad3228;
    transition: background-color 0.6s ease-in, padding 0.6s ease-in, border-color 0.8s ease-in; }
  input[type="submit"].btn:hover, input[type="submit"].btn:focus,
  input[type="button"].btn:hover,
  input[type="button"].btn:focus {
    border: 1px solid #000; }

.btn.btn-squared {
  padding: 25px;
  color: #9aa3ab;
  border: 2px solid #e7eaec;
  margin: 40px auto 50px;
  text-align: center;
  display: table; }
  .btn.btn-squared:hover, .btn.btn-squared:focus {
    color: #565e65;
    border-color: #565e65; }

.btn.btn-cta, .btn.btn-cta:visited {
  color: #da6a61;
  border-color: #da6a61; }
.btn.btn-cta hr {
  border-color: #da6a61; }
.btn.btn-cta:hover, .btn.btn-cta:focus {
  color: #232526; }

.btn.btn-dark, .btn.btn-dark:visited {
  color: #000;
  border-color: #000; }
.btn.btn-dark hr {
  border-color: #000; }
.btn.btn-dark:hover, .btn.btn-dark:hover hr, .btn.btn-dark:focus, .btn.btn-dark:focus hr {
  color: #000;
  border-color: #232526; }

.btn.btn-grey, .btn.btn-grey:visited {
  color: #232526;
  border-color: #e6e6e6;
  background-color: #f2f2f2 !important; }
.btn.btn-grey hr {
  border-color: #565e65; }
.btn.btn-grey:hover, .btn.btn-grey:focus {
  color: #000;
  background-color: #e6e6e6 !important; }
  .btn.btn-grey:hover hr, .btn.btn-grey:focus hr {
    border-color: #000; }

.btn.btn-yellow, .btn.btn-yellow:visited {
  color: #fbf038;
  border-color: #fbf038;
  background-color: transparent; }
.btn.btn-yellow hr {
  border-color: #fbf038; }
.btn.btn-yellow:hover, .btn.btn-yellow:focus {
  color: #fbf038;
  background-color: transparent;
  border-color: #fbf038; }
  .btn.btn-yellow:hover hr, .btn.btn-yellow:focus hr {
    border-color: #fbf038; }

.btn.btn-info {
  font-size: 14px;
  line-height: 1.3;
  color: #acacac;
  border-bottom: 1px solid #acacac; }
  .btn.btn-info:hover, .btn.btn-info:focus {
    color: #565e65;
    border-color: #565e65; }

/* ==============
    Box-topic
   ============== */
.boxes {
  padding: 15px 15px 0; }
  @media (min-width: 480px) {
    .boxes {
      padding: 0 35px; } }
  @media (min-width: 1024px) {
    .boxes {
      padding: 0 50px; }
      .boxes .row {
        padding: 0 20px; } }
  @media (min-width: 1024px) {
    .col-sm-9 .boxes {
      padding: 0 20px; } }
  @media (min-width: 1280px) {
    .col-sm-9 .boxes .row {
      padding: 0; } }

.box {
  z-index: 10;
  padding: 0; }
  @media (min-width: 480px) {
    .box {
      padding: 0 15px; } }
  .box .wrap {
    padding: 15px 0; }
    @media (min-width: 768px) {
      .box .wrap {
        min-height: 240px; } }
    @media (min-width: 1024px) {
      .box .wrap {
        padding: 35px 0;
        min-height: 286px; } }
  .box header {
    position: relative;
    padding-bottom: 18px;
    color: #3f3f3f;
    font-size: 18px;
    font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }
    @media (min-width: 480px) {
      .box header {
        padding-bottom: 24px; } }
    .box header hr {
      position: absolute;
      width: 100%;
      border-top: 3px solid #fbf038;
      bottom: 9px;
      left: 0;
      transition: width .6s ease-in-out; }
  .box a {
    display: block;
    text-decoration: none; }
  .box:hover, .box:focus {
    outline: none; }
    .box:hover header:after, .box:focus header:after {
      width: 30%;
      transition: width .3s ease-out; }

.box-info p {
  font-size: 18px;
  font-family: "AmnestyTradeGothic Light", Arial, Helvetica, sans-serif;
  margin-top: 6px;
  line-height: 1.1; }
  @media (min-width: 1024px) {
    .box-info p {
      font-size: 28px; } }
.box-info:hover span, .box-info:focus span {
  text-decoration: underline; }

.box-twitter p, .box-twitter a, .box-twitter header {
  color: #85cdf3; }
.box-twitter header hr {
  border-color: #85cdf3; }
.box-twitter header svg {
  float: right;
  margin-right: 15px; }
.no-svg .box-twitter header {
  background: url(../img/svg_twitter-bird.png) no-repeat top right; }
.box-twitter p {
  font-size: 24px;
  margin: 0;
  padding: 0 6px;
  font-family: "AmnestyTradeGothic Condensed", "Avenir Next Condensed Bold", "Roboto Condensed Bold", "Open Sans Condensed", sans-serif; }
  .box-twitter p a {
    font-size: 16px;
    display: inline;
    text-decoration: underline;
    font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }
.box-twitter time {
  color: #9ba2a9;
  line-height: 2em;
  padding: 0 6px;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }

.box-contact {
  text-align: left;
  padding: 15px 35px;
  /*@media (min-width: $screen-sm) {
      padding-top:$contentGab;
  }*/ }
  @media (min-width: 768px) {
    .box-contact {
      padding: 35px 15px 0; } }
  @media (min-width: 1024px) {
    .box-contact {
      padding: 35px 35px 0; } }
  @media (min-width: 1280px) {
    .box-contact {
      padding: 35px 70px 0; } }
  .box-contact img {
    max-width: 100%;
    height: auto; }
  .box-contact .image-wrapper {
    margin-bottom: 10px; }
  .box-contact .title {
    display: block;
    font-family: "AmnestyTradeGothic Light", Arial, Helvetica, sans-serif; }
  .box-contact .contact-info {
    margin-top: 10px;
    font-family: "AmnestyTradeGothic Light", Arial, Helvetica, sans-serif; }
    @media (min-width: 1024px) {
      .box-contact .contact-info {
        font-size: 16px; } }
    .box-contact .contact-info span {
      display: block; }
    .box-contact .contact-info a {
      display: inline; }
      .box-contact .contact-info a:hover, .box-contact .contact-info a:focus {
        text-decoration: underline; }
  .box-contact i {
    font-style: normal; }

/* ==============
    Box-topic
   ============== */
.ribbon {
  position: relative;
  font-size: 16px; }
  .ribbon > .row {
    border-top: 1px solid #e6e6e6;
    background-color: #f2f2f2;
    padding: 0; }
    .ribbon > .row > .col-sm-9 {
      padding: 0; }
  .ribbon .category {
    background-color: #f2f2f2;
    padding: 15px; }
    @media (min-width: 768px) {
      .ribbon .category {
        float: right;
        padding: 35px; } }
    .ribbon .category header {
      color: #d6d6d6;
      line-height: 1.1em;
      display: inline-block;
      text-transform: uppercase;
      font-size: 24px; }
      @media (min-width: 1280px) {
        .ribbon .category header {
          font-size: 30px; } }
      @media (min-width: 1440px) {
        .ribbon .category header {
          font-size: 40px; } }
    .ribbon .category .index {
      display: none;
      color: #d6d6d6;
      line-height: 1em;
      font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }
      @media (min-width: 768px) {
        .ribbon .category .index {
          display: block;
          font-size: 50px; } }
      @media (min-width: 1024px) {
        .ribbon .category .index {
          font-size: 60px; } }
      @media (min-width: 1280px) {
        .ribbon .category .index {
          font-size: 70px; } }
    @media (min-width: 1680px) {
      .topics .ribbon .category header {
        font-size: 30px; } }
  @media (max-width: 767px) {
    .ribbon .index-wrap {
      padding-right: 95px; } }
  .ribbon .row.indexed .col-sm-9 {
    background-color: #fff; }
  @media (min-width: 1024px) {
    .ribbon .row.indexed:before {
      content: "Modul mangler";
      position: absolute;
      top: 50%;
      left: 40%;
      margin-left: -130px;
      margin-top: -35px;
      color: #e6e6e6;
      font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
      font-size: 50px;
      z-index: 0; } }
  .ribbon.spacedout {
    padding-top: 80px; }
    @media (min-width: 1024px) {
      .ribbon.spacedout {
        padding-top: 90px; } }

/* ==============
	Topics
   ============== */
.topic {
  display: block;
  overflow: hidden;
  background: #cdcdcd url(../img/loader.gif) no-repeat center center; }
  @media (min-width: 768px) {
    .topic {
      min-height: 310px; } }
  @media (min-width: 1024px) {
    .topic h2 {
      margin-bottom: 28px; }
    .topic p {
      margin-bottom: 35px; } }
  @media (min-width: 1280px) {
    .topic {
      min-height: 386px; } }
  @media (min-width: 1680px) {
    .topic {
      min-height: 480px; } }
  .topic, .topic:visited {
    color: #fff;
    text-decoration: none; }
  .topic:hover h2, .topic:hover p, .topic:focus h2, .topic:focus p {
    color: #fff; }
  .topic h2 {
    color: #fff;
    font-size: 30px;
    line-height: 1.1; }
    @media (min-width: 768px) {
      .topic h2 {
        font-size: 40px; } }
    @media (min-width: 1024px) {
      .topic h2 {
        font-size: 60px; } }
  .topic p {
    color: #fff;
    line-height: 1.25; }
    @media (min-width: 768px) {
      .topic p {
        font-size: 22px; } }
    @media (min-width: 1024px) {
      .topic p {
        font-size: 25px; } }
  @media (min-width: 768px) {
    .topic .content {
      width: 86%; } }
  @media (min-width: 1024px) {
    .topic .content {
      width: 70%;
      padding: 0 35px; } }
  .topic .bg:before {
    content: "";
    position: absolute;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.8s ease-in; }
  @media (min-width: 1024px) {
    .no-touch .topic .bg:before {
      opacity: 0;
      transition: opacity 0.4s ease-in; }
    .no-touch .topic p {
      opacity: 0;
      transition: opacity 0.4s ease-in; }
    .alpha-go .topic:focus .bg:before {
      opacity: 1;
      transition: opacity 0.4s ease-out; }
    .alpha-go .topic:focus p {
      opacity: 1;
      transition: opacity 0.25s ease-in-out; } }

.topic-wrap .category {
  height: 2px;
  background: #565e65;
  padding: 0; }
@media (min-width: 480px) {
  .topic-wrap .category {
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    bottom: 1px;
    cursor: pointer;
    padding: 15px;
    background: #fff; }
    .topic-wrap .category:before, .topic-wrap .category:after {
      position: absolute;
      content: "";
      border-top: 1px solid #d9d9d9;
      top: 50%;
      left: 50%;
      width: 60px;
      margin-left: -42px;
      transition: all 0.4s ease-in-out; }
    .topic-wrap .category:after {
      transform: rotate(45deg) translate(0px, -30px); }
    .topic-wrap .category:before {
      transform: rotate(-45deg) translate(0px, 30px); }
    .topic-wrap .category header {
      display: none; } }
@media (min-width: 768px) {
  .topic-wrap .category:before, .topic-wrap .category:after {
    top: 50%;
    left: 50%;
    width: 80px;
    margin-left: -60px; }
  .topic-wrap .category:after {
    transform: rotate(45deg) translate(0px, -40px); }
  .topic-wrap .category:before {
    transform: rotate(-45deg) translate(0px, 40px); }
  .topic-wrap:hover .category {
    background: #f2f2f2;
    transition: all 0.4s ease-in-out; }
    .topic-wrap:hover .category:before, .topic-wrap:hover .category:after {
      border-color: #565e65;
      margin-left: -50px; }
    .topic-wrap:hover .category:after {
      transform: rotate(40deg) translate(0px, -34px); }
    .topic-wrap:hover .category:before {
      transform: rotate(-40deg) translate(0px, 34px); } }
@media (min-width: 480px) {
  .alpha-go .topic-wrap:hover .bg:before, .menu-wrap + .page-wrap .topic-wrap:hover .bg:before {
    opacity: 1;
    transition: opacity 0.4s ease-out; }
  .alpha-go .topic-wrap:hover p, .menu-wrap + .page-wrap .topic-wrap:hover p {
    opacity: 1;
    transition: opacity 0.3s ease-in-out; } }
.topic-wrap:nth-child(2n) .bg {
  background-color: #e5e5e5; }

/* ==============
	Modules
   ============== */
.module-wrap {
  position: relative;
  background: #fff;
  z-index: 2; }
  @media (min-width: 1440px) {
    .col-sm-9 .module-wrap {
      float: right;
      width: 100%;
      max-width: 1080px; } }
  .module-wrap img {
    max-width: 100%;
    height: auto; }

.content {
  position: relative;
  padding: 0 15px 0 15px;
  font-family: "AmnestyTradeGothic Condensed", "Avenir Next Condensed Bold", "Roboto Condensed Bold", "Open Sans Condensed", sans-serif;
  font-size: 17px; }
  @media (min-width: 768px) {
    .content {
      font-size: 20px; } }
  @media (min-width: 1024px) {
    .content {
      padding: 0 35px 0 60px; } }
  .content:first-child {
    padding-top: 15px; }
  .content hr {
    margin: 15px 0; }
    @media (min-width: 1024px) {
      .content hr {
        margin-top: 35px 0; } }

.col-sm-9:last-child .module-wrap:not(.press-and-news) {
  padding-bottom: 15px; }
  @media (min-width: 1024px) {
    .col-sm-9:last-child .module-wrap:not(.press-and-news) {
      padding-bottom: 35px; } }
  .col-sm-9:last-child .module-wrap:not(.press-and-news) .content hr {
    display: none; }

.text-content h2 {
  white-space: pre-line; }

@media (max-width: 1023px) {
  .text-two-col .row {
    margin: 0; }
  .text-two-col .col-md-6 {
    padding: 0; } }
@media (min-width: 1024px) and (max-width: 1279px) {
  .text-two-col .col-md-6:last-child {
    padding-left: 15px; } }

.statement {
  text-align: center;
  padding: 20px 15px;
  line-height: 1.2;
  white-space: pre-line;
  background-color: #fbf038;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-size: 6vw;
  text-transform: uppercase; }
  @media (min-width: 480px) {
    .statement {
      padding: 20px 8%;
      font-size: 24px;
      font-size: 5vw; } }
  @media (min-width: 768px) {
    .statement {
      font-size: 40px;
      padding: 35px 10%; } }
  @media (min-width: 1024px) {
    .statement {
      padding: 60px 15.6%; } }

.infographic .col-xs-6 {
  float: left;
  width: 50%;
  padding: 0 17.5px; }
  @media (min-width: 768px) {
    .infographic .col-xs-6 {
      padding: 0 35px; } }
  @media (min-width: 1024px) {
    .infographic .col-xs-6 {
      padding: 0 70px; } }
.infographic .circle-loader {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%; }
  .infographic .circle-loader svg {
    width: 120px;
    transform: rotate(-1deg); }
    @media (min-width: 768px) {
      .infographic .circle-loader svg {
        width: 200px;
        height: 200px; } }
    @media (min-width: 1024px) {
      .infographic .circle-loader svg {
        width: 250px;
        height: 250px; } }
    @media (min-width: 1280px) {
      .infographic .circle-loader svg {
        width: 300px;
        height: 300px; } }
    @media (min-width: 1440px) {
      .infographic .circle-loader svg {
        width: 350px;
        height: 350px; } }
  .infographic .circle-loader figcaption {
    text-align: center;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6; }
  .infographic .circle-loader .circle {
    fill: none;
    stroke: #eeeeee;
    stroke-width: 66;
    stroke-miterlimit: 10; }
    .infographic .circle-loader .circle.full {
      stroke-width: 10; }
    .infographic .circle-loader .circle.action-red {
      stroke: #da6a61;
      stroke-width: 0;
      stroke-miterlimit: 10; }
    .infographic .circle-loader .circle.yellow {
      stroke: #fbf038; }
    .infographic .circle-loader .circle.white {
      stroke: #FFF; }
  .infographic .circle-loader .result {
    width: 100%;
    color: #fbf038;
    font-size: 40px;
    font-size: 13vw;
    line-height: 1em;
    text-align: center;
    font-family: "AmnestyTradeGothic Light", Arial, Helvetica, sans-serif; }
    .infographic .circle-loader .result + p {
      line-height: 1.2;
      margin: 5px 0 7px;
      text-transform: uppercase;
      font-size: 20px;
      font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }
    @media (min-width: 768px) {
      .infographic .circle-loader .result {
        font-size: 60px; } }
    @media (min-width: 1024px) {
      .infographic .circle-loader .result {
        font-size: 75px; } }
    @media (min-width: 1280px) {
      .infographic .circle-loader .result {
        font-size: 100px; } }
  .infographic .circle-loader.leftover .result {
    color: #da6a61; }
  .infographic .circle-loader.leftover .circle.prog {
    stroke-width: 30; }
  .infographic .circle-loader.leftover .circle.full {
    stroke-width: 54; }
.infographic .btn {
  margin: 35px 0; }

@media (max-width: 479px) {
  .download .row {
    margin-left: -15px;
    margin-right: -15px; }
    .download .row:before, .download .row:after {
      content: " ";
      display: table; }
    .download .row:after {
      clear: both; } }
.download a {
  text-decoration: none; }
  .download a:focus, .download a:hover {
    color: #000;
    text-decoration: underline; }
    .download a:focus .icon, .download a:hover .icon {
      background-color: #f5f5f5; }
  @media (max-width: 479px) {
    .download a {
      float: left;
      width: 50%; } }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .download a {
      width: 20%; } }
.download h3 {
  font-family: "AmnestyTradeGothic Light", Arial, Helvetica, sans-serif;
  margin-bottom: 15px; }
  @media (min-width: 1024px) {
    .download h3 {
      margin-bottom: 60px; } }
.download .icon {
  display: block;
  background: url(../img/download-cloud.png) no-repeat center center;
  border: 3px solid #f2f2f2;
  height: 120px; }
.download p {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 15px;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }

.google-maps {
  height: 200px;
  background: #565e65 url(../img/loader.gif) no-repeat center center; }
  @media (min-width: 768px) {
    .google-maps {
      height: 300px; } }
  @media (min-width: 1024px) {
    .google-maps {
      height: 400px; } }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%; }

.press-and-news {
  padding-top: 15px;
  overflow: hidden; }
  @media (min-width: 768px) {
    .press-and-news {
      padding-top: 35px; } }
  @media (max-width: 479px) {
    .press-and-news .col-xs-6 {
      float: left;
      width: 50%; }
      .press-and-news .col-xs-6:last-child .list-item {
        margin-left: 20px; } }
  .press-and-news .list-item:first-child {
    padding-top: 0; }
  .press-and-news img.thumb {
    display: none; }
    @media (min-width: 480px) {
      .press-and-news img.thumb {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding-right: 15px;
        width: 100px; }
        .press-and-news img.thumb + .content {
          padding-left: 100px;
          min-height: 100px; } }
    @media (min-width: 768px) {
      .press-and-news img.thumb {
        padding-right: 35px;
        width: 150px; }
        .press-and-news img.thumb + .content {
          padding-left: 150px;
          min-height: 150px; } }
  .press-and-news .content {
    position: relative;
    padding-left: 0;
    padding-top: 0; }
  .press-and-news time {
    font-size: 13px;
    display: block; }
    @media (min-width: 768px) {
      .press-and-news time {
        float: right; } }
    @media (min-width: 1280px) {
      .press-and-news time {
        font-size: 16px; } }
  .press-and-news .tab-controls,
  .press-and-news .tab-pagination {
    margin-bottom: 35px;
    margin-left: -35px;
    margin-right: -35px;
    margin-left: -15px;
    margin-right: -15px; }
    .press-and-news .tab-controls:before, .press-and-news .tab-controls:after,
    .press-and-news .tab-pagination:before,
    .press-and-news .tab-pagination:after {
      content: " ";
      display: table; }
    .press-and-news .tab-controls:after,
    .press-and-news .tab-pagination:after {
      clear: both; }
    .press-and-news .tab-controls > div,
    .press-and-news .tab-pagination > div {
      float: left;
      width: 50%;
      padding-left: 0; }
      .press-and-news .tab-controls > div:first-child,
      .press-and-news .tab-pagination > div:first-child {
        padding-left: 20px; }
        @media (min-width: 480px) {
          .press-and-news .tab-controls > div:first-child,
          .press-and-news .tab-pagination > div:first-child {
            text-align: right; } }
  @media (max-width: 479px) {
    .press-and-news .tab-controls .btn {
      font-size: 14px; }
      .press-and-news .tab-controls .btn span {
        padding: 15px; } }
  @media (min-width: 1280px) {
    .press-and-news .tab-controls .btn {
      font-size: 22px; } }
  .press-and-news:not(.news-only) .tabs-wrapper {
    width: 200%;
    width: calc(200% + 70px); }
  .press-and-news.news-only .list-item {
    margin: 0 15px; }
    @media (min-width: 768px) {
      .press-and-news.news-only .list-item {
        margin: 0 35px; } }

.time-stamp.news-time {
  font-size: 15px;
  z-index: 10;
  top: 1px;
  background: #fff;
  height: auto;
  color: #3f3f3f;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }
  .time-stamp.news-time time {
    margin-top: 15px; }
  .time-stamp.news-time > .row {
    border-bottom: 1px solid #f2f2f2; }
    .time-stamp.news-time > .row .col-sm-9 {
      max-width: 1080px;
      padding: 0 15px 15px 15px; }
      @media (min-width: 768px) {
        .time-stamp.news-time > .row .col-sm-9 {
          float: right;
          padding-top: 5px; } }
      @media (min-width: 1024px) {
        .time-stamp.news-time > .row .col-sm-9 {
          padding: 5px 35px 15px 62px; } }
    .time-stamp.news-time > .row .col-sm-3 {
      display: none;
      float: right;
      padding-bottom: 15px; }
      @media (min-width: 768px) {
        .time-stamp.news-time > .row .col-sm-3 {
          display: block;
          padding-top: 5px; } }

body > footer {
  padding: 15px;
  background: #000; }
  @media (min-width: 768px) {
    body > footer {
      padding: 15px 28px; } }
  @media (min-width: 1440px) {
    body > footer {
      padding: 15px 35px; } }
  body > footer h4, body > footer address, body > footer p {
    color: #999999; }
  body > footer h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 6px; }
  body > footer address, body > footer p {
    font-size: 16px;
    line-height: 1.5em;
    font-style: normal;
    font-family: "AmnestyTradeGothic Condensed", "Avenir Next Condensed Bold", "Roboto Condensed Bold", "Open Sans Condensed", sans-serif; }
  body > footer .contact-email {
    display: inline-block;
    font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1em;
    color: #fbf038;
    text-decoration: none;
    margin-bottom: 35px; }
    @media (min-width: 480px) {
      body > footer .contact-email {
        font-size: 36px; } }
    @media (min-width: 768px) {
      body > footer .contact-email {
        font-size: 40px; } }
  body > footer .social {
    text-align: right;
    padding: 0;
    margin: 0; }
  body > footer > .row > div {
    padding: 0; }
    @media (min-width: 768px) {
      body > footer > .row > div {
        min-height: 200px; } }
    @media (min-width: 1024px) {
      body > footer > .row > div {
        min-height: 230px; } }
    @media (min-width: 1280px) {
      body > footer > .row > div {
        min-height: 300px; } }
  body > footer a, body > footer a:visited {
    color: #fbf038; }
    body > footer a:hover, body > footer a:focus, body > footer a:visited:hover, body > footer a:visited:focus {
      color: #fff; }
  body > footer div.form-row label {
    position: absolute;
    padding: 16px 20px 16px; }
  body > footer div.form-row input[type=email],
  body > footer div.form-row input[type=text] {
    margin-top: 10px; }

@media (min-width: 768px) {
  .service-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; } }

.service-menu,
.breadcrumb {
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }

.breadcrumb {
  padding-bottom: 16px;
  margin: 0 15px;
  font-size: 14px; }
  .breadcrumb li {
    position: relative;
    color: #999999;
    display: inline-block;
    z-index: 100; }
    .breadcrumb li svg {
      position: absolute;
      display: block;
      top: 7px;
      left: -10px;
      width: 5px;
      height: 8px;
      color: #fff;
      font-size: 10px; }
      .breadcrumb li svg polygon {
        fill: #3f3f3f; }
    .breadcrumb li:first-child svg {
      display: none; }
    .breadcrumb li + li {
      margin-left: 15px; }
  .breadcrumb a, .breadcrumb a:visited {
    color: #fff; }
    .breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:visited:hover, .breadcrumb a:visited:focus {
      color: #ecb940; }
  footer .breadcrumb {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #444444; }
    footer .breadcrumb a {
      color: #fff; }
      footer .breadcrumb a:hover, footer .breadcrumb a:focus {
        color: #f2f2f2; }
    footer .breadcrumb svg {
      width: 4px;
      height: 7px; }
      footer .breadcrumb svg polygon {
        fill: #fff; }

.time-stamp {
  position: relative;
  text-align: right;
  font-size: 14px;
  font-family: "AmnestyTradeGothic Condensed", "Avenir Next Condensed Bold", "Roboto Condensed Bold", "Open Sans Condensed", sans-serif;
  line-height: 2.2em;
  z-index: 1;
  color: #999999; }
  @media (min-width: 768px) {
    .time-stamp {
      height: 0;
      top: 0;
      line-height: 1.4em; } }
  .time-stamp div {
    position: relative; }

.service-menu {
  text-transform: uppercase;
  padding: 0;
  font-size: 16px; }
  .service-menu ul {
    display: inline-block; }
  .service-menu li {
    display: inline-block;
    margin-right: 20px; }
    .service-menu li:last-child {
      margin-right: 0; }
  .service-menu a {
    line-height: 2; }

/* ==============
    Search
   ============== */
.search-global > form {
  width: 100%;
  margin: 20px auto;
  position: relative;
  background: #fff;
  transition: all 0.3s ease-out; }
  @media (min-width: 1280px) {
    .search-global > form {
      width: 50%; } }
.search-global .global-search {
  width: 100%;
  overflow: hidden;
  color: #d6d6d6;
  font-size: 24px;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
  line-height: 1.8;
  height: 52px;
  background: transparent;
  padding-left: 10px;
  border-bottom: 2px solid #d6d6d6;
  transition: all 0.3s ease-out; }
  .search-global .global-search + .btn-search {
    opacity: 0.8;
    transition: all 0.3s ease-out; }
    .search-global .global-search + .btn-search + svg path {
      transition: all 0.3s ease-out; }
  .search-global .global-search:-moz-placeholder {
    color: #d6d6d6; }
  .search-global .global-search::-moz-placeholder {
    color: #d6d6d6; }
  .search-global .global-search:-ms-input-placeholder {
    color: #d6d6d6; }
  .search-global .global-search::-webkit-input-placeholder {
    color: #d6d6d6; }
  @media (min-width: 768px) {
    .search-global .global-search {
      opacity: 1;
      border-bottom: 2px solid #d6d6d6; }
      .search-global .global-search:focus {
        color: #565e65;
        border-bottom: 2px solid #565e65; }
        .search-global .global-search:focus + .btn-search {
          opacity: 1; }
          .search-global .global-search:focus + .btn-search + svg path {
            fill: #565e65; } }
.search-global .btn-search, .search-global svg {
  position: absolute;
  right: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: 1000px;
  transition: all 0.3s ease-out;
  background: transparent;
  z-index: 1; }
  @media (min-width: 768px) {
    .search-global .btn-search, .search-global svg {
      margin: 0;
      right: 0;
      width: 60px; } }
  .search-global .btn-search:hover, .search-global .btn-search:focus, .search-global svg:hover, .search-global svg:focus {
    opacity: 1; }
.search-global .btn-search {
  z-index: 100; }
  .no-svg .search-global .btn-search {
    background: url(../img/svg_search.png) no-repeat center center; }

.search-results > header {
  border: none !important;
  padding-bottom: 25px !important; }

.list-item {
  position: relative; }
  .list-item:first-child {
    padding-top: 25px; }
  .list-item a {
    display: block;
    text-decoration: none; }
    .list-item a:hover, .list-item a:focus {
      color: #3f3f3f; }
  .list-item:hover hr, .list-item:focus hr {
    border-color: #d6d6d6; }
  .list-item h3 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .list-item h3 {
        font-size: 26px; } }
    .list-item h3 i {
      width: 0;
      display: block;
      border-top: 1px solid #d6d6d6;
      transition: width 0.2s ease-in; }
  .list-item:hover h3 i, .list-item:focus h3 i {
    width: 100%;
    transition: width 0.3s ease-out; }
  .list-item .breadcrumb a {
    color: #565e65; }

.search-tags {
  display: block;
  text-align: right; }
  .search-tags svg {
    margin-top: 7px;
    width: 32px;
    height: 22px; }
  .search-tags a {
    font-size: 14px;
    margin-right: 12px;
    text-decoration: none; }
    .search-tags a:last-child {
      margin-right: 0; }
  @media (min-width: 768px) {
    .search-tags {
      float: right; }
      .search-tags a {
        float: left;
        font-size: 16px;
        margin-right: 0;
        margin-left: 12px; }
        .search-tags a:hover, .search-tags a:focus {
          text-decoration: underline; }
      .search-tags svg {
        float: left;
        margin-top: 0;
        width: 38px;
        height: 30px; } }

.searchbar {
  min-height: 120px; }

/* ==============
    Form elements
   ============== */
input, textarea, textarea:focus, input:focus {
  outline: 0;
  border: 0;
  border-radius: 0; }

input[type="number"], input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.form-module {
  padding: 35px 0; }
  .form-module h3, .form-module .contourField h2 + p {
    line-height: 1;
    margin-bottom: 35px; }
  .form-module .row + h3 {
    margin: 35px 0 15px; }
  .form-module h4, .form-module .contourField h2 {
    font-size: 24px;
    margin: 30px 0 10px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .form-module h4, .form-module .contourField h2 {
        font-size: 30px; } }
    @media (min-width: 1024px) {
      .form-module h4, .form-module .contourField h2 {
        font-size: 40px; } }
  .form-module .content {
    padding: 20px 0; }
  .form-module .bg + .content, .form-module .bg + .content h2, .form-module .bg + .content h3 {
    color: #fff; }
  .form-module.black-text .bg + .content, .form-module.black-text .bg + .content h2, .form-module.black-text .bg + .content h3 {
    color: #000; }
  .form-module .form-row > div {
    overflow: hidden; }
    .form-module .form-row > div:first-child {
      min-height: 250px; }
  @media (min-width: 1024px) {
    .form-module .form-row {
      display: flex;
      align-items: stretch; }
      .form-module .form-row > div {
        flex-flow: row wrap; }
        .form-module .form-row > div .bg:first-child {
          min-height: 350px;
          max-height: 550px; } }
  .form-module input[type="button"] + input[type="submit"], .form-module input[type="button"] + input[type="button"].btn-submit {
    display: none; }
  .form-module input[type="button"].hidden + input[type="submit"], .form-module input[type="button"].hidden + input[type="button"].btn-submit {
    display: inline; }
  .form-module input[type="button"].prev {
    float: left; }
  .form-module .contourNavigation {
    position: relative;
    margin-top: 10px; }
    .form-module .contourNavigation .col-md-12 {
      text-align: right; }
  .form-module .contour textarea {
    resize: none; }
  .form-module .form-progress {
    padding: 0;
    margin: 0; }
    @media (max-width: 479px) {
      .form-module .form-progress {
        margin: 0 -15px; } }
    .form-module .form-progress li {
      display: inline-block;
      width: 32.3%;
      color: #999999;
      font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
      font-size: 12px;
      text-transform: uppercase; }
      @media (min-width: 480px) {
        .form-module .form-progress li {
          font-size: 14px; } }
      .form-module .form-progress li span {
        position: relative;
        display: inline-block;
        padding: 10px 5px;
        white-space: nowrap;
        background-color: #fff;
        transition: all 0.4s ease-in-out; }
        @media (min-width: 480px) {
          .form-module .form-progress li span {
            padding: 10px; } }
        @media (min-width: 768px) {
          .form-module .form-progress li span {
            padding: 15px; } }
        @media (min-width: 1024px) {
          .form-module .form-progress li span {
            padding: 15px 25px; } }
        .form-module .form-progress li span:after {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          top: 0;
          right: -12px;
          border-top: 18px solid transparent;
          border-left: 12px solid #f2f2f2;
          border-bottom: 18px solid transparent;
          z-index: 0;
          opacity: 0;
          transition: opacity 0.4s ease-in-out; }
        @media (min-width: 480px) {
          .form-module .form-progress li span:after {
            right: -14px;
            border-top: 25px solid transparent;
            border-left: 14px solid #f2f2f2;
            border-bottom: 25px solid transparent; } }
      .form-module .form-progress li.active span {
        color: #000;
        background-color: #f2f2f2; }
        .form-module .form-progress li.active span:after {
          opacity: 1; }

div.form-row {
  /*.textarea label,*/
  /*.textfield label,*/ }
  div.form-row label,
  div.form-row textarea,
  div.form-row input[type="text"],
  div.form-row input[type="number"],
  div.form-row input[type="email"] {
    position: relative;
    max-width: none !important;
    line-height: 1.6;
    font-size: 14px;
    font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
    padding: 16px 20px 16px;
    z-index: 1;
    background: transparent; }
    div.form-row label.value, div.form-row label:focus,
    div.form-row textarea.value,
    div.form-row textarea:focus,
    div.form-row input[type="text"].value,
    div.form-row input[type="text"]:focus,
    div.form-row input[type="number"].value,
    div.form-row input[type="number"]:focus,
    div.form-row input[type="email"].value,
    div.form-row input[type="email"]:focus {
      background: #fff; }
    div.form-row label.error, div.form-row label.error:focus,
    div.form-row textarea.error,
    div.form-row textarea.error:focus,
    div.form-row input[type="text"].error,
    div.form-row input[type="text"].error:focus,
    div.form-row input[type="number"].error,
    div.form-row input[type="number"].error:focus,
    div.form-row input[type="email"].error,
    div.form-row input[type="email"].error:focus {
      border-color: #ad3228; }
  div.form-row label {
    padding: 16px 20px 0 0; }
  div.form-row .checkbox label {
    position: absolute;
    z-index: 0;
    display: block;
    background: transparent; }
  div.form-row .radiobuttonlist {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%; }
    div.form-row .radiobuttonlist .contourField {
      text-align: center;
      height: 108px;
      padding: 0; }
      div.form-row .radiobuttonlist .contourField > div {
        position: relative; }
      div.form-row .radiobuttonlist .contourField label, div.form-row .radiobuttonlist .contourField input {
        display: block;
        cursor: pointer;
        padding: 0;
        margin-top: 4px;
        line-height: 80px;
        padding-bottom: 20px;
        color: #232526;
        font-size: 20px;
        font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
        background: #f2f2f2;
        z-index: 1;
        transition: all 0.3s ease-out; }
      div.form-row .radiobuttonlist .contourField input {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 10%;
        margin-left: -7px;
        z-index: 5; }
        div.form-row .radiobuttonlist .contourField input:checked + label {
          background: #fbf038;
          line-height: 88px;
          margin-top: 0; }
  div.form-row input[type="text"],
  div.form-row input[type="number"],
  div.form-row input[type="email"],
  div.form-row textarea {
    width: 100%;
    display: block;
    margin: 0 0 10px;
    border: 1px solid #d6d6d6; }
    div.form-row input[type="text"]:focus,
    div.form-row input[type="number"]:focus,
    div.form-row input[type="email"]:focus,
    div.form-row textarea:focus {
      border: 1px solid #565e65; }
  div.form-row textarea {
    min-height: 280px; }
  div.form-row .checkboxlist input, div.form-row .radiobuttonlist input, div.form-row .checkbox input {
    width: auto;
    height: auto;
    border: none;
    display: inline; }
  div.form-row .checkbox {
    margin: 15px 0 10px 20px; }
    div.form-row .checkbox label {
      margin-top: -2px;
      line-height: 1.3em;
      padding: 0;
      padding-left: 35px; }
    div.form-row .checkbox + .checkbox {
      margin-top: 0; }
    div.form-row .checkbox:last-child {
      margin-bottom: 25px; }
  div.form-row .checkboxlist,
  div.form-row .radiobuttonlist {
    margin-top: 0;  }
    div.form-row .checkboxlist > .fieldLabel,
    div.form-row .radiobuttonlist > .fieldLabel {
      padding-top: 15px;
      display: block; }
  div.form-row .checkboxlist .checkboxlist,
  div.form-row .radiobuttonlist .radiobuttonlist {
    margin: 0 0 20px 20px;
    display: block; }
  div.form-row .checkboxlist label,
  div.form-row .radiobuttonlist label {
    padding-top: 0;}
  div.form-row .dropdownlist {
    margin-bottom: 15px; }
    div.form-row .dropdownlist label {
      padding: 0; }
    div.form-row .dropdownlist select {
      width: 80%; }
  footer div.form-row {
    position: relative; }
    @media (min-width: 480px) {
      footer div.form-row {
        width: 75%; } }
    footer div.form-row input[type="text"],
    footer div.form-row label {
      width: 100%;
      font-size: 14px;
      text-transform: uppercase; }
      footer div.form-row input[type="text"], footer div.form-row input[type="text"]:focus,
      footer div.form-row label,
      footer div.form-row label:focus {
        border: 1px solid #000; }
    footer div.form-row label {
      color: #000;
      background: #fff !important; }
    footer div.form-row input[type="text"] {
      padding-right: 115px; }
    @media (max-width: 479px) {
      footer div.form-row .contourFieldSet .row-fluid > div {
        padding: 0; } }
    footer div.form-row .contourNavigation {
      position: absolute;
      top: 54px;
      right: 13px;
      z-index: 2;
      margin: 0; }
      footer div.form-row .contourNavigation > div {
        padding: 0; }
    footer div.form-row .field-validation-error,
    footer div.form-row .field-validation-valid {
      right: 105px; }

.contour .span4, .contour .span6 {
  position: relative;
  min-height: 1px;
  float: left; }
.contour .span4 {
  width: 33.33333%; }
.contour .span6 {
  width: 50%; }
@media (max-width: 479px) {
  .contour .row-fluid {
    margin-left: -15px;
    margin-right: -15px; }
    .contour .row-fluid:before, .contour .row-fluid:after {
      content: " ";
      display: table; }
    .contour .row-fluid:after {
      clear: both; } }
.js .contour.sendetbrev .contourPage fieldset {
  width: 206%;
  width: calc(200% + 30px); }
  @media (min-width: 768px) {
    .js .contour.sendetbrev .contourPage fieldset {
      width: 208%;
      width: calc(200% + 70px); } }
.no-js .contour.sendetbrev .contourPage .col-md-6,
.no-js .contour.sendetbrev .contourPage .col-md-4 {
  width: 100%; }
.contour.sendetbrev .row-fluid > div:before {
  content: ""; }
.contour.donate .col-xs-4, .contour.blivmedlem .col-xs-4 {
  float: left;
  width: 33.3333%; }
.contour.donate .col-xs-8, .contour.blivmedlem .col-xs-8 {
  float: left;
  width: 66.6664%; }
.js .contour.donate .contourPage fieldset, .js .contour.blivmedlem .contourPage fieldset {
  width: 302%;
  width: calc(300% + 60px); }
  @media (min-width: 768px) {
    .js .contour.donate .contourPage fieldset, .js .contour.blivmedlem .contourPage fieldset {
      width: 304%;
      width: calc(300% + 140px); } }
.no-js .contour.donate .contourPage .col-md-6,
.no-js .contour.donate .contourPage .col-md-4, .no-js .contour.blivmedlem .contourPage .col-md-6,
.no-js .contour.blivmedlem .contourPage .col-md-4 {
  width: 100%; }
.contour.donate .otherAmount, .contour.blivmedlem .otherAmount {
  text-align: center;
  padding: 5px 0 10px;
  clear: both;
  cursor: pointer; }
  .contour.donate .otherAmount + .textfield, .contour.blivmedlem .otherAmount + .textfield {
    height: 78px;
    overflow: hidden;
    margin: 0 0 10px 0;
    transition: height 0.2s ease-in; }
.contour.donate label[for="customAmount"] + div:after, .contour.blivmedlem label[for="customAmount"] + div:after {
  content: "Kr.";
  text-align: center;
  position: absolute;
  width: 55px;
  height: 54px;
  bottom: 1px;
  right: 1px;
  line-height: 56px;
  color: #232526;
  font-size: 20px;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  z-index: 100; }
.contour.donate .hide-next + .textfield, .contour.blivmedlem .hide-next + .textfield {
  height: 0;
  transition: height 0.2s ease-out; }
  .contour.donate .hide-next + .textfield label, .contour.donate .hide-next + .textfield > div, .contour.blivmedlem .hide-next + .textfield label, .contour.blivmedlem .hide-next + .textfield > div {
    display: none; }
.contour.donate .info-link, .contour.blivmedlem .info-link {
  display: none;
  height: 0;
  clear: both;
  text-align: center; }
  .contour.donate .info-link a, .contour.blivmedlem .info-link a {
    display: inline-block;
    top: -28px; }
.contour.skrivunder .mobiltelefon.no-val .contourIndicator, .contour.sendetbrev .mobiltelefon.no-val .contourIndicator {
  display: none; }
.contour .contourField {
  position: relative;
  clear: both; }
.contour .row > .contourField {
  clear: none; }
  .contour .row > .contourField:first-child {
    padding-right: 0; }
  @media (max-width: 480px) {
    .contour .row > .contourField {
      padding-right: 0;
      padding-left: 0; } }
  .contour .row > .contourField input {
    margin: 0; }
.contour .checkbox input[type="checkbox"]:focus,
.contour .checkboxlist input[type="checkbox"]:focus,
.contour .radiobuttonlist input[type="radio"]:focus {
  box-shadow: 0 0 5px 0px #000; }

.error-msg,
.field-validation-valid,
.field-validation-error {
  position: absolute;
  color: #ad3228;
  top: 0;
  right: 0;
  line-height: 1.6;
  font-size: 14px;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
  z-index: 2;
  background: transparent; }

.contourNavigation .error-msg {
  position: relative;
  padding-right: 20px; }

.contourIndicator {
  color: #ad3228; }

.help-block {
  position: absolute;
  display: block;
  color: #fff;
  right: 6px;
  top: 28px;
  width: 20px;
  height: 0;
  margin: 0;
  font-size: 0;
  line-height: 1.5em;
  padding: 8px 35px 6px 15px;
  z-index: 20;
  transition: all 0.1s ease-out;
  border-radius: 17px; }
  .touch .help-block {
    height: 30px; }
  .help-block:before {
    display: block;
    content: "?";
    float: right;
    width: 20px;
    height: 20px;
    margin-right: -24px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 19px;
    font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
    text-align: center;
    background: #d6d6d6;
    transition: all 0.25s ease-out; }
  .help-block:hover, .help-block.mobile-click {
    width: 100%;
    height: auto;
    font-size: 14px;
    top: 22px;
    right: 0;
    border-radius: 0;
    background: #565e65;
    transition: width 0.25s ease-out, height 0.25s 0.25s ease-out, font 0.2s 0.2s ease-out;
    transform-origin: 100% 50%;
    border: 1px solid transparent;
    border-top-color: #000; }
    .help-block:hover:before, .help-block.mobile-click:before {
      width: 35px;
      height: 35px;
      margin-top: -6px;
      margin-right: -30px;
      border-radius: 0;
      font-size: 18px;
      line-height: 35px;
      background: #565e65; }
  .checkboxfield .help-block, .checkbox .help-block {
    top: -8px; }
  .dropdownlist .help-block {
    top: 14px; }
    .dropdownlist .help-block:hover, .dropdownlist .help-block.mobile-click {
      top: 20px; }

/* ==============
    Social
   ============== */
.social {
  margin-top: 15px; }
  .category .social {
    display: none; }
    @media (max-width: 767px) {
      .category .social {
        position: absolute;
        top: 0;
        right: 5px;
        margin-top: 10px;
        width: 88px; } }
    .category .social.enabled {
      display: block; }

.share-btn {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px; }
  .share-btn svg {
    max-width: 100%; }
    .share-btn svg path {
      fill: #d6d6d6; }
    .share-btn svg circle {
      fill: #fff; }
  .share-btn + .share-btn {
    margin-left: 5px; }
  .no-svg .share-btn.facebook {
    background: url(../img/svg_facebook.png) no-repeat center; }
  .no-svg .share-btn.twitter {
    background: url(../img/svg_twitter.png) no-repeat center; }
  .share-btn.goto-facebook svg path, .share-btn.goto-twitter svg path {
    fill: #fff; }
  .share-btn.goto-facebook svg circle, .share-btn.goto-twitter svg circle {
    fill: #000; }
  .share-btn.goto-facebook svg.hover path, .share-btn.goto-twitter svg.hover path {
    fill: #fbf038; }
  .share-btn.goto-facebook svg.hover circle, .share-btn.goto-twitter svg.hover circle {
    fill: #000 !important; }

body #CookieInformationDialog {
  background: #fbf038;
  padding: 15px;
  padding-left: 90px;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: none; }
  @media (min-width: 1280px) {
    body #CookieInformationDialog {
      padding-left: 200px; } }
body #CookieInformationDialogBody {
  max-width: none; }
body #CookieInformationDialogBodyContent {
  padding-left: 0; }
  @media (min-width: 768px) {
    body #CookieInformationDialogBodyContent {
      padding-left: 80px;
      padding-right: 80px; } }
body #CookieInformationDialogBodyContentTitle {
  color: #303030;
  font-family: "AmnestyTradeGothic Condensed", "Avenir Next Condensed Bold", "Roboto Condensed Bold", "Open Sans Condensed", sans-serif;
  font-size: 17px;
  line-height: normal;
  text-transform: none; }
  @media (min-width: 768px) {
    body #CookieInformationDialogBodyContentTitle {
      font-size: 20px; } }
body #CookieInformationDialogBodyButtons .CookieInformationDialogBodyLink, body #CookieInformationDialogBodyLevelDetailsButton {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #303030;
  font-size: 17px;
  line-height: normal;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding-top: 2px;
  padding-right: 0;
  background: none !important; }
  @media (min-width: 768px) {
    body #CookieInformationDialogBodyButtons .CookieInformationDialogBodyLink, body #CookieInformationDialogBodyLevelDetailsButton {
      font-size: 20px;
      padding-top: 0; } }
  body #CookieInformationDialogBodyButtons .CookieInformationDialogBodyLink:before, body #CookieInformationDialogBodyLevelDetailsButton:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-bottom: 1px solid transparent;
    transition: width .3s ease-in, border 0s .31s; }
  body #CookieInformationDialogBodyButtons .CookieInformationDialogBodyLink:hover, body #CookieInformationDialogBodyLevelDetailsButton:hover {
    color: #303030;
    text-decoration: none; }
    .no-touch body #CookieInformationDialogBodyButtons .CookieInformationDialogBodyLink:hover:before, .no-touch body #CookieInformationDialogBodyLevelDetailsButton:hover:before {
      border-color: #3f3f3f;
      width: 100%;
      transition: width .3s ease-out, border 0s 0s; }
@media (min-width: 768px) {
  body #CookieInformationDialogBodyButtons {
    padding-right: 70px; } }
body #CookieInformationDialogBodyButtons a {
  border: 0;
  font-size: 18px;
  font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif; }
@media (max-width: 767px) {
  body #CookieInformationDialogBodyButtons {
    padding-left: 0;
    margin-left: 0; }
    body #CookieInformationDialogBodyButtons a {
      margin-left: 0; } }
body #CookieInformationDialogDetail {
  background: transparent; }
body #CookieInformationDialogDetailBody {
  max-width: none;
  margin-left: -75px; }
  @media (min-width: 768px) {
    body #CookieInformationDialogDetailBody {
      margin-left: 0;
      padding-left: 80px;
      padding-right: 80px; } }
body #CookieInformationDialogPoweredbyLink {
  display: none; }
  @media (min-width: 768px) {
    body #CookieInformationDialogPoweredbyLink {
      display: block; } }

/*
#cookie-banner {
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    right:0;
    background:$brand-yellow;
    padding: $mobileGab;
    padding-left: 90px;
    transition: transform .5s ease-out;

    @media (min-width: $screen-lg) {
        padding-left: 200px;
    }

    &.hide {
        transform:translate3d(0, -100%, 0);
    }

    .cookie-close {
        float:right;
        position:relative;
        margin:0 0 10px 10px;
        width:50px;
        height:50px;
        background:$brand-yellow;
        cursor:pointer;
        transition:all .3s;

        &:before,
        &:after {
            content:'';
            position: absolute;
            top:50%;
            left:50%;
            width:75%;
            height:2px;
            transform-origin:0 0;
            background:#000;
            transition:all .3s;
        }

        &:before {
            transform: rotate(45deg) translate3d(-50%,-50%,0);
        }

        &:after {
            transform: rotate(-45deg) translate3d(-50%,-50%,0);
        }

        .no-touch &:hover {
            background:$menu-grey;

            &:before,
            &:after {
                background-color:$brand-yellow;
            }
        }
    }

    header {
        color:#303030;
        line-height:1.1em;
        text-transform:uppercase;
        font-size:24px;
        @media (min-width: $screen-lg) {
            font-size:30px;
        }
        @media (min-width: $screen-xl) {
            font-size:40px;
        }
    }

    .cookie-text {
        color:#303030;
        font-family:$font-amnesty-condensed;
        font-size: 17px;

        @media (min-width:$screen-sm) {
            font-size: 20px;
        }

        a.cookie-read-more {
            position:relative;
            display:inline-block;
            text-transform:uppercase;
            font-family:$font-amnesty-bold;
            text-decoration:none;

            &:before {
                content:'';
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:0;
                border-bottom:1px solid transparent;
                transition:width .3s ease-in, border 0s .31s;
            }

            .no-touch &:hover {
                color:#303030;

                &:before {
                    border-color:$brand-darkgrey;
                    width:100%;
                    transition:width .3s ease-out, border 0s 0s;
                }
            }
        }
    }
}
*/
/* ==============
    Helpers
   ============== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Bootstrap helper-classes */
@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 1024px) and (1279px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 1280px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 1024px) and (max-width: 1279px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1280px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }

/*# sourceMappingURL=main.css.map */
