﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.EmnerViewModel>

@{
    Layout = "Amnestydk.cshtml";
}
<!-- .page-wrap -->
<div class="page-wrap">
    <article id="topics" class="topics">
        <h1>
        @Model.Title
        @Html.Partial("SearchTags", Model)
        </h1>
        @Html.Partial("SectionMenu", Model.Sections)

        @if (Model.TopSection != null)
        {
            @Html.Partial("Partials/topSection", Model.TopSection)
        }
        
        <div class="row nomargin">
            @Html.Partial("Partials/TopicSections", Model.Sections.Sections)
        </div>
    </article>
</div> <!-- .page-wrap ends -->

<footer>
    <div class="time-stamp">
        @if (Model.Timestamp != default(DateTime))
        {
            <div>Sidst opdateret: <time datetime="@Model.Timestamp.ToString("yyyy-MM-dd")">@Model.Timestamp.ToString("d. MMMM yyyy")</time></div>
        }
    </div>
    @Html.Partial("Breadcrumb", Model)
 
    <!-- Footer content begins -->
    @Html.Partial("Footer", Model)
    <!-- Footer content ends -->
</footer>