﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>         <html lang="da" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="da" class="no-js">
    <!--<![endif]-->
<!--<![endif]-->
<head>
    <meta name="robots" content="noindex, nofollow">

    <meta charset="utf-8">
    <!-- Add to web.config -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404 side@*@Model.Title*@</title>
    
    <meta name="description" content="@SEOChecker.Library.MetaData.Current.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/static/dist/css/main.min.css">

    <link rel="icon" href="~/static/dist/img/favicon.ico">

    <script src="/static/dist/js/vendor/modernizr.custom.min.js"></script>

    <!--[if lt IE 9]>
        <script src="/static/js/vendor/html5shiv-printshiv.js"></script>
        <script src="/static/js/vendor/consolelogfix.min.js"></script>
        <script src="/static/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<!-- body.class based on pagetype -->
<body class="error-page">

<a href="/" class="logo affix" id="logo">
    <span class="logo-wrap">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120px" height="88px" x="0px" y="0px"
                viewBox="0 0 120 45.7" xml:space="preserve">
            <g class="svg-international">
                        <polygon points="67.1,32.5 67.1,38.9 67.1,38.9 64.7,32.5 62.9,32.5 62.9,43.7 64.7,43.7 64.7,36.7 64.7,36.7 67.2,43.7 68.9,43.7
		            68.9,32.5 	" />
                        <polygon points="79.6,42.1 79.6,32.5 77.7,32.5 77.7,43.7 82.7,43.7 82.7,42.1 	" />
                        <path d="M74.5,32.5h-2.4L70,43.7h1.9l0.3-2.5h2.1l0.3,2.5h1.9L74.5,32.5z M72.5,39.6l0.8-4.9h0l0.8,4.9H72.5z" />
                        <path d="M58.2,32.3c-2,0-3,1.3-3,2.9V41c0,1.6,0.9,2.9,3,2.9c2,0,3-1.3,3-2.9v-5.8C61.2,33.6,60.3,32.3,58.2,32.3z M59.3,41
		            c0,0.8-0.3,1.3-1,1.3c-0.8,0-1-0.4-1-1.3v-5.7c0-0.8,0.2-1.3,1-1.3c0.8,0,1,0.4,1,1.3V41z" />
                        <rect x="51.6" y="32.5" width="1.9" height="11.3" />
                        <polygon points="45.1,32.5 45.1,34.1 46.9,34.1 46.9,43.7 48.9,43.7 48.9,34.1 50.7,34.1 50.7,32.5 	" />
                        <path d="M43.3,32.5h-2.4l-2.1,11.3h1.9l0.3-2.5h2.1l0.3,2.5h1.9L43.3,32.5z M41.3,39.6l0.8-4.9h0l0.8,4.9H41.3z" />
                        <polygon points="35.9,32.5 35.9,38.9 35.9,38.9 33.5,32.5 31.7,32.5 31.7,43.7 33.5,43.7 33.5,36.7 33.5,36.7 36,43.7 37.7,43.7
		            37.7,32.5 	" />
                        <path d="M28.9,38.6c0.7-0.3,1.4-1,1.4-2.8c0-2.4-1.1-3.3-3.3-3.3h-2.7v11.3h1.9v-4.6c0.3,0,0.8,0,1,0l1.4,4.7h2L28.9,38.6z
		                M26.9,37.5h-0.7V34h0.7c1,0,1.4,0.4,1.4,1.7C28.3,37.1,27.9,37.5,26.9,37.5z" />
                        <polygon points="19.6,42.1 19.6,38.7 22.1,38.7 22.1,37.1 19.6,37.1 19.6,34.1 22.9,34.1 22.9,32.5 17.7,32.5 17.7,43.7 23.1,43.7
		            23.1,42.1 	" />
                        <polygon points="11.1,32.5 11.1,34.1 13,34.1 13,43.7 14.9,43.7 14.9,34.1 16.8,34.1 16.8,32.5 	" />
                        <polygon points="8.4,32.5 8.4,38.9 8.4,38.9 6,32.5 4.2,32.5 4.2,43.7 6,43.7 6,36.7 6,36.7 8.5,43.7 10.2,43.7 10.2,32.5 	" />
                        <rect x="0.4" y="32.5" width="1.9" height="11.3" />
            </g>
            <g class="svg-light">
                        <path d="M118.2,35c-0.2,0-0.2,0.7-0.5,0.9c-0.2,0.2-0.9-0.7-1.1-0.7c-0.2,0,0.2,0.6,0.2,1.1c0,0.5-3,1.5-3.4,1.5
		            c-0.6,0-0.7-0.8-0.8-0.8c-0.2,0-0.2,0.9-0.9,0.9c-0.3,0-0.4-0.2-0.4-0.4v-7.5c0-0.2,0.1-0.6,0.5-0.6c0.6,0,0.6,1.1,0.7,1.1
		            c0.3,0,0.5-1.2,1.2-1.2c0.5,0,0.9,0.7,1.2,0.7c0.2,0-0.4-0.7-0.4-1.1c0-0.3,3.1-0.2,4.2-2.3c0.3-0.6,0.3-1.3,0.5-1.6
		            c0.2-0.3,0.9-0.3,0.9-0.5c0-0.1-0.5-0.2-0.7-0.3c-0.4-0.2-0.2-1.3-0.4-1.3c-0.3,0-0.6,0.8-0.8,0.4c-0.5-0.6-2.5-1.8-3.5-2.2
		            c-0.3-0.1,0.2-1.2,0.1-1.3c-0.2-0.1-0.6,0.6-1.1,0.5c-0.5-0.1-0.2-0.9-0.5-0.9c-0.1,0-0.6,1.2-0.9,1.1c-0.4-0.1-0.9-0.2-0.9-0.2
		            v-3.2c0-0.5-0.4-0.9-0.8-0.9h-3.3c-0.9,0-0.9-0.7-0.9-0.8c0-4.2,6-4.8,6-10.3c0-2.4-1.5-4-3.2-5.4c-0.1-0.1,0,0.3,0,0.5
		            c0,2.5-9.3,3.8-9.3,9.7c0,5.1,5,5.3,5,6.1c0,0.2-0.3,0.2-0.3,0.2h-3.8c-0.4,0-0.8,0.4-0.8,0.9v3.1c-0.4,0.1-0.8-0.4-1.1-0.4
		            c-0.1,0-0.1,1-0.3,1.1c-0.2,0.1-3.7,1.3-4,1.4c-0.5,0.1-0.4-0.8-0.6-0.8c-0.2,0-0.2,0.9-0.9,0.9c-0.4,0-0.7-0.3-1-0.3
		            c-0.2,0,0.4,0.7,0.4,0.9c0,0.6-1.1,0.8-1.1,1.2c0,0.2,1.1-0.1,1.2-0.1c0.6,0,0.5,0.7,0.7,0.7c0.2,0,0.4-0.8,0.6-0.9
		            c0.4-0.2,0.8,0.2,1,0.2c0.3,0-0.2-0.8,0-0.9c0,0,3.8-1.6,4-1.5c0.2,0.1,0.2,0.5,0.4,0.6c0.2,0.1,0.6-0.9,0.6-0.3V30
		            c-0.4,0.3-1.4,0.4-1.9,0.4c-0.2,0-0.1-0.8-0.3-0.8c-0.2,0-0.5,0.7-0.9,0.7c-0.3,0-0.8-0.8-1.2-0.8c-0.2,0,0.4,1.1,0,1.2
		            c-1.4,0.7-3.7,1.4-3.7,3.7c0,0.5,0.2,1,0.2,1.2c-0.1,0.2-0.6,0.7-0.6,0.8c0,0.2,0.9,0.1,1.1,0.4c0.1,0.2,0.2,0.8,0.3,0.8
		            c0.2,0,0.6-0.5,0.9-0.3c1.1,0.7,3,1.4,3.8,1.8c0.2,0.1,0.1,0.8,0.2,0.9c0.2,0.1,0.7-0.7,1.5-0.2c0.2,0.1,0.3,0.3,0.3,0.6V43
		            c0,0.5,0.2,0.6,0.5,0.7l9.2,1.9c0,0,0.7,0.1,1,0.1c0.3,0,0.6-0.1,0.6-0.8l0-5.9c0-0.1,0-0.2,0.1-0.2c0.6,0,0.5,1.6,0.6,1.6
		            c0.2,0,0.4-1.1,0.7-1.1c0.4,0,0.7,0.4,0.9,0.3c0.2-0.1-0.1-0.6-0.1-0.9c0-0.3,0.8-0.4,1.8-0.8c0.9-0.3,1.6-0.7,1.9-0.7
		            c0.2,0,0.4,0.6,0.6,0.6c0.2,0,0.2-0.8,0.5-0.8c0.3,0,0.9,0.4,1.1,0.3c0.1-0.1-0.3-0.7,0-0.9c0.2-0.2,0.8-0.5,0.8-0.7
		            c0-0.1-1.1-0.1-1.2-0.1C118.6,35.7,118.3,35,118.2,35z M111.2,21.6c0,0,0.1,0,0.4,0.1c0.2,0.1,0.5,0.2,0.5,0.5
		            c0,0.2-0.1,0.6,0.1,0.6c0.1,0.1,0.2-0.1,0.3-0.1c1.1-0.8,1.4,0.7,1.7,0.7c0.2,0,0.2-1,0.5-1c0.2-0.1,2.6,1.1,2.6,1.8
		            c0,0.2-0.3,0.2-0.3,0.3c0,0.2,0.6,0.3,0.5,0.7c0,0.3-0.6,0.6-0.4,0.7c0.2,0.2,0.9-0.2,1-0.2c0.2,0,0.2,0.2,0.2,0.3
		            c0,1.4-3.2,2.4-3.9,2.1c-0.2-0.1-0.2-0.8-0.4-0.8c-0.2,0-0.3,0.6-0.6,0.7c-0.4,0.1-0.9-0.4-1.1-0.3c-0.2,0.1,0.4,1-0.6,1
		            c-0.2,0-0.2-0.3-0.2-0.5V21.6z M99.8,37.8c0,0.6-0.6,0.6-0.6,0.6c-0.5,0-0.8-1-0.9-1c-0.2,0,0,0.8-0.2,1c-0.2,0.2-3.4-1.4-3.7-1.6
		            c-0.2-0.2,0.1-0.5,0-0.8c-0.1-0.2-0.6-0.1-0.7-0.2c-0.1-0.1,0.2-0.7,0-0.8c-0.2-0.1-0.5,0.6-0.7,0.3c-0.1-0.1-0.1-0.3-0.1-0.6
		            c0-1.9,2-2.7,3.4-3.2c0.6-0.2,0.4,0.5,0.6,0.6c0.2,0.1,0.2-0.3,0.5-0.3c0.2,0,0.9,0.3,1,0.2c0.1-0.1-0.4-0.6-0.2-0.8
		            c0.2-0.2,1.6-0.4,1.6-0.1V37.8z M102.8,11.4c0-4.3,6.3-6.8,6.7-9c0.5,0.4,0.5,1.2,0.5,1.8c0,2.6-4.5,7-4.5,10.2c0,0.3,0,0.4,0,0.7
		            c0,0.3-0.1,0.4-0.2,0.4C104.6,15.5,102.8,14,102.8,11.4z M101.9,19.3c0-0.5,0.4-0.7,0.7-0.7h5.5c0.7,0,1,0.2,1,0.9l0,9.6
		            c0,0.3-3.2,0.4-3.3,0.2c-0.2-0.3-0.1-0.8-0.3-0.8c-0.1,0-0.6,0.8-0.9,0.8c-0.3,0-0.7-0.5-0.9-0.5c-0.1,0,0.1,0.8-0.1,1.1
		            c-0.2,0.2-1.6,0.4-1.6,0.2V19.3z M109.1,30.8v11.9c0,0.7-0.2,0.8-0.8,0.7l-5.9-1.2c-0.3-0.1-0.5-0.3-0.5-0.7V30.8
		            c0-0.3,1-0.3,1.1-0.2c0.3,0.2,0.2,1.2,0.4,1.2c0.2,0,0.9-1.1,1.2-1.1c0.6,0,1,0.3,1.1,0.3c0.1-0.1,0.1-0.6,0.3-0.7
		            c0.2-0.2,0.9-0.2,1.2-0.2c0.6,0,1.6-0.1,1.6-0.1C109.2,30,109.1,30.3,109.1,30.8z" />
            </g>
            <g class="svg-amnesty">
                        <polygon points="79.7,8.8 77.5,15.9 77.4,15.9 75.2,8.8 71.9,8.8 75.8,19.7 75.8,27.5 79,27.5 79,19.7 82.9,8.8 	" />
                        <polygon points="61.8,8.8 61.8,11.6 65,11.6 65,27.5 68.2,27.5 68.2,11.6 71.3,11.6 71.3,8.8 	" />
                        <path d="M54.7,13.1c0-1.2,0.6-1.8,1.6-1.8c0.7,0,1.6,0.5,1.7,2.1l3.1-0.3c-0.3-2.7-1.8-4.5-4.5-4.5c-3.2,0-5,1.7-5,4.7
		            c0,5.4,6.6,6.4,6.6,10.1c0,1.1-0.8,1.7-1.9,1.7c-1,0-1.8-0.9-1.9-2.8l-3.1,0.4c0.1,2.8,1.8,5.2,4.8,5.2c3,0,5.1-1.7,5.1-4.8
		            C61.3,17.9,54.7,16.3,54.7,13.1z" />
                        <polygon points="44.6,24.7 44.6,19.2 48.8,19.2 48.8,16.4 44.6,16.4 44.6,11.6 50,11.6 50,8.8 41.4,8.8 41.4,27.5 50.4,27.5
		            50.4,24.7 	" />
                        <polygon points="35.5,8.8 35.5,19.5 35.5,19.5 31.6,8.8 28.6,8.8 28.6,27.5 31.5,27.5 31.5,15.8 31.5,15.8 35.6,27.5 38.4,27.5
		            38.4,8.8 	" />
                        <polygon points="21.4,8.8 19.1,19.7 19,19.7 16.7,8.8 12.5,8.8 12.5,27.5 15.3,27.5 15.3,12.9 15.4,12.9 18.3,27.5 19.8,27.5
		            22.7,12.9 22.8,12.9 22.8,27.5 25.6,27.5 25.6,8.8 	" />
                        <path d="M7.5,8.8h-4L0,27.5h3.1l0.6-4.2h3.5l0.6,4.2h3.1L7.5,8.8z M4.2,20.6l1.3-8.1h0.1l1.3,8.1H4.2z" />
            </g>
            </svg>
    </span>
</a>
<!-- .menu-wrap begins -->
<div class="menu-wrap affix">
    <!-- #top-menu begins -->
    <div class="nav-tools row nomargin">
        <div class="nav-tool" id="react">
            <a href="/reagér">
                <span>
                   <em>Reagér</em>
                   <i></i>
                </span>
             </a>
            </div>            
            <div class="nav-tool search-global" id="search-global">
                <form name="global-search" action="@Model.SearchPageUrl">
                    <label for="q" class="visuallyhidden">Søgning</label>
                    <input type="search" title="Søg på Amnesty.dk" placeholder="SØG" class="global-search" name="q" autocomplete="off">
                    <input type="submit" value="Søg" class="btn-search">
                </form>
            </div>
            <button class="nav-tool" id="burger">
                <div>
                    <span class="bun"></span>
                    <span class="beef"></span>
                    <span class="bun"></span>
                </div>
            </button>
    </div>
    @Html.Partial("MainMenu", Model.MainMenu)
    <!-- .sub-menu begins -->
    @Html.Partial("NavigationBurger", Model.Menu)
    <div class="overlay"></div>
</div> <!-- .menu-wrap ends -->

    <section id="billboard" class="breaking-news" style="height: 100%">
        <div class="bg loaded" style="background-image: url(/static/dist/img/yellow-world.jpg);"></div>

        <div class="copy">
            <h1>
                404 <br> Siden du søgte <br> eksisterer ikke. <br />
            </h1>
            <a href="/" class="btn btn-cta btn-dark">
                <hr class="line-topleft">
                <hr class="line-topright">
                <hr class="line-left">
                <hr class="line-right">
                <span>
                    Gå til forside
                </span>
            </a>
        </div>
    </section>

<!--[if lt IE 9]>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script> window.jQuery || document.write('<script src="static/dist/js/vendor/jquery-1.11.2.min.js"><\/script>') </script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script> window.jQuery || document.write('<script src="static/dist/js/vendor/jquery-2.1.3.min.js"><\/script>') </script>
<!--<![endif]-->

<script src="/static/dist/js/total.min.js"></script>
</body>
</html>