﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.FrontpageViewModel>

@{
    ViewBag.BodyClass = "frontpage";
    Layout = "Amnestydk.cshtml";
}

@Html.Partial("Partials/Billboard", Model.BillBoard)
<!-- .page-wrap -->
<div class="page-wrap">
    <!-- AKTUELLE SAGER -->
    <article id="topics" class="tab-page topics">        
            @if (Model.Emner != null)
            {
                @Html.Partial("Partials/GetTopicPageContent", Model.Emner)
            }
    </article> <!-- .topics ends -->
</div> <!-- .page-wrap ends -->

<footer>
    @Html.Partial("Breadcrumb", Model)
    <!-- Footer content begins -->
    @Html.Partial("Footer", Model)
    <!-- Footer content ends -->
</footer>