﻿@using DisPlay.Umbraco.Web.Mvc
@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.BaseViewModel>
@{
    Layout = null;
    Styles.Requires("~/static/dist/css/main.min.css");
    Scripts.Requires("~/static/dist/js/total.min.js");
}

<!DOCTYPE html>
<!--[if IE 8]>         <html lang="da" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="da" class="no-js">
    <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@Model.Title</title>
    <meta name="description" content="@SEOChecker.Library.MetaData.Current.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> <!-- Disables Zooming-->
    <meta property="og:title" content="@SEOChecker.Library.MetaData.Current.Title">
    <meta property="og:url" content="@Request.Url.GetLeftPart(UriPartial.Path)">
    <meta property="og:description" content="@SEOChecker.Library.MetaData.Current.Description">
    <meta property="fb:app_id" content="1576823489231295" />

    @Html.Partial("FacebookOGImage")
    @Html.Partial("Themes",Model.Themes)

    <meta property="og:type" content="website">

    @Styles.RenderStyles()

    <link rel="icon" href="~/static/dist/img/favicon.ico">
    <meta name="application-name" content="Amnesty International" />
    <meta name="msapplication-TileColor" content="#e53b2c" />
    <meta name="msapplication-square70x70logo" content="~/static/dist/img/device-icons/amnesty-windows-icon-70-70.png" />
    <meta name="msapplication-square150x150logo" content="~/static/dist/img/device-icons/amnesty-windows-icon-150-15.png" />
    <meta name="msapplication-wide310x150logo" content="~/static/dist/img/device-icons/amnesty-windows-icon-310-150.png" />
    <meta name="msapplication-square310x310logo" content="~/static/dist/img/device-icons/amnesty-windows-icon-310-310.png" />
    <link rel="apple-touch-icon-precomposed" href="~/static/dist/img/device-icons/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/static/dist/img/device-icons/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/static/dist/img/device-icons/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/static/dist/img/device-icons/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/static/dist/img/device-icons/apple-touch-icon-144x144-precomposed.png" />

    @RenderSection("insertInHead", false)

    <!--[if lt IE 9]>
        @Static.Script("~/static/dist/js/legacy.min.js")
    <![endif]-->

    <!-- Facebook Pixel Code -->
    <script>

        if (typeof fbq === 'undefined') {
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                }; if (!f._fbq) f._fbq = n;
                n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
            }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

            fbq('init', '765096603594070');
            fbq('track', 'PageView');
            fbq('track', '{{fBPixelType}}');
        } else {
            fbq('track', '{{fBPixelType}}');
        }

    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=765096603594070&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Hotjar Tracking Code for http://www.amnesty.dk -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:270799,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>
<body class="@ViewBag.BodyClass @Model.VisualAppearance">
    <!-- Google Tag Manager -->
    @*<noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PS2SCH"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>*@
    <script>
        (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PS2SCH');
    </script>
    <!-- End Google Tag Manager -->

<a href="/" class="logo affix" id="logo">
    <span class="logo-wrap">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120px" height="88px" x="0px" y="0px"
                 viewBox="0 0 120 45.7" xml:space="preserve">
                <g class="svg-international">
                            <polygon points="67.1,32.5 67.1,38.9 67.1,38.9 64.7,32.5 62.9,32.5 62.9,43.7 64.7,43.7 64.7,36.7 64.7,36.7 67.2,43.7 68.9,43.7
		                68.9,32.5 	" />
                            <polygon points="79.6,42.1 79.6,32.5 77.7,32.5 77.7,43.7 82.7,43.7 82.7,42.1 	" />
                            <path d="M74.5,32.5h-2.4L70,43.7h1.9l0.3-2.5h2.1l0.3,2.5h1.9L74.5,32.5z M72.5,39.6l0.8-4.9h0l0.8,4.9H72.5z" />
                            <path d="M58.2,32.3c-2,0-3,1.3-3,2.9V41c0,1.6,0.9,2.9,3,2.9c2,0,3-1.3,3-2.9v-5.8C61.2,33.6,60.3,32.3,58.2,32.3z M59.3,41
		                c0,0.8-0.3,1.3-1,1.3c-0.8,0-1-0.4-1-1.3v-5.7c0-0.8,0.2-1.3,1-1.3c0.8,0,1,0.4,1,1.3V41z" />
                            <rect x="51.6" y="32.5" width="1.9" height="11.3" />
                            <polygon points="45.1,32.5 45.1,34.1 46.9,34.1 46.9,43.7 48.9,43.7 48.9,34.1 50.7,34.1 50.7,32.5 	" />
                            <path d="M43.3,32.5h-2.4l-2.1,11.3h1.9l0.3-2.5h2.1l0.3,2.5h1.9L43.3,32.5z M41.3,39.6l0.8-4.9h0l0.8,4.9H41.3z" />
                            <polygon points="35.9,32.5 35.9,38.9 35.9,38.9 33.5,32.5 31.7,32.5 31.7,43.7 33.5,43.7 33.5,36.7 33.5,36.7 36,43.7 37.7,43.7
		                37.7,32.5 	" />
                            <path d="M28.9,38.6c0.7-0.3,1.4-1,1.4-2.8c0-2.4-1.1-3.3-3.3-3.3h-2.7v11.3h1.9v-4.6c0.3,0,0.8,0,1,0l1.4,4.7h2L28.9,38.6z
		                 M26.9,37.5h-0.7V34h0.7c1,0,1.4,0.4,1.4,1.7C28.3,37.1,27.9,37.5,26.9,37.5z" />
                            <polygon points="19.6,42.1 19.6,38.7 22.1,38.7 22.1,37.1 19.6,37.1 19.6,34.1 22.9,34.1 22.9,32.5 17.7,32.5 17.7,43.7 23.1,43.7
		                23.1,42.1 	" />
                            <polygon points="11.1,32.5 11.1,34.1 13,34.1 13,43.7 14.9,43.7 14.9,34.1 16.8,34.1 16.8,32.5 	" />
                            <polygon points="8.4,32.5 8.4,38.9 8.4,38.9 6,32.5 4.2,32.5 4.2,43.7 6,43.7 6,36.7 6,36.7 8.5,43.7 10.2,43.7 10.2,32.5 	" />
                            <rect x="0.4" y="32.5" width="1.9" height="11.3" />
                </g>
                <g class="svg-light">
                            <path d="M118.2,35c-0.2,0-0.2,0.7-0.5,0.9c-0.2,0.2-0.9-0.7-1.1-0.7c-0.2,0,0.2,0.6,0.2,1.1c0,0.5-3,1.5-3.4,1.5
		                c-0.6,0-0.7-0.8-0.8-0.8c-0.2,0-0.2,0.9-0.9,0.9c-0.3,0-0.4-0.2-0.4-0.4v-7.5c0-0.2,0.1-0.6,0.5-0.6c0.6,0,0.6,1.1,0.7,1.1
		                c0.3,0,0.5-1.2,1.2-1.2c0.5,0,0.9,0.7,1.2,0.7c0.2,0-0.4-0.7-0.4-1.1c0-0.3,3.1-0.2,4.2-2.3c0.3-0.6,0.3-1.3,0.5-1.6
		                c0.2-0.3,0.9-0.3,0.9-0.5c0-0.1-0.5-0.2-0.7-0.3c-0.4-0.2-0.2-1.3-0.4-1.3c-0.3,0-0.6,0.8-0.8,0.4c-0.5-0.6-2.5-1.8-3.5-2.2
		                c-0.3-0.1,0.2-1.2,0.1-1.3c-0.2-0.1-0.6,0.6-1.1,0.5c-0.5-0.1-0.2-0.9-0.5-0.9c-0.1,0-0.6,1.2-0.9,1.1c-0.4-0.1-0.9-0.2-0.9-0.2
		                v-3.2c0-0.5-0.4-0.9-0.8-0.9h-3.3c-0.9,0-0.9-0.7-0.9-0.8c0-4.2,6-4.8,6-10.3c0-2.4-1.5-4-3.2-5.4c-0.1-0.1,0,0.3,0,0.5
		                c0,2.5-9.3,3.8-9.3,9.7c0,5.1,5,5.3,5,6.1c0,0.2-0.3,0.2-0.3,0.2h-3.8c-0.4,0-0.8,0.4-0.8,0.9v3.1c-0.4,0.1-0.8-0.4-1.1-0.4
		                c-0.1,0-0.1,1-0.3,1.1c-0.2,0.1-3.7,1.3-4,1.4c-0.5,0.1-0.4-0.8-0.6-0.8c-0.2,0-0.2,0.9-0.9,0.9c-0.4,0-0.7-0.3-1-0.3
		                c-0.2,0,0.4,0.7,0.4,0.9c0,0.6-1.1,0.8-1.1,1.2c0,0.2,1.1-0.1,1.2-0.1c0.6,0,0.5,0.7,0.7,0.7c0.2,0,0.4-0.8,0.6-0.9
		                c0.4-0.2,0.8,0.2,1,0.2c0.3,0-0.2-0.8,0-0.9c0,0,3.8-1.6,4-1.5c0.2,0.1,0.2,0.5,0.4,0.6c0.2,0.1,0.6-0.9,0.6-0.3V30
		                c-0.4,0.3-1.4,0.4-1.9,0.4c-0.2,0-0.1-0.8-0.3-0.8c-0.2,0-0.5,0.7-0.9,0.7c-0.3,0-0.8-0.8-1.2-0.8c-0.2,0,0.4,1.1,0,1.2
		                c-1.4,0.7-3.7,1.4-3.7,3.7c0,0.5,0.2,1,0.2,1.2c-0.1,0.2-0.6,0.7-0.6,0.8c0,0.2,0.9,0.1,1.1,0.4c0.1,0.2,0.2,0.8,0.3,0.8
		                c0.2,0,0.6-0.5,0.9-0.3c1.1,0.7,3,1.4,3.8,1.8c0.2,0.1,0.1,0.8,0.2,0.9c0.2,0.1,0.7-0.7,1.5-0.2c0.2,0.1,0.3,0.3,0.3,0.6V43
		                c0,0.5,0.2,0.6,0.5,0.7l9.2,1.9c0,0,0.7,0.1,1,0.1c0.3,0,0.6-0.1,0.6-0.8l0-5.9c0-0.1,0-0.2,0.1-0.2c0.6,0,0.5,1.6,0.6,1.6
		                c0.2,0,0.4-1.1,0.7-1.1c0.4,0,0.7,0.4,0.9,0.3c0.2-0.1-0.1-0.6-0.1-0.9c0-0.3,0.8-0.4,1.8-0.8c0.9-0.3,1.6-0.7,1.9-0.7
		                c0.2,0,0.4,0.6,0.6,0.6c0.2,0,0.2-0.8,0.5-0.8c0.3,0,0.9,0.4,1.1,0.3c0.1-0.1-0.3-0.7,0-0.9c0.2-0.2,0.8-0.5,0.8-0.7
		                c0-0.1-1.1-0.1-1.2-0.1C118.6,35.7,118.3,35,118.2,35z M111.2,21.6c0,0,0.1,0,0.4,0.1c0.2,0.1,0.5,0.2,0.5,0.5
		                c0,0.2-0.1,0.6,0.1,0.6c0.1,0.1,0.2-0.1,0.3-0.1c1.1-0.8,1.4,0.7,1.7,0.7c0.2,0,0.2-1,0.5-1c0.2-0.1,2.6,1.1,2.6,1.8
		                c0,0.2-0.3,0.2-0.3,0.3c0,0.2,0.6,0.3,0.5,0.7c0,0.3-0.6,0.6-0.4,0.7c0.2,0.2,0.9-0.2,1-0.2c0.2,0,0.2,0.2,0.2,0.3
		                c0,1.4-3.2,2.4-3.9,2.1c-0.2-0.1-0.2-0.8-0.4-0.8c-0.2,0-0.3,0.6-0.6,0.7c-0.4,0.1-0.9-0.4-1.1-0.3c-0.2,0.1,0.4,1-0.6,1
		                c-0.2,0-0.2-0.3-0.2-0.5V21.6z M99.8,37.8c0,0.6-0.6,0.6-0.6,0.6c-0.5,0-0.8-1-0.9-1c-0.2,0,0,0.8-0.2,1c-0.2,0.2-3.4-1.4-3.7-1.6
		                c-0.2-0.2,0.1-0.5,0-0.8c-0.1-0.2-0.6-0.1-0.7-0.2c-0.1-0.1,0.2-0.7,0-0.8c-0.2-0.1-0.5,0.6-0.7,0.3c-0.1-0.1-0.1-0.3-0.1-0.6
		                c0-1.9,2-2.7,3.4-3.2c0.6-0.2,0.4,0.5,0.6,0.6c0.2,0.1,0.2-0.3,0.5-0.3c0.2,0,0.9,0.3,1,0.2c0.1-0.1-0.4-0.6-0.2-0.8
		                c0.2-0.2,1.6-0.4,1.6-0.1V37.8z M102.8,11.4c0-4.3,6.3-6.8,6.7-9c0.5,0.4,0.5,1.2,0.5,1.8c0,2.6-4.5,7-4.5,10.2c0,0.3,0,0.4,0,0.7
		                c0,0.3-0.1,0.4-0.2,0.4C104.6,15.5,102.8,14,102.8,11.4z M101.9,19.3c0-0.5,0.4-0.7,0.7-0.7h5.5c0.7,0,1,0.2,1,0.9l0,9.6
		                c0,0.3-3.2,0.4-3.3,0.2c-0.2-0.3-0.1-0.8-0.3-0.8c-0.1,0-0.6,0.8-0.9,0.8c-0.3,0-0.7-0.5-0.9-0.5c-0.1,0,0.1,0.8-0.1,1.1
		                c-0.2,0.2-1.6,0.4-1.6,0.2V19.3z M109.1,30.8v11.9c0,0.7-0.2,0.8-0.8,0.7l-5.9-1.2c-0.3-0.1-0.5-0.3-0.5-0.7V30.8
		                c0-0.3,1-0.3,1.1-0.2c0.3,0.2,0.2,1.2,0.4,1.2c0.2,0,0.9-1.1,1.2-1.1c0.6,0,1,0.3,1.1,0.3c0.1-0.1,0.1-0.6,0.3-0.7
		                c0.2-0.2,0.9-0.2,1.2-0.2c0.6,0,1.6-0.1,1.6-0.1C109.2,30,109.1,30.3,109.1,30.8z" />
                </g>
                <g class="svg-amnesty">
                            <polygon points="79.7,8.8 77.5,15.9 77.4,15.9 75.2,8.8 71.9,8.8 75.8,19.7 75.8,27.5 79,27.5 79,19.7 82.9,8.8 	" />
                            <polygon points="61.8,8.8 61.8,11.6 65,11.6 65,27.5 68.2,27.5 68.2,11.6 71.3,11.6 71.3,8.8 	" />
                            <path d="M54.7,13.1c0-1.2,0.6-1.8,1.6-1.8c0.7,0,1.6,0.5,1.7,2.1l3.1-0.3c-0.3-2.7-1.8-4.5-4.5-4.5c-3.2,0-5,1.7-5,4.7
		                c0,5.4,6.6,6.4,6.6,10.1c0,1.1-0.8,1.7-1.9,1.7c-1,0-1.8-0.9-1.9-2.8l-3.1,0.4c0.1,2.8,1.8,5.2,4.8,5.2c3,0,5.1-1.7,5.1-4.8
		                C61.3,17.9,54.7,16.3,54.7,13.1z" />
                            <polygon points="44.6,24.7 44.6,19.2 48.8,19.2 48.8,16.4 44.6,16.4 44.6,11.6 50,11.6 50,8.8 41.4,8.8 41.4,27.5 50.4,27.5
		                50.4,24.7 	" />
                            <polygon points="35.5,8.8 35.5,19.5 35.5,19.5 31.6,8.8 28.6,8.8 28.6,27.5 31.5,27.5 31.5,15.8 31.5,15.8 35.6,27.5 38.4,27.5
		                38.4,8.8 	" />
                            <polygon points="21.4,8.8 19.1,19.7 19,19.7 16.7,8.8 12.5,8.8 12.5,27.5 15.3,27.5 15.3,12.9 15.4,12.9 18.3,27.5 19.8,27.5
		                22.7,12.9 22.8,12.9 22.8,27.5 25.6,27.5 25.6,8.8 	" />
                            <path d="M7.5,8.8h-4L0,27.5h3.1l0.6-4.2h3.5l0.6,4.2h3.1L7.5,8.8z M4.2,20.6l1.3-8.1h0.1l1.3,8.1H4.2z" />
                </g>
                </svg>
        </span>
</a>
<!-- .menu-wrap begins -->
<div class="menu-wrap">
    <!-- #top-menu begins -->
    <div class="nav-tools row nomargin">
        @*TODO: make this a setting in websitesettings*@
        @if (Model.VisualAppearance != null && Model.VisualAppearance.Equals("mediekonkurrence"))
        {
            <div class="nav-tool" id="react">
                <a href="/laerer">
                    <span>
                        <em>Lærer</em>
                        <i></i>
                    </span>
                </a>
            </div>
        }
        else
        {
            <div class="nav-tool" id="react">
                <a href="http://amnesty.dk/reagér">
                    <span>
                        <em>Reagér</em>
                        <i></i>
                    </span>
                </a>
            </div>
        }
        @if (!Model.HidePageHeadingAndTags) { 
            <div class="nav-tool search-global" id="search-global">
                <form name="global-search" action="@Model.SearchPageUrl">
                    <label for="q" class="visuallyhidden">Søgning</label>
                    <input type="search" title="Søg på Amnesty.dk" placeholder="SØG" class="global-search" name="q" id="q" autocomplete="off">
                    <input type="submit" value="Søg" class="btn-search">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 32.9 33.6" xml:space="preserve">
                    <path fill="#f2f2f2" d="M19.6,0C12.2,0,6.3,5.9,6.3,13.3c0,3.3,1.2,6.3,3.2,8.6L0,31.5l2.2,2.2l9.6-9.6c2.2,1.6,4.9,2.6,7.8,2.6
	                    c7.3,0,13.3-5.9,13.3-13.3S26.9,0,19.6,0z M19.6,25.3c-6.6,0-12-5.4-12-12c0-6.6,5.4-12,12-12c6.6,0,12,5.4,12,12
	                    C31.6,19.9,26.2,25.3,19.6,25.3z" />
                    </svg>
                </form>
            </div>
        }  
        <button class="nav-tool" id="burger">
            <span>
                <em class="bun"></em>
                <em class="beef"></em>
                <em class="bun"></em>
            </span>
        </button>
    </div>
    @Html.Partial("MainMenu", Model.MainMenu)
    <!-- .sub-menu begins -->
    @Html.Partial("NavigationBurger", Model.Menu)
    <div class="overlay"></div>
</div> <!-- .menu-wrap ends -->

@RenderBody()

@*
    @if (Model.Cookie.ShowCookieBanner)
    {
        <div id="cookie-banner">
            <div class="cookie-close"></div>
            <header>@Model.Cookie.Headline</header>
            <div class="cookie-text">
                @Model.Cookie.Description
                <a href="@Model.Cookie.LinkPage" class="cookie-read-more">@Model.Cookie.LinkText</a>
            </div>
            <a href="javascript:CookieConsent.show()">Cookies</a>
        </div>
    }
*@


<!--[if lt IE 9]>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script> window.jQuery || document.write('<script src="/static/dist/js/vendor/jquery-1.11.2.min.js"><\/script>') </script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script> window.jQuery || document.write('<script src="/static/dist/js/vendor/jquery-2.1.3.min.js"><\/script>') </script>
<!--<![endif]-->

<div id="fb-root"></div>
@Scripts.RenderIncludes()

    <script id="CookieConsent" data-culture="DA"
            src="https://policy.cookieinformation.com/uc.js" data-cbid="cc19472f-eb08-46fe-9caa-e664d7ea24ad"
            type="text/javascript"></script>
</body>
</html>
