﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.NewsListViewModel>
@{
    Layout = "Amnestydk.cshtml";
}
<section class="ribbon spacedout">
    <div class="row indexed nomargin">
        <div class="category col-sm-3">
            <div class="index-wrap">
                <div class="index">01</div>
                <header> @Model.Name</header>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="module-wrap press-and-news news-only">
                <div class="row nomargin tabs-wrapper">
                    @Html.Partial("Partials/ListView", Model);
                </div>
            </div>
        </div>
    </div>
</section>
