﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.NiveauBaseViewModel>
@{
    Layout = "Amnestydk.cshtml";
}
<!-- .page-wrap -->
<div class="page-wrap">
    <article>
        <h1>@Model.Title @Html.Partial("SearchTags", Model)</h1>
        @Html.Partial("SectionMenu", Model.Sections)
        

        @if (Model.TopSection != null)
        {
            @Html.Partial("Partials/topSection", Model.TopSection)
        }
        <div class="time-stamp news-time">
            @if (Model.Timestamp != default(DateTime))
            {
                <div class="row nomargin">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9">Udgivet <time datetime="@Model.Timestamp.ToString("yyyy-MM-dd")">@Model.Timestamp.ToString("d. MMMM yyyy")</time></div>
                </div>
            }
        </div>
        
        @Html.Partial("Partials/Sections", Model.Sections.Sections)

    </article>
</div><!-- .page-wrap ends -->


<footer>
    @Html.Partial("Breadcrumb", Model)
    
    <!-- Footer content begins -->
    @Html.Partial("Footer", Model)
    <!-- Footer content ends -->
</footer>