﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.SearchViewModel>
@{
    Layout = "Amnestydk.cshtml";
}

<div class="page-wrap">
    <article class="search-results">
        <h1>
            Søgning
            <!-- Search Tags begins -->
            @Html.Partial("SearchTags", Model)
            <!-- Search Tags ends -->
        </h1>
        <section class="ribbon">
            <div class="row indexed nomargin">
                <div class="category col-sm-3">
                    <header>Hvad søger du?</header>
                    <div class="index-wrap">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="module-wrap searchbar">
                        <div class="content">
                            <div class="search-global">
                                <form name="global-search" action="@Model.SearchPageUrl">
                                    <label for="q" class="visuallyhidden">Søgning</label>
                                    <input type="search" title="Søg på Amnesty.dk" placeholder="Søg" value="@Model.SearchQuery" class="global-search" name="q" autocomplete="off">
                                    <input type="submit" value="Søg" class="btn-search">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 32.9 33.6" xml:space="preserve">
                                        <path fill="#d6d6d6" d="M19.6,0C12.2,0,6.3,5.9,6.3,13.3c0,3.3,1.2,6.3,3.2,8.6L0,31.5l2.2,2.2l9.6-9.6c2.2,1.6,4.9,2.6,7.8,2.6
	                                    c7.3,0,13.3-5.9,13.3-13.3S26.9,0,19.6,0z M19.6,25.3c-6.6,0-12-5.4-12-12c0-6.6,5.4-12,12-12c6.6,0,12,5.4,12,12
	                                    C31.6,19.9,26.2,25.3,19.6,25.3z" />
                                    </svg>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ribbon">
            <div class="row indexed nomargin">
                <div class="category col-sm-3">
                    <header>Søge resultater</header>
                    <div class="index-wrap">
                    </div>
                </div>
                @{
                    foreach (var result in Model.SearchResults)
                    {
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <div class="module-wrap list-item">
                                <div class="content">
                                    <a href="@result.Url">
                                        <h3>@result.Title <i></i>
                                        </h3>
                                        @if (!string.IsNullOrWhiteSpace(result.Description))
                                        {
                                            <p>@result.Description</p>
                                        }
                                        else
                                        {
                                            <p>@result.Snippet</p>
                                        }
                                        <hr/>
                                    </a>
                                    @Html.Partial("Breadcrumb", result.Content)
                                </div>
                            </div>
                        </div>
                    }
                    if (!Model.SearchResults.Any())
                    {
                        <div class="col-sm-9">
                            <div class="module-wrap list-item">
                                <div class="content text-center">
                                        <h3>
                                            Ingen søge resultater
                                        </h3>
                                </div>
                            </div>
                        </div>
                    }
}          
            </div>

        </section>
    </article>
</div>

<footer>
    <!-- Footer content begins -->
    @Html.Partial("Footer", Model)
    <!-- Footer content ends -->
</footer>