﻿@inherits UmbracoViewPage<DisPlay.Amnesty.ViewModels.SubsiteForsideViewModel>
@{
    Layout = "Amnestydk.cshtml";
}
<!-- .page-wrap -->
<div class="page-wrap">
    <article>
        @if (!Model.HidePageHeadingAndTags)
        {
            <h1>@Model.Title @Html.Partial("SearchTags", Model)</h1>
        }
        @Html.Partial("SectionMenu", Model.Sections)

        @if (Model.TopSection != null)
        {
            @Html.Partial("Partials/topSection", Model.TopSection)
        }        

        @Html.Partial("Partials/Sections", Model.Sections.Sections)

        @if (Model.BottomSection != null)
        {
            @Html.Partial("Partials/bottomSection", Model.BottomSection)
        }

    </article>
</div> <!-- .page-wrap ends -->

<footer>
    <div class="time-stamp">
        @if (Model.Timestamp != default(DateTime))
        {
            <div>Udgivet <time datetime="@Model.Timestamp.ToString("yyyy-MM-dd")">@Model.Timestamp.ToString("d. MMMM yyyy")</time>
            </div>
        }
    </div>
    @Html.Partial("Breadcrumb", Model)

    <!-- Footer content begins -->
    @Html.Partial("Footer", Model)
    <!-- Footer content ends -->
</footer>

@section insertInHead
{
    @if (!string.IsNullOrWhiteSpace(Model.RenderInHead))
    {
        @Html.Raw(Model.RenderInHead)
    }
}
