﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.BoxSectionBoxes.InfoBox>

@{
    var boxLink = "#";
    var boxTarget = "";
    if (Model.Link != null)
    {
        boxLink = Model.Link.Url;
        boxTarget = Model.Link.Target;
    }
}
<div class="box box-info col-xs-6 col-md-3">
    <a class="wrap" href="@boxLink" title="@Model.Headline" target="@boxTarget">
        <header>
            @Model.Headline
            <hr />
        </header>
        <p>
            @Model.SubHeadline
        </p>
    </a>
</div>
