﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.BoxSectionBoxes.TwitterBox>

@{
    var userName = Model.UserName;
    var hashTag = Model.HashTag;

    if (userName != null)
    {
        foreach (var tweet in Model.GetTweetFromUser())
        {
            <div class="box box-twitter col-xs-6 col-md-3">
                <div class="wrap">
                    <a target="_blank" href="https://twitter.com/@tweet.Username" title="Gå til @tweet.Username on Twitter">
                        <header>
                            &#64;@tweet.Username
                            <hr />
                            <svg version="1.1" class="svg-twitter-bird" width="30" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 100 27.2 22.1" xml:space="preserve">
                            <path fill="#85cdf3" d="M27.2,102.6c-1,0.5-2.1,0.7-3.2,0.9c1.1-0.7,2-1.8,2.4-3.1c-1.1,0.6-2.3,1.1-3.5,1.4c-1-1.1-2.5-1.8-4.1-1.8
	                            c-3.1,0-5.6,2.5-5.6,5.6c0,0.4,0.1,0.9,0.2,1.2c-4.6-0.2-8.7-2.4-11.5-5.8c-0.5,0.8-0.8,1.8-0.8,2.8c0,1.9,1,3.6,2.5,4.6
	                            c-0.9-0.1-1.8-0.3-2.6-0.7v0.1c0,2.7,1.9,4.9,4.5,5.5c-0.5,0.1-1,0.2-1.5,0.2c-0.4,0-0.7-0.1-1-0.1c0.7,2.2,2.8,3.9,5.2,3.9
	                            c-1.9,1.5-4.3,2.4-6.9,2.4c-0.5,0-0.9-0.1-1.4-0.1c2.5,1.6,5.4,2.5,8.6,2.5c10.3,0,15.9-8.5,15.9-15.9c0-0.3,0-0.5,0-0.7
	                            C25.5,104.7,26.5,103.7,27.2,102.6z" />
                            </svg>
                        </header>
                    </a>
                    <p>@Html.Raw(tweet.Message)</p>@tweet.Link
                    <time datetime="@tweet.Timestamp">Tweetet for @tweet.Timestamp siden</time>
                </div>
            </div>
        }
    }
    else
    {
        foreach (var tweet in Model.GetTweetsFromHashTag())
        {
            <div class="box box-twitter col-xs-6 col-md-3">
                <div class="wrap">
                    <a target="_blank" href="https://twitter.com/hashtag/@hashTag?src=hash" title="Se resultater for #@tweet.Username på twitter">
                        <header>
                            &#35;@hashTag
                            <hr />
                            <svg version="1.1" class="svg-twitter-bird" width="30" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 100 27.2 22.1" xml:space="preserve">
                            <path fill="#85cdf3" d="M27.2,102.6c-1,0.5-2.1,0.7-3.2,0.9c1.1-0.7,2-1.8,2.4-3.1c-1.1,0.6-2.3,1.1-3.5,1.4c-1-1.1-2.5-1.8-4.1-1.8
	                            c-3.1,0-5.6,2.5-5.6,5.6c0,0.4,0.1,0.9,0.2,1.2c-4.6-0.2-8.7-2.4-11.5-5.8c-0.5,0.8-0.8,1.8-0.8,2.8c0,1.9,1,3.6,2.5,4.6
	                            c-0.9-0.1-1.8-0.3-2.6-0.7v0.1c0,2.7,1.9,4.9,4.5,5.5c-0.5,0.1-1,0.2-1.5,0.2c-0.4,0-0.7-0.1-1-0.1c0.7,2.2,2.8,3.9,5.2,3.9
	                            c-1.9,1.5-4.3,2.4-6.9,2.4c-0.5,0-0.9-0.1-1.4-0.1c2.5,1.6,5.4,2.5,8.6,2.5c10.3,0,15.9-8.5,15.9-15.9c0-0.3,0-0.5,0-0.7
	                            C25.5,104.7,26.5,103.7,27.2,102.6z" />
                            </svg>
                        </header>
                    </a>
                    <p>@Html.Raw(tweet.Message)</p>
                    <time datetime="@tweet.Timestamp">@tweet.Timestamp siden</time>
                </div>
            </div>
        }
    }
}