﻿//
// Variables
// --------------------------------------------------

$body-bg:               #fff;
$menu-grey:             #232526;

$brand-yellow:          #fbf038;
$brand-cta:             #da6a61;
$brand-lightgrey:       #d6d6d6;
$brand-grey:            #565e65;
$brand-darkgrey:        #3f3f3f;
$border-grey:           #e6e6e6;
$border-grey-light:     #f2f2f2;

$text-color:            $menu-grey;
$footer-text:           #999999;
$error-color:           darken($brand-cta, 20%);

$second-yellow:         #ecb940;
$second-orange:         #e0962f;

$gradient-yellow-1:     #fbf138;
$gradient-yellow-2:     #ecca40;

$link-color:            #000;
$link-hover-color:      $brand-cta;

// Social colors
// -------------------------
$twitter-blue:          #85cdf3;
$twitter-link:          #0084B4;
$twitter-time:          #9ba2a9;

// Typography
// -------------------------

$font-family-sans-serif:	"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-amnesty-bold:         "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
$font-amnesty-light:        "AmnestyTradeGothic Light", Arial, Helvetica, sans-serif;
$font-amnesty-condensed:    "AmnestyTradeGothic Condensed", "Avenir Next Condensed Bold", "Roboto Condensed Bold", "Open Sans Condensed", sans-serif;


$font-family-serif:			Georgia, "Times New Roman", Times, serif;
$font-family-monospace:		Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:			$font-family-sans-serif;

$font-size-base:			14px;

// Grid and breakpoints

$grid-gutter-width: 70px;
$contentGab: $grid-gutter-width/2;
$mobileGab: 15px;

// Small screen / tablet

$scrollbarPx: 17px;

// Xtra small screen / wide phones
$screen-xs: 480px;


// small screen / tablets
$screen-sm: 768px;
$screen-xs-max: 767px;
$container-sm: ($screen-sm - ($scrollbarPx + $grid-gutter-width));

// Medium screen / desktop
$screen-md: 1024px;
$screen-sm-max: 1023px;
$container-md: ($screen-md - ($scrollbarPx + $grid-gutter-width));

// Large screen / wide desktop
$screen-lg: 1280px;
$screen-md-max: 1279px;
$container-lg: ($screen-lg - ($scrollbarPx + $grid-gutter-width));

// XL Large screen / big-ass desktop
$screen-xl: 1440px;
$screen-lg-max: 1439px;
$container-xl: ($screen-xl  - ($scrollbarPx + $grid-gutter-width));

// XL Large screen / big-ass desktop
$screen-xxl: 1680px;
$screen-xl-max: 1679px;
$container-xxl: ($screen-xxl  - ($scrollbarPx + $grid-gutter-width));
