.accordion {

    h2 {
        width:80% !important;
        max-width:80% !important;
        @media(min-width:$screen-sm) {
            width:100% !important;
            max-width:100% !important;
        }

        font-size:1em;
        margin:0;
        padding:0;
        text-transform:none;
        position:relative;
        cursor:pointer;
        transition: color .2s ease;
        font-family:$font-amnesty-light;

        &:hover {
            color:#2f2f2f;
            transition: color .2s ease;
            font-weight: bold;
        }

        &:after {
            position:absolute;
            right:-20%;
            top:0;
            content: "+";
            width: 10px;
            height: 10px;
            display: block;
            @media(min-width:$screen-sm) {
                right:20px;
            }
        }

        &.open {
            font-weight: bold;
            margin:0 0 10px 0;
            &:after {
                content: "-";
            }
        }
    }

    &__item {
        padding:15px 20px;
        background-color:#f8f8f8;
        margin-bottom:20px;

        &--text {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 100%;
            transition: all .5s ease;
            p,
            h3 {
                transition: all .2s cubic-bezier(.41, .22, 0, 1.1);
                opacity:0;
                transform: translateY(30px);
            }
            &.open {
                opacity:1;
                height:auto;
                max-height:800px;
                visibility: visible;
                transition: all .45s ease;
                position:relative;
                width:100%;
                margin:0;

                p,
                h3{
                    transition: all .5s cubic-bezier(.41, .22, 0, 1.1);
                    opacity:1;
                    transform: translateY(0);
                }
            }
        }
    }

}