﻿/* ==============
    Billboard
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

#billboard {
    position:relative;
    height: 100%;
    width: 100%;
    z-index: 2;
    display:table;
    min-height: 200px;
    overflow: hidden;
    text-align:center;
    top:80px;
    padding:0 20px;
    background-color:$brand-yellow;
    background-repeat:no-repeat;
    background-position:50% 0px;
    background-attachment:fixed;
    background-size:cover;
    box-sizing:border-box;
    
    @media (min-width: $screen-md){
        top:0;
    }     

    .bg {
        z-index:1;
    }
    img {
        width: 100%;
        height:auto;
    }
    .copy {
        display:table-cell;
        vertical-align:middle;
    }
    h1 {
        position:relative;
        margin:20px 0 0 0;
        color:rgb(255,255,255);
        color:rgba(255,255,255, 0.8);
        line-height:1em;
        font-size:50px;
        font-size:10vw;
        text-transform:uppercase;
        opacity:.8;
        & + .btn {
            margin-top:2em;
        }       
    }

    h1, .btn {
        z-index:2;
    }

    &.breaking-news {
        background-repeat:no-repeat;
        background-position:top center;
        background-color:$brand-yellow;
        background-size:cover;

        .bg {
            background-color:yellow;
        }
        h1 {            
            text-align:left;
        }
        
        .container {
            overflow:hidden;
        }
    }

    &.breaking-news, &.light-img {
        h1 {
            color:#000;
            opacity:1;
        }
    }

    &.key-visual {
        h1 {
            @media (min-width: $screen-sm){
                letter-spacing:1px
            }
            @media (min-width: $screen-md){
                letter-spacing:2px
            }
            @media (min-width: $screen-lg){
                letter-spacing:3px
            }
        }
    }
    
    @media (min-width: $screen-xs){
        h1 {
            //font-size:16vw;
        }
    }
    @media (min-width: $screen-sm){
        h1 {
            //margin:0.8em 0 0 0;
        }
    }
    @media (min-width: $screen-md){
        h1 {
            font-size:100px;
        }
    } 
    @media (min-width: $screen-lg){
        h1 {
            font-size:100px;
        }
    }    
}