﻿/* ==============
    Box-topic
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

.boxes {    
    padding:$mobileGab $mobileGab 0;
    @media (min-width:$screen-xs){
        padding:0 $contentGab;
    }
    @media (min-width:$screen-md){
        padding:0 ($contentGab + $mobileGab);
        .row {
            padding:0 20px;
        }
    }
    .col-sm-9 & {
        @media (min-width:$screen-md){
            padding:0 20px;
        }
        @media (min-width:$screen-lg){
            .row {
                padding:0;
            }
        }
    }
}

.box {    
    z-index:10;
    padding:0;
    @media (min-width:$screen-xs){
    padding:0 $mobileGab;
    }
    .wrap {
        padding:$mobileGab 0;
        
        @media (min-width:$screen-sm){
            min-height:240px;
        }
        @media (min-width:$screen-md){
            padding:$contentGab 0;
            min-height:286px;
        }
    }
    header {
        position:relative;
        padding-bottom:18px; 
        color:$brand-darkgrey;
        font-size:18px;    
        font-family:$font-amnesty-bold;
        @media (min-width:$screen-xs){
            padding-bottom:24px;
        }
        hr {
            position:absolute;
            width:100%;
            border-top:3px solid $brand-yellow;
            bottom:9px;
            left:0;
            transition:width .6s ease-in-out;
        }
    }
    a { 
        display:block;
        text-decoration:none;
    }
    &:hover, &:focus {        
        outline:none;
        header {
            &:after {
                width:30%;
                transition:width .3s ease-out;
            }
        } 
    } 
}
.box-info {    
    p {
        font-size:18px;
        font-family:$font-amnesty-light;
        margin-top:6px;
        line-height:1.1;
        @media (min-width:$screen-md){
            font-size:28px;
        }
    }
    &:hover, &:focus {
        span {
            text-decoration:underline;

        }
    }
}

.box-twitter {
    p, a, header {
        color: $twitter-blue;
    }
    
    header {
        hr {
            border-color:$twitter-blue;
        }
        svg {
            float:right;
            margin-right:$mobileGab;
        }
        .no-svg & {
            background:url(../img/svg_twitter-bird.png) no-repeat top right;
        }
    }
    p {        
        font-size:24px;
        margin:0;
        padding: 0 6px;
        font-family:$font-amnesty-condensed;
        a {
            font-size:16px;
            display:inline;
            text-decoration:underline;
            font-family:$font-amnesty-bold;
        }
    }
    
    time {
        color:$twitter-time;
        line-height:2em;
        padding: 0 6px;
        font-family:$font-amnesty-bold;
    }
}
.box-contact {
    text-align:left;
    padding:$mobileGab $contentGab;
    @media (min-width:$screen-sm){
        padding:$contentGab $mobileGab 0;
    }
    @media (min-width:$screen-md){
        padding:$contentGab $contentGab 0;
    }
    @media (min-width:$screen-lg){
        padding:$contentGab $contentGab*2 0;
    }
    
    /*@media (min-width: $screen-sm) {
        padding-top:$contentGab;
    }*/ 
    img {
        max-width:100%;
        height:auto;
    }
    .image-wrapper {        
        margin-bottom:10px;
    } 
    .title {
        display:block;
        font-family:$font-amnesty-light;
    }
    .contact-info {
        margin-top:10px;
        font-family:$font-amnesty-light;
        @media (min-width: $screen-md) {
            font-size:16px;
        }
        span {
            display:block;
        }
        a {
            display:inline;
            &:hover, &:focus {                
                text-decoration:underline;
            }
        }
    }
    i {font-style:normal;}
}