﻿/* ==============
	Buttons
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

button.affix {
    position:relative !important;
}

.btn {
    position: relative;
    font-size: 16px;
    font-weight: normal;
    font-family: $font-amnesty-bold;
    line-height: 1.15;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    overflow: hidden;

    @media (min-width: $screen-xs) {
        font-size: 18px;
    }

    span {
        display: block;
        padding: 16px 28px;
    }

    &, hr {
        transition: border-color 0.5s ease-out;
    }

    hr {
        position: absolute;
        top: 0;
        border-color: #000;
    }

    hr.line-topleft,
    hr.line-topright {
        border-top-width: 2px;
        width: 50%;
    }

    hr.line-topright {
        right: 0;
    }

    hr.line-left, hr.line-right {
        border-top-width: 0;
        width: 2px;
        height: 100%;
    }

    hr.line-left {
        left: 0;
        border-left-width: 2px;
    }

    hr.line-right {
        right: 0;
        border-right-width: 2px;
    }
}

a.btn {
    display: inline-block;
    text-decoration: none;
}

button.open-close {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #fbf038;
    padding: 10px 25px;
    font-size:14px;
    text-transform:uppercase;
    font-weight: bold;
    border: 1px solid #e5e5e5;
}

.contour {
    button.btn {
        font-size: 14px;
        font-weight: normal;
        padding: 10px 25px;
        background: $brand-yellow;
        transition:background-color 2s ease-out, padding 0.4s ease-in;
        &, &:active {
            border: 1px solid #e5e5e5;
        }

        &.sending {
            padding-right:50px;
            background-repeat:no-repeat;
            background-image:url(../img/sending.gif);
            background-position: 90% 50%;
            transition:padding 0.25s ease-in-out;
        }

        &.error {
            background-color:$second-orange;
            border-bottom-color:$error-color;
            transition:background-color 0.6s ease-in, padding 0.6s ease-in, border-color 0.8s ease-in;
        }

        &:hover, &:focus {
            border: 1px solid #000;
        }
    }
}
input[type="submit"].btn,
input[type="button"].btn {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 25px;
    background: $brand-yellow;
    transition:background-color 2s ease-out, padding 0.4s ease-in;
    &, &:active {
        border: 1px solid #e5e5e5;
    }

    &.sending {
        padding-right:50px;
        background-repeat:no-repeat;
        background-image:url(../img/sending.gif);
        background-position: 90% 50%;
        transition:padding 0.25s ease-in-out;
    }

    &.error {
        background-color:$second-orange;
        border-bottom-color:$error-color;
        transition:background-color 0.6s ease-in, padding 0.6s ease-in, border-color 0.8s ease-in;
    }

    &:hover, &:focus {
        border: 1px solid #000;
    }
}

.btn.btn-squared {
    padding: 25px;
    color:#9aa3ab;
    border:2px solid #e7eaec;
    margin:40px auto 50px;
    text-align: center;
    display: table;

    &:hover, &:focus {
        color: $brand-grey;
        border-color: $brand-grey;
    }
}

.btn.btn-yellowbg {
    background: $brand-yellow;
    color:#333;
    &:hover {
        background: #fff;
    }
}

.btn.btn-cta {
    &, &:visited {
        color: $brand-cta;
        border-color: $brand-cta;
    }
    hr { border-color: $brand-cta; }

    &:hover, &:focus {
        color: $menu-grey;
        //border-color:$menu-grey;
    }
}

.btn.btn-dark {
    &, &:visited {
        color: #000;
        border-color: #000;
    }

    hr { border-color: #000; }

    &:hover, &:focus {
        &, hr {
            color: #000;
            border-color: $menu-grey;
        }
    }
}

.btn.btn-grey {
    &, &:visited {
        color: $menu-grey;
        border-color: $border-grey;
        background-color: $border-grey-light !important;
    }
    hr { border-color: $brand-grey; }

    &:hover, &:focus {
        color: #000;
        background-color: $border-grey !important;
        hr {border-color: #000;}
    }
}

.btn.btn-yellow {
    &, &:visited {
        color: $brand-yellow;
        border-color: $brand-yellow;
        background-color: transparent;
    }

    hr {border-color: $brand-yellow;}

    &:hover, &:focus {
        color: $brand-yellow;
        background-color: transparent;
        border-color: $brand-yellow;
        hr {border-color: $brand-yellow;}
    }
}

.btn.btn-info {
    font-size: 14px;
    line-height: 1.3;
    color: #acacac;
    border-bottom: 1px solid #acacac;

    &:hover, &:focus {
        color: $brand-grey;
        border-color: $brand-grey;
    }
}
