﻿body {
    #CookieInformationDialog {
        background:$brand-yellow;
        padding: $mobileGab;
        padding-left: 15px;
        z-index: 100;
        box-sizing:border-box;
        box-shadow:none;

        top: auto !important;
        bottom: 0;

        @media (min-width: $screen-md) {
            padding-left: 90px;
            top:-2px !important;
            bottom: auto;
        }

        @media (min-width: $screen-lg) {
            padding-left: 200px;
        }
    }

    #CookieInformationDialogBody {
        max-width:none;
    }

    #CookieInformationDialogBodyContent {
        padding-left:0;

        @media (min-width:$screen-sm) {
            //padding-left:80px;
            padding-right:80px;
        }
    }

    #CookieInformationDialogBodyContentTitle {
        color:#303030;
        font-family:$font-amnesty-condensed;
        font-size: 17px;
        line-height:normal;
        text-transform:none;

        @media (min-width:$screen-sm) {
            font-size: 20px;
        }
    }

    #CookieInformationDialogBodyButtons .CookieInformationDialogBodyLink, #CookieInformationDialogBodyLevelDetailsButton {
        position:relative;
        display:inline-block;
        text-transform:uppercase;
        color:#303030;
        font-size: 17px;
        line-height:normal;
        font-family:$font-amnesty-bold;
        text-decoration:none;
        padding-top:2px;
        padding-right:0;
        background:none !important;

        @media (min-width:$screen-sm) {
            font-size: 20px;
            padding-top:0;
        }

        &:before {
            content:'';
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:0;
            border-bottom:1px solid transparent;
            transition:width .3s ease-in, border 0s .31s;
        }

        &:hover {
            color:#303030;
            text-decoration:none;

            .no-touch & {
                &:before {
                    border-color:$brand-darkgrey;
                    width:100%;
                    transition:width .3s ease-out, border 0s 0s;
                }
            }
        }
    }

    #CookieInformationDialogBodyButtons {
        @media (min-width:$screen-sm) {
            padding-right:0;
            padding-left:0;
            margin-left:0;
        }

        a {
            border:0;
            font-size: 18px;
            font-family:$font-amnesty-bold;
        }

        @media (max-width:$screen-sm - 1) {
            padding-left:0;
            margin-left:0;

            a {
                margin-left:0;
            }
        }
    }

    #CookieInformationDialogBodyButtonAccept {
        @media (min-width:$screen-sm) {
            margin-left:0;
        }
    }

    #CookieInformationDialogDetail {
        background:transparent;
    }

    #CookieInformationDialogDetailBody {
        max-width:none;
        margin-left:-75px;

        @media (min-width:$screen-sm) {
            margin-left:0;
            //padding-left:80px;
            padding-right:80px;
        }
    }

    #CookieInformationDialogPoweredbyLink {
        display:none;
        
        /*@media (min-width:$screen-sm) {
            display:block;
        }*/
    }
}


// Old cookie-banner:
/*
#cookie-banner {
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    right:0;
    background:$brand-yellow;
    padding: $mobileGab;
    padding-left: 90px;
    transition: transform .5s ease-out;

    @media (min-width: $screen-lg) {
        padding-left: 200px;
    }

    &.hide {
        transform:translate3d(0, -100%, 0);
    }

    .cookie-close {
        float:right;
        position:relative;
        margin:0 0 10px 10px;
        width:50px;
        height:50px;
        background:$brand-yellow;
        cursor:pointer;
        transition:all .3s;

        &:before,
        &:after {
            content:'';
            position: absolute;
            top:50%;
            left:50%;
            width:75%;
            height:2px;
            transform-origin:0 0;
            background:#000;
            transition:all .3s;
        }

        &:before {
            transform: rotate(45deg) translate3d(-50%,-50%,0);
        }

        &:after {
            transform: rotate(-45deg) translate3d(-50%,-50%,0);
        }
        
        .no-touch &:hover {
            background:$menu-grey;
            
            &:before,
            &:after {
                background-color:$brand-yellow;
            }
        }
    }

    header {
        color:#303030;
        line-height:1.1em;
        text-transform:uppercase;
        font-size:24px;
        @media (min-width: $screen-lg) {
            font-size:30px;
        }
        @media (min-width: $screen-xl) {
            font-size:40px;
        }
    }

    .cookie-text {
        color:#303030;
        font-family:$font-amnesty-condensed;
        font-size: 17px;

        @media (min-width:$screen-sm) {
            font-size: 20px;
        }

        a.cookie-read-more {
            position:relative;
            display:inline-block;
            text-transform:uppercase;
            font-family:$font-amnesty-bold;
            text-decoration:none;

            &:before {
                content:'';
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:0;
                border-bottom:1px solid transparent;
                transition:width .3s ease-in, border 0s .31s;
            }

            .no-touch &:hover {
                color:#303030;

                &:before {
                    border-color:$brand-darkgrey;
                    width:100%;
                    transition:width .3s ease-out, border 0s 0s;
                }
            }
        }
    }
}
*/
