﻿/* ==============
    Fonts
   ============== */

@font-face {
  font-family: 'AmnestyTradeGothic Bold';
  src: url('../fonts/amnestytradegothic-bdcn20.eot'); /* IE9 Compat Modes */
  src: url('../fonts/amnestytradegothic-bdcn20.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       //url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       //url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/amnestytradegothic-bdcn20.ttf')  format('truetype'), /* Safari, Android, iOS */
       //url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'AmnestyTradeGothic Light';
  src: url('../fonts/amnestytradegothic-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/amnestytradegothic-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       //url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       //url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/amnestytradegothic-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       //url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'AmnestyTradeGothic Condensed';
  src: url('../fonts/amnestytradegothic-cn18.eot'); /* IE9 Compat Modes */
  src: url('../fonts/amnestytradegothic-cn18.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       //url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       //url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/amnestytradegothic-cn18.ttf')  format('truetype'), /* Safari, Android, iOS */
       //url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}