//
// Footer
// --------------------------------------------------
@import "../helpers/_variables";
@import "../helpers/_mixins";

body > footer {
    padding:$mobileGab;
    background:#000;
    @media (min-width: $screen-sm) {
        position:relative;
        padding:$mobileGab 28px;
        z-index:101;
    }
    @media (min-width: $screen-xl) {
        padding:$mobileGab $contentGab;
    }
    h4, address, p {
        color:$footer-text;
    }
    h4 {
        font-size:20px;
        text-transform:uppercase;
        margin-bottom:6px;
    }
    address, p {
        font-size:16px;
        line-height:1.5em;
        font-style:normal;
        font-family:$font-amnesty-condensed;
    }
    .contact-email {
        display:inline-block;
        font-family:$font-amnesty-bold;
        font-size:32px;
        line-height:1em;
        color:$brand-yellow;
        text-decoration:none;
        margin-bottom:$contentGab;
        @media (min-width: $screen-xs) {
            font-size:36px;
        }
        @media (min-width: $screen-sm) {
            font-size:40px;
        }
    }
    .social {
        text-align:right;
        padding:0;
        margin:0;
    }
    > .row > div {
        padding:0;
        @media (min-width: $screen-sm) {
            min-height:200px;
        }
        @media (min-width: $screen-md) {
            min-height:230px;
        }
        @media (min-width: $screen-lg) {
            min-height:300px;
        }
    }

    a, a:visited {
        color:$brand-yellow;
        &:hover, &:focus {
            color:#fff;
        }
    }
    div.form-row {
        label {
            position:absolute;
            padding:16px 20px 16px;
        }
        input[type=email],
        input[type=text] {
            margin-top:10px;
        }
    }
}

.service-wrap {
    @media (min-width: $screen-sm) {
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
    }
}
.service-menu,
.breadcrumb {    
    font-family:$font-amnesty-bold;
}
.breadcrumb {
    padding-bottom:16px;    
    margin: 0 $mobileGab;
    font-size:14px;

    li {
        position:relative;
        color:$footer-text;
        display:inline-block;
        z-index:2;
        svg {
            position:absolute;
            display:block;
            top:7px;
            left:-10px;
            width:5px;
            height:8px;
            color:#fff;            
            font-size:10px;
            polygon {
                fill:$brand-darkgrey;
            }
        }
        &:first-child {
            svg {display:none;}
        }
        & + li {            
            margin-left:$mobileGab;            
        }
    }
    a, a:visited {
        color:#fff;
        &:hover, &:focus {
            color: $second-yellow;
        }
    }
    footer & {
        margin: 0 0 20px 0;
        border-bottom:1px solid #444444;
        a {
            color:#fff;
            &:hover, &:focus {
                color: $border-grey-light;
            }
        }
         svg {
            width:4px;
            height:7px;
            polygon {
                fill:#fff;
            }
        }
    }
}


.time-stamp {
    position:relative;
    text-align:right;
    font-size:14px;
    font-family:$font-amnesty-condensed;
    line-height:2.2em;
    z-index:1;
    color:$footer-text;
        @media (min-width: $screen-sm) {
            height:0;
            top: 0;
            line-height:1.4em;
        }
        div {
            position:relative;
        }
}

.service-menu {
    text-transform:uppercase;
    padding:0;
    font-size:16px;
    ul {
        display:inline-block;
    }
    li {
        display:inline-block;
        margin-right:20px;
        &:last-child {
            margin-right:0;
        }
    }
    a {
        line-height:2;        
    }
}