/* ==============
    Form elements
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

input, textarea, textarea:focus, input:focus {
	outline: 0;
	border: 0;
    border-radius:0;
}

input[type="number"]{
    &,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

select:focus {
    border-color:red;
    outline: none;
}

/* Hack hack */
.nyhedsbrevstilmelding {
    input[type="email"] {
        border:none !important;
        padding-bottom: 15px !important;
        &:focus {
            outline:0 !important;
        }
    }
}

.nyhedsbrevstilmelding {
    input[type="text"]{
        padding: 17px 15px !important;
        border:none !important;
        &:focus {
            outline:0 !important;
        }
    }
}


.contourField {
    h2 {
        font-size: 24px;
        margin: 0 0 10px 0;
        @media (min-width:$screen-sm) {
            font-size: 30px;
        }

        @media (min-width:$screen-md) {
            font-size: 40px;
        }
    }

    > div {
        position: relative;
    }
}

.form-module {
    padding: $contentGab 0;

    h3, .contourField h2 + p {
        line-height: 1;
        margin-bottom: $contentGab;
    }

    .row + h3 {
        margin: $contentGab 0 $mobileGab;
    }

    h4, .contourField h2 {
        font-size: 24px;
        margin: 30px 0 10px;
        text-transform: uppercase;

        @media (min-width:$screen-sm) {
            font-size: 30px;
        }

        @media (min-width:$screen-md) {
            font-size: 40px;
        }
    }

    .content {
        padding: 20px 0;
    }

    .bg + .content {
        &, h2, h3 {
            color: #fff;
        }
    }
    &.black-text {
        .bg + .content {
            &, h2, h3 {
                color: #000;
            }
        }
    }

    .form-row {

        &.reverse {
            @media (max-width:$screen-sm-max) {
                display:flex;
                flex-direction: column-reverse;
            }
        }

        > div {
            overflow: hidden;
            &:first-child {
                min-height:250px;
            }
        }

        @media (min-width: $screen-md) {
            display: flex;
            align-items: stretch;

            > div {
                flex-flow: row wrap;
                .bg:first-child {
                    min-height:350px;
                    max-height:550px;
                }
            }

        }
    }

    input[type="button"] {
        & + input[type="submit"],
        & + input[type="button"].btn-submit {
            display: none;
        }

        &.hidden + input[type="submit"],
        &.hidden + input[type="button"].btn-submit {
            display: inline;
        }

        &.prev {
            float: left;
        }
    }

    .contourNavigation {
        position: relative;
        margin-top: 10px;

        .col-md-12 {
            text-align: right;
        }
    }

    .contour textarea {
        resize: none;
    }

    .form-progress {
        padding: 0;
        margin: 0;
        @media (max-width: 479px) {
            margin:0 -15px;
        }
        li {
            display: inline-block;
            width: 32.3%;
            color: $footer-text;
            font-family: $font-amnesty-bold;
            font-size: 12px;
            text-transform: uppercase;
            @media (min-width: $screen-xs) {
                font-size: 14px;
            }
            span {
                position: relative;
                display: inline-block;
                padding: 10px 5px;
                white-space:nowrap;
                @media (min-width: $screen-xs) {
                    padding: 10px;
                }

                @media (min-width: $screen-sm) {
                    padding: $mobileGab;
                }
                @media (min-width: $screen-md) {
                    padding: $mobileGab 25px;
                }
                background-color: #fff;
                transition:all 0.4s ease-in-out;
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 0;
                    top: 0;
                    right: -12px;
                    border-top: 18px solid transparent;
                    border-left: 12px solid $border-grey-light;
                    border-bottom: 18px solid transparent;
                    z-index: 0;
                    opacity:0;
                    transition:opacity 0.4s ease-in-out;
                }
                @media (min-width: $screen-xs) {
                    &:after {
                        right: -14px;
                        border-top: 25px solid transparent;
                        border-left: 14px solid $border-grey-light;
                        border-bottom: 25px solid transparent;
                    }
                }
            }

            &.active {
                span {
                    color: #000;
                    background-color: $border-grey-light;
                    &:after {
                        opacity:1;
                    }
                }
            }
        }
    }
}

div.form-row {
    div.checkbox {
        label {
            font-size:11px;
            text-transform: none;
            font-weight:500;
            color:#000;
            display:inline-block !important;
            @media (min-width:$screen-lg) {
                font-size:13px;
            }
        }
    }
}


div.form-row {
    label,
    textarea,
    input[type="text"],
    input[type="number"],
    input[type="tel"],
    input[type="email"],
    select {
        position:relative;
        max-width:none !important;
        line-height:1.6;
        font-size:18px;
        color:#c1c1c1;
        font-family:$font-amnesty-bold;
        padding:12px 15px 12px;
        z-index:1;
        background:transparent;
        text-transform:none;
        &.value, &:focus {
            background:#fff;
        }
        &.error {
            &, &:focus {
                border-color: $error-color;
            }
        }
    }
    label {
        padding:16px 20px 0 0;
    }

    /*.textarea label,*/
    /*.textfield label,*/
    .contourField.checkbox div {
        display:inline-block;
        width:20px;
        margin-bottom:0 !important;
    }
    .checkbox label {
        /*position:absolute;*/
        z-index:0;
        /*display: block;*/
        background: transparent;
        width: 90%;
        display: inline-block;
        float: right;
    }
    .radiobuttonlist {
        margin-top:$mobileGab;
        margin-bottom:$mobileGab;
        width:100%;
        .contourField {
            text-align:center;
            height:108px;
            padding:0;
            > div {
                position:relative;
            }
            label, input {
                display:block;
                cursor:pointer;
                padding:0;
                margin-top:4px;
                line-height:80px;
                padding-bottom:20px;
                color:$menu-grey;
                font-size:20px;
                font-family:$font-amnesty-bold;
                background:$border-grey-light;
                z-index:1;
                transition:all 0.3s ease-out;
            }
            input {
                position:absolute;
                top:50%;
                left:50%;
                margin-top:10%;
                margin-left:-7px;
                &:checked + label {
                    background:$brand-yellow;
                    line-height:88px;
                    margin-top:0;
                }
                z-index:5;
            }
        }
    }
    input[type="text"],
    input[type="number"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width:100%;
        display:block;
        margin:0 0 10px;
        border: 1px solid $brand-lightgrey;
        &:focus {
            border: 1px solid $brand-grey;
        }
        @media (max-width: $screen-sm-max) {
            padding:8px 12px;
        }
    }
    textarea { min-height: 280px; }

    .checkboxlist, .radiobuttonlist{
        margin-bottom: 10px;
        display: inline-block;
    }

    .checkboxlist, .radiobuttonlist, .checkbox {
        input {
            width: auto;
            height: auto;
            border: none;
            display: inline;
        }
        label {
            padding:3px 5px 0 0;
        }
    }
    .checkbox {

        label {
            margin-top:-2px;
            line-height:1.3em;
            padding:3px 5px 0 0;
            @media (min-width:$screen-lg) {
                padding:3px 15px 0 0;
            }
        }
        & + .checkbox {
            margin-top:0;
        }
        &:last-child {
            margin-bottom:25px;
        }
    }
    .checkboxlist,
    .radiobuttonlist {
        margin-top:0;
        > .fieldLabel {
            padding-top:15px;
            display:block;
        }
    }
    .checkboxlist .checkboxlist,
    .radiobuttonlist .radiobuttonlist {
        margin:0 0 20px 20px;
        display:block;
    }
    .dropdownlist, .dropdown {
        margin-bottom:$mobileGab;
        label {
            padding:0;
        }
        select {
            width:100%;
            padding: 12px 20px;
            font-family:$font-amnesty-condensed;
            -moz-appearance:none;
            border: 1px solid $brand-lightgrey;
            -webkit-appearance: none;
            -webkit-box-shadow: 0 0 0 transparent;
            -khtml-box-shadow: 0 0 0 transparent;
            -moz-box-shadow: 0 0 0 transparent;
            -ms-box-shadow: 0 0 0 transparent;
            -o-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
            border-radius: 0;
        }
        > div {
            position: relative;
            &:after {
                position: absolute;
                background-color: #fff;
                top: 2px;
                right: 2px;
                z-index: 2;
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 56px;
                font-size: 16px;
                vertical-align: text-bottom;
                color: #333;
                content: "\25BC";
                text-align: center;
                pointer-events: none;
                cursor: pointer;
            }
        }
    }
    // Newsletter form in footer
    footer & {
        position:relative;
        @media (min-width: $screen-xs) {
            width:75%;
        }
        input[type="text"],
        label {
            width:100%;
            font-size:14px;
            text-transform:uppercase;
            &, &:focus {
                border:1px solid #000;
            }
        }
        label {
            color: #000;
            background:#fff !important;
        }
        input[type="text"]{
            padding-right:115px;
        }
        .contourFieldSet .row-fluid > div {
            @media (max-width: 479px) {
                padding:0;
            }
        }
        .contourNavigation {
            position:absolute;
            top:54px;
            right:13px;
            z-index:2;
            margin:0;

            > div {
                padding:0;
            }
        }
        .field-validation-error,
        .field-validation-valid {
            right:105px;
        }
    }
}

// Specific contour-forms style
// ---------------------------------------
.contour {
    // Grid resets
    .span4, .span6 {
        position: relative;
        min-height: 1px;
        float:left;
    }
    .span4 {
        width:33.33333%;
    }
    .span6 {
        width:50%;
    }
    @media (max-width: 479px){
        .row-fluid {
            margin-left: -$mobileGab;
            margin-right: -$mobileGab;
            @include clearfix();
        }
    }
    // Send et brev
    &.sendetbrev {
        .contourPage {
            .js & .contourFieldSet {
                    width: 206%;
                    width: calc(200% + 30px);
                    @media (min-width: $screen-sm){
                        width: 208%;
                        width: calc(200% + 70px);
                    }
            }

            .no-js & {
                .col-md-6,
                .col-md-4 {
                    width: 100%;
                }
            }
        }

        .row-fluid > div {
            &:before {
                content: "";
            }
        }
    }
    // Giv en donation / Bliv medlem
    &.donate,
    &.donateSinglePage,
    &.blivmedlem {
        .col-xs-4 {
            float:left;
            width:33.3333%;
        }
        .col-xs-8 {
            float:left;
            width:66.6664%;
        }
        .contourPage {
            .js & .contourFieldSet {
                    width: 302%;
                    width: calc(300% + 60px);
                    @media (min-width: $screen-xs){
                        width: 304%;
                        width: calc(300% + 140px);
                    }
                }

            .no-js & {
                .col-md-6,
                .col-md-4 {
                    width: 100%;
                }
            }
        }

        .otherAmount {
            text-align: center;
            padding:5px 0 10px;
            clear:both;

            .btn {
                cursor:pointer;
            }

            & + .textfield {
                height: 78px;
                overflow:hidden;
                margin: 0 0 10px 0;
                transition:height 0.2s ease-in;
            }
        }
        label[for="customAmount"] + div {
            &:after {
                content:"Kr.";
                text-align:center;
                position:absolute;
                width:55px;
                padding: 12px 0;
                top: 0;
                bottom: 0;
                right: 0;
                line-height: 1.6;
                color:$menu-grey;
                font-size:18px;
                font-family:$font-amnesty-condensed;
                background:$border-grey-light;
                z-index:-1;
            }

            input {
                background: transparent;
            }
        }
        .hide-next + .textfield {
            height: 0;
            transition:height 0.2s ease-out;
            label, & > div {
                display: none;
            }
        }
        // Info-link hidden
        // -------------------
        .info-link {
            display:none;
            height: 0;
            clear: both;
            text-align: center;

            a {
                display: inline-block;
                top: -28px;
            }
        }
    }
    // Skriv under
    &.lifeline {
        .mobilnummer {
            &.no-val {
                .contourIndicator {
                    display: none;
                }
            }
        }
    }

    // Contour resets
    .contourField {
        position:relative;
        clear: both;
    }
    .row > .contourField {
        clear:none;
        & {
            &:first-child{
                padding-right:0;
            }
            @media (max-width: $screen-xs) {
                padding-right:0;
                padding-left:0;
            }
        }
        input {margin:0;}

    }
    .row + .row, .solution {
        margin-top:10px;
    }
    .checkbox input[type="checkbox"]:focus,
    .checkboxlist input[type="checkbox"]:focus,
    .radiobuttonlist input[type="radio"]:focus {
       box-shadow:0 0 5px 0px #000;
    }
    .radiobuttons {
      > label {

      }
        > div {
            padding:15px 0;
            label {
                font-size:16px;
            }
        }
    }

}

// valitation style
.error-msg,
.field-validation-valid,
.field-validation-error {
    position:absolute;
    color: $error-color;
    top:0;
    right:5px;
    line-height:1.6;
    font-size:14px;
    font-family:$font-amnesty-bold;
    z-index:2;
    background:transparent;
}

.contourNavigation .error-msg {
    position:relative;
    padding-right:20px;
}



.contourIndicator {
    color:$error-color;
}
// Help text toggle
.help-block {
    position:absolute;
    display:block;
    color:#fff;
    right:6px;
    top:28px;
    width:20px;
    height:0;
    margin:0;
    font-size:0;
    line-height:1.5em;
    padding:8px 35px 6px 15px;
    padding-left: 70px;
    z-index:20;
    transition:all 0.1s ease-out;
    border-radius:17px;
    .touch & {
        height:30px;
    }

    &.alternate{
        &:hover,
        &:active{
            padding-left: 15px;
            width:289px !important;
            @media (min-width: $screen-md) {
                width: 504px !important;
            }
        }
    }
    &.alternate.mobile-click {
        padding-left: 15px;
        width:80% !important;
        @media(min-width:480px) {
            width:88% !important;
        }
        @media (min-width: $screen-md) {
            width: 81% !important;
        }
    }

    &:before {
        display:block;
        content:"?";
        float:right;
        width:20px;
        height:20px;
        margin-right:-24px;
        border-radius:10px;
        color:#fff;
        font-size:15px;
        line-height:19px;
        font-family:$font-amnesty-bold;
        text-align:center;
        background:$brand-lightgrey;
        transition:all 0.25s ease-out;
    }

    //touch click and and hover are seperated since there was an issue where both mobile-click and hover was triggered and in this case it was not possible to hide help-block on iphone 6
    &:hover {
        .no-touch & {
            top: 0 !important;
            width: 100%;
            height: auto;
            font-size: 14px;
            right: 0;
            border-radius: 0;
            background: $brand-grey;
            transition: width 0.25s ease-out, height 0.25s 0.25s ease-out, font 0.2s 0.2s ease-out;
            transform-origin: 100% 50%;
            border: 1px solid transparent;
            border-top-color: #000;
            &:before {
                width: 35px;
                height: 35px;
                margin-top: -6px;
                margin-right: -30px;
                border-radius: 0;
                font-size: 18px;
                line-height: 35px;
                background: $brand-grey;
            }
        }
    }
    &.mobile-click {
        .touch & {
            top:0 !important;
            width:100%;
            height:auto;
            font-size:14px;
            right:0;
            border-radius:0;
            background:$brand-grey;
            transition:width 0.25s ease-out, height 0.25s 0.25s ease-out, font 0.2s 0.2s ease-out;
            transform-origin: 100% 50%;
            border:1px solid transparent;
            border-top-color:#000;
            &:before {
                width:35px;
                height:35px;
                margin-top:-6px;
                margin-right:-30px;
                border-radius:0;
                font-size:18px;
                line-height:35px;
                background:$brand-grey;
            }
        }
    }

    .checkboxfield &,
    .checkbox & {
        top: -8px;
    }
    .dropdownlist & {
        top: 14px;
        &:hover, &.mobile-click {
            top:20px;
        }
    }
}

label + .help-block {
    top:33px;

    @media (min-width: $screen-md) {
        top:38px;
    }

    &:hover {
        .no-touch & {
            top: 28px !important;
        }
    }
    &.mobile-click {
        .touch & {
            top: 28px !important;
        }
    }
}

/*.contourField:not(.checkbox) {
    span.help-block {
        top: 5px;
        height: auto;
        z-index: 999999;
        &.mobile-click {
            top: 0;
            padding-top: 2px;
            width: 100%;
            &:before {
                margin-top: 0;
            }
        }
        @media (min-width: $screen-md) {
            top: 10px;
        }
    }
}*/

.toggler {
    input {
        display: none;

        &:checked {
            + .toggler__area {
                .toggler__switch-handle {
                    left: 100%;
                }
            }
        }
    }

    &__area {
        display: flex;
        //to fix direction and positioning of __text on ipad ios safari browsers
        flex-flow: row nowrap;
        -webkit-box-direction: normal;
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
        font-size: 16px;
        line-height: 1.3;
        color: #acacac;
        font-weight: normal;
        font-family: $font-amnesty-bold;
        user-select: none;

        > div {
            flex: 1 1 auto;
        }
    }

    &__text {
        width: 25%;
        line-height: 34px;
        text-transform: uppercase;

        @media (min-width: $screen-sm) {
            width: 33%;
        }

        &:first-child {
            text-align: right;
        }

        span {
            cursor: pointer;
        }
    }

    &__switch {
        width: 50%;
        max-width: 140px;
        padding: 0 30px;

        @media (min-width: $screen-sm) {
            width: 34%;
        }

        &-area {
            display: block;
            position: relative;
            border: 1px solid #d6d6d6;
            height: 34px;
            padding: 3px 29px 3px 3px;
            border-radius: 17px;
            overflow: hidden;

            label {
                position: absolute !important;
                z-index: 1 !important;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        &-rail {
            position: relative;
            height: 26px;
        }

        &-handle {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            background-color: #fbf038;
            cursor: w-resize;
            transition: left .2s ease-out;

            &.no-transition {
                transition-property: none;
            }
        }
    }
}
