/* ==============
	Form section
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

.ribbon.sticky-form-section {
    .row {
        background-color:#fff;
        border-top:0px;
    }
    .category {
        background-color:#fff;
        overflow: hidden;
        padding: 0;
        @media (min-width: $screen-md) {
            /*min-height: 400px;*/
            padding: 0;
        }
        /*&.activated {
          height:54px;
        } //Uncommented as the form should show on mobile - see incident #216   */
        &.shown {
            height: auto;
        }

        h4 {
            color: $brand-lightgrey;
            line-height: 1.1em;
            width: 100%;
            display: inline-block;
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 15px;
            @media (min-width: $screen-lg) {
                font-size: 30px;
                margin-bottom: 35px;
            }
            @media (min-width: $screen-xl) {
                font-size: 40px;
            }
        }
    }

    .index-wrap {
        padding: $mobileGab;
        right: 0;
        width: 100%;
        z-index: 100;
        transition: right .3s ease-out, margin-top .3s ease-out;
        @media (min-width: $screen-sm) {
            background-color: $border-grey-light;
            /*padding: $contentGab;*/
        }
        @media(min-width:$screen-lg) {
            padding: $contentGab;
        }

        &.fixed-form {
            @media(min-width: $screen-sm) {
                top: 0;
            }
            &.addmargintop {
                @media(min-width:$screen-md) {
                    margin-top:55px;
                }
                @media(min-width:$screen-xl) {
                    margin-top:80px;
                }
            }
        }

        &.affix {
            position: relative;
            /*top:54px;*/
            @media (min-width: $screen-sm) {
                height: 100%;
                overflow: auto;
                /*margin-top:80px;*/
                .hide-menu & {
                    margin-top: 0;
                }

                > div {
                    padding-bottom: 50px;
                }
            }
            @media (min-width: $screen-md) {
                position: fixed;
                margin-top: 0px;
                overflow-x: hidden;
                .hide-menu & {
                    margin-top: 0;
                }
            }
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
                // Change width to .col-sm-5
                $size: 41.6666667 - 25%;
                /*width: 41.66666667%;*/
                /*right: - $size;*/
                right: 0;
            }
            @media (min-width: $screen-md) and (max-width: $screen-md-max) {
                // Change width to .col-md-4
                $size: 33.33333333 - 25%;
                /*width: 33.33333333%;*/
                width:280px;
                /*right: - $size;*/
                right: 0;
            }
            @media (min-width: $screen-lg) {
                width: 25%;
            }
            &.shown {
                right: 0;
                @media (min-width: $screen-sm) {
                    .open-close {
                        svg.close {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    div.form-row {
        input[type="text"],
        input[type="number"],
        input[type="email"],
        textarea {
            background-color: #fff;
        }
        .checkbox {
            margin-left: 0;
            .help-block {
                right: 0;
                + div {
                    margin-bottom: 0px; /*35px;*/
                    @media (min-width: $screen-md) {
                        margin-bottom: 35px;
                    }
                }
            }
        }
        input[type="submit"] {
            margin: 15px 0;
        }
        @media (max-width: $screen-xs-max) {
            .contourNavigation .col-md-12 {
                text-align: center;
            }
        }
    }
    > .row {
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            > .col-sm-3 {
                // Change width to .col-sm-5
                width: 41.66666667%;
            }
            > .col-sm-9 {
                // Change width to .col-sm-7
                width: 58.33333333%;
            }
        }
        @media (min-width: $screen-md) and (max-width: $screen-md-max) {
            > .col-sm-3 {
                // Change width to .col-md-4
                width: 33.33333333%;
            }
            > .col-sm-9 {
                // Change width to .col-md-8
                width: 66.66666667%;
            }
        }
        @media (min-width: $screen-lg) {
            background-color: #fff;
        }
    }
    .open-close {
        position: absolute;
        top: 15px;
        right: 0;
        width: 50px;
        height: 50px;
        z-index: 100;
        background-color: $border-grey-light;
        transition: all 0.6s ease-out;
        @media (max-width: $screen-xs-max) {
            position: fixed;
            top: 202px;
            transform: translate3d(50px, 0, 0);
        }
        svg {
            margin-top: 6px;
            margin-left: 6px;
            &, path {
                transition: all 0.3s ease-out;
            }
            &.arrow,
            &.close {
                display: none;
            }
            @media (min-width: $screen-sm) {
                &.sign-symbol {
                    display: none;
                }
            }
        }
        &.affix {
            right: -6px;
            background-color: $menu-grey;
            svg.sign-symbol path {
                fill: #fff;
            }
        }
    }
    .activated .open-close {
        transform: translate3d(0, 0, 0);
    }
    // Mobile overflow fix
    @media (max-width: $screen-sm-max) {
        .row-fluid {
            margin: 0;
            .col-md-12 {
                padding: 0;
            }
        }
    }
}
