﻿/* ==============
    GENEREL ELEMENTS
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:auto!important}
@-o-viewport{width:device-width}
@viewport{width:device-width}

html {
    width: 100%;
    height: 100%;
}

body {
    color: $text-color;
    overflow-x: hidden;
	overflow-y: scroll;
	font: 12px Arial, Helvetica, sans-serif;
	background: $body-bg;
	line-height: 1.4;
    height:100%;
    width:100%;
    z-index:0;
    &.hide-menu {

        .menu-wrap,
        .logo.affix,
        &.frontpage .menu-wrap.affix {
            @media (min-width: $screen-sm) {
                margin-top:-80px;
            }
            @media (min-width: $screen-md) {
                margin-top:-90px;
            }
        }
        .section-menu.affix {
            top:0;
            transition:all 0.3s ease-in-out;
        }
    }
    &.frontpage.hide-menu .menu-wrap {
        margin-top:0;
    }

    &.menu-open {
        overflow:hidden;
        @media (min-width: $screen-lg) {
            width: 100%;
            width: calc(100% - 19px);
        }
        .menu-wrap {
            bottom:0;
            overflow-y: scroll;
            @media (max-width: $screen-sm-max) {
                overflow-x: hidden;
                //width: calc(100% - 20px);
            }
            &.affix {
                margin-top:0;
            }
        }
        @media (min-width: $screen-lg) {
            .nav-tools {
                .no-touch & {
                    right: 17px;
                }
            }
        }
    }
}

::-moz-selection {
	background: $brand-yellow;
	color: #000;
	text-shadow: none;
}

::selection {
	background: $brand-yellow;
	color: #000;
	text-shadow: none;
}

button {
    border:0;
    padding:0;
    margin:0;
    background:transparent;
}

iframe {
	max-width:100%;
}

p {
    margin:0 0 25px;
    line-height:1.375;
}

a, a:visited {
    color:$link-color;
    &:hover, &:focus {
        color:$second-orange;
    }
}

// TODO: Remember taping / focus indication
a:focus, button:focus   {
    outline:none;
    outline-color:#000;
}

h1 {
    font-family: $font-amnesty-bold;
    margin: $contentGab 0 $contentGab 0;
    font-weight:normal;
}

h2, header {
    font-family: $font-amnesty-bold;
    text-transform:uppercase;
}

h2 {
    font-size:34px;
    margin: 10px 0 $mobileGab;
    line-height: 1.15em;
    @media (min-width:$screen-sm){
        font-size:40px;
        margin: $mobileGab 0;
    }
    @media (min-width:$screen-md){
        font-size:60px;
        margin: $contentGab 0;
    }
}

h2, h3, h4 {
    color:#303030;
    font-weight:normal;
    strong {
        font-weight: normal;
    }
}
h3 {
    font-size:20px;
    line-height:1.2em;
}
h3, h4 {
    margin: 0;
    font-family: $font-amnesty-bold;
}

b, strong {
    font-weight:normal;
    font-family: $font-amnesty-bold;
}

.manchet {
    font-size:24px;
    line-height:1.15em;
    @media (min-width:$screen-sm){
        font-size:30px;
    }
    @media (min-width:$screen-md){
        font-size:40px;
    }
}

ul, ol {
    margin-top:0;
    padding-left:20px;
}

nav {
    ul {
        margin:0;
    }
    ul, li {
        list-style:none;
        padding-left:0;
    }
    a {
        text-decoration:none;
    }
}

hr {
    border-color:$border-grey-light;
    border-style:solid;
    border-width:0;
    border-top-width:1px;
    margin:0;
}

fieldset {
    border:none;
    padding:0;
}

.text-center {
    text-align:center;
}

.light {
    width:45px;
    height:73px;
}

.affix {
    position:fixed;
}

.bg {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-size:auto;
    background-color:darken($border-grey-light, 10%);
    background-position: center;
    z-index:0;

    background-image:url(../img/loader.gif);
    &.loaded {
        background-size:cover;
        background-position: center top;
    }
}

.image-src-wrap {
    position:relative;
    min-height:180px;
    background: url(../img/loader.gif) no-repeat center center;

    @media (min-width: $screen-sm) {
        min-height:272px;
    }
    @media (min-width: $screen-lg) {
        min-height:372px;
    }
    img {
        width:100%;
        display:block;
    }
    &.loaded {
        min-height: inherit;
    }
}

.page-wrap {
    position:relative;
    z-index:2;
    background:#fff;
    padding-top:80px;

    #billboard + & {
        @media screen and (max-width: $screen-sm-max) {
            padding-top:0;
        }
    }
    @media (min-width: $screen-md) {
        &, #billboard + & {
            padding-top:90px;
        }
    }
    article > h1,
    article > h2 {
        font-size:30px;
        line-height:0.933em;
        padding:20px 0 13px;
        margin:0 $mobileGab;
        z-index:20;
        background-color:#fff;
        border-bottom:1px solid $border-grey;
        @media (min-width: $screen-md) {
            margin:0 $contentGab;
        }
    }
}

// Frontpage-Only styles

#billboard + .page-wrap {
    article {
        display:none;
    }
    & + footer {
        display:none;
    }
    .topics-open & {
        article, & + footer {
            display:block;
        }
    }
    .section-menu {
        nav > ul > li:first-child > a {
            padding-left:0;
        }
    }
}

.row {
    &.reverse {
        @media (max-width:$screen-sm-max) {
            display:flex;
            flex-direction: column-reverse;
        }
    }
}

::-webkit-input-placeholder {
   color: #606060;
}

:-moz-placeholder { /* Firefox 18- */
   color: #606060;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #606060;
}

:-ms-input-placeholder {
   color: #606060;
}
