/* ==============
    Logo
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

.logo {
    position:fixed;   
    z-index:1000;
    height:80px;
    width:80px;
    top:0;
    display:block;
    overflow:hidden;
    background:$brand-yellow;    
    transition:margin 0.3s ease-in-out, background 0.2s ease-in-out;
    .logo-wrap {
        position:relative;
        width:120px;
        display:inline-block;
        margin-left:-65px;
        vertical-align:middle;
        overflow:hidden;
        .no-svg & {
            display:block;
            height:90px;
            background: url(../img/logo.png) no-repeat center;
        }
    }
    svg {
        width:100%;
        height:80px;
    }
    .svg-international, .svg-light, .svg-amnesty {
        fill: #000;
    }
    .svg-international, .svg-amnesty {
        display:none;
    }
    .svg &:focus {
        background:#000;
        .svg-international, .svg-light, .svg-amnesty {
            fill: $brand-yellow;
        }
    }
    .no-svg &:focus {
        background:$second-yellow;
    }
    @media (min-width: $screen-md) {
        height:90px;
        &.affix-top {
            background:transparent;                  
        }
        &.yellow-bg {
            background:$brand-yellow;  
        }
        &:hover {
            background:#000;
        }        
    }
    @media (min-width: $screen-lg) {
        width:190px;
        .logo-wrap {
            width:120px;
            margin-left:$contentGab;
        }
        svg {
            height:88px;
        }
        .svg-international, .svg-amnesty {
            display:block;
        }
    }    
}