﻿//
// Menu
// --------------------------------------------------
@import "../helpers/_variables";
@import "../helpers/_mixins";

.menu-wrap {
    z-index:3;
    position:fixed;
    top:0;    
    width:100%;
    transition:margin 0.3s ease-in-out;
    @media (min-width: $screen-md) {
        top:auto;
        min-height:90px;
        overflow-y:visible !important;
    }
    /*@media (min-width: $screen-md) {
        min-height:90px;
    }*/
    
    .overlay {
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:none;
        &.open {
            background:rgba(0,0,0,0.75);
            z-index:10;
        }
    }        
    &.affix {
		@media (min-width: $screen-md) {
			position: fixed !important;
            top:0;
			left: 0px;
			.sub-menu {
				@media (min-width: $screen-md) {
					top:90px;
				}
			}
            .frontpage & {
                top:0 !important;
                bottom:auto;
            }
		}
    }
    .frontpage & {        
        @media (min-width: $screen-md) {
            top:auto;
            bottom:0;
        }
    }
}

.page-menu {
    text-transform:uppercase;
    font-family: $font-amnesty-bold;

    nav {
        background:$menu-grey;
        > ul {
            position: relative;
            font-size:0;
            padding:0;
            margin:0;

            li {
                display:block;
                overflow:hidden;
                position:relative;
                text-align:center;
                & > ul {                    
                    height:0;                    
                }
                &.inpath {
                    & > ul {
                        height:auto;
                    }                    
                }
            }            
        }
        a {
            display:block;                       
            font-size:18px;
            white-space:nowrap;
            line-height:80px;
            &, &:visited {
                color:#fff;
            }
            @media (min-width: $screen-md) {
                line-height:90px;
            }
        }
    }
    .expand {
        position:absolute;
        top:0;
        right:0;        
        width:80px;        
        height:81px;
        color: #fff;
        cursor:pointer;
        z-index:100;        
        span {
            position:absolute;
            top: 24px;
            left: 30px;
            line-height:24px;
            font-size:32px;
            font-family:$font-amnesty-light;
        }
        @media (min-width: $screen-md) {
            display:none;
        }
    }
    &.sub-menu {
        .expand {
            width:60px;        
            height:61px;
            color:$menu-grey;
            span {
                top: 13px;
                left: 20px;
            }
            @media (min-width: $screen-md) {
                display:block;
            }
        }
    }
} // .page-menu

.main-menu {  
    position:relative;
    top:0;
    left:0;
    width:100%; 
    z-index: 50;
    display:none;
    @media (max-width: $screen-xs-max){
        //margin-left: 80px;
    }
    @media (min-width: $screen-md) {
        position:absolute;
        display:block;
    }

    nav {        
        padding-top:80px;        

        @media (min-width: $screen-md) {
            padding-top:0;
            margin:0 270px 0 0;
        }
        @media (min-width: $screen-lg) {
            margin:0 488px 0 0;
        }
        > ul {
            @media (min-width: $screen-md) {
                margin-left:0;
            }
            transition: all 0.3s ease-out;
            li {
                position:relative;
                > ul {
                    @media (min-width: $screen-md) {
                        display:none;
                    }
                }
                
                & + li {
                    @media (min-width: $screen-md) {
                        border-top:0;
                        border-left:1px solid #000;
                    }
                }
                @media (min-width: $screen-md) {
                    display:table-cell;
                    width:1%;
                    
                    a {
                        position:relative;
                    }
                    .no-touch &:before {
                        position:absolute;
                        content: "";
                        width:100%;
                        height:0;
                        top:50%;
                        left:0;                      
                        background:#000;
                        transition:all 0.4s cubic-bezier(0, 0.87, 0.27, 0.99);
                    }
                    .no-touch &:hover,
                    .no-touch &:focus {
                        &:before {
                            content: "";
                            position:absolute;
                            top:0;
                            height:100%;
                            transition:all 0.20s cubic-bezier(0, 0.87, 0.27, 0.99);
                        }
                    }                              
                }
                @media (min-width: $screen-lg) {
                    width:198px;                     
                }                
            }
            > li {
                border-top:1px solid darken($menu-grey, 3%);
                &.inpath > .expand {
                    background:lighten($menu-grey, 10%);
                }            
                > ul > li {
                        border-top:1px solid lighten($menu-grey, 5%);                        
                    > a {
                        background:lighten($menu-grey, 10%);
                    }
                    &.inpath > .expand {
                        background:lighten($menu-grey, 20%);
                    }
                    > ul > li {
                        border-top:1px solid lighten($menu-grey, 15%);                            
                        > a {
                            background:lighten($menu-grey, 20%);
                            padding-left:10px;
                        }
                    }
                }
                @media (min-width: $screen-sm) {
                    border-top:none;
                }
            }            
        }      
    } // nav
    &, .frontpage .affix & {
		nav > ul.row  {
			@media (min-width: $screen-md) {
				margin-left:80px;
			}
			@media (min-width: $screen-lg) {
				margin-left:190px;
			}
		}
    }
    .frontpage & {
        nav > ul  {
            @media (min-width: $screen-md) {
			    margin-left:0;
		    }
        }
    }
} // .main-menu
.sub-menu {
    position:relative;
    display:none;
    @media (min-width: $screen-md) {
        position:fixed;        
        overflow-y:scroll;
        top:0;
        right:0;
        z-index:-1;
        width:50%;
        height:100%;     
    }
    nav {        
        width:100%;
        height:100%;    
        background:#fff;
        display:table;       
        a {
            line-height:60px;
        }
        > ul {
            @media (min-width: $screen-md) {
                display:table-cell;
                vertical-align:middle;
            }
        }
        ul > li {
            a {
                &, &:visited {
                    color:$menu-grey;
                }
                @media (min-width: $screen-md) {
                    line-height:50px;
                }
            }
        } 
        
        ul > li {
            border-top:1px solid lighten($menu-grey, 90%);
            &.inpath > .expand {
                background:lighten($menu-grey, 80%);
            }          
            > ul > li {
                    border-top:1px solid lighten($menu-grey, 85%);
                > a {
                    background:lighten($menu-grey, 80%);
                }
                &.inpath > .expand {
                    background:lighten($menu-grey, 70%);
                }
                > ul > li {
                        border-top:1px solid lighten($menu-grey, 75%);                        
                    > a {
                        background:lighten($menu-grey, 70%);
                        padding-left:10px;
                    }
                }
            }
        }
        li {
            white-space: normal;
        }
    }
} // .sub-menu
.section-menu-wrap {
    height:57px;
}
.section-menu {
    position:relative;
    padding:8px $mobileGab 0 15px;
    width:100%;
    //overflow:hidden;
    background-color:#fff;
    z-index:10;
    transition:all 0.3s ease-in-out;

    @media (max-width: $screen-sm-max) {

        &:after, &:before {
            content:">";
            position:absolute;
            width:10px;
            height:20px;
            font-size:16px;
            color:$brand-lightgrey;
            top:17px;
            right:4px;
            line-height:1em;
            font-family: monospace;
        } 
        /*&:before {
            content:"<";
            right:auto;
            left:4px;
        }*/    
    }
    @media (max-width: $screen-sm-max) {
        overflow:hidden;        
    }
    @media (min-width: $screen-lg) {
        padding:0 $contentGab;        
    }
    
    nav {
        position:relative;
        margin-top:4px;
        &::-webkit-scrollbar {display:none;}
        @media (max-width: $screen-sm-max) {
            overflow-x:scroll;
            -webkit-overflow-scrolling: touch;
        }      
    }
    ul {
        margin-top:5px;
        margin-bottom:10px;
        display: table;
    }
    li, a.back-btn {
        position:relative;
        display:table-cell;
        hr {
            position:absolute;
            margin:-2px 0 0;
            border-color:$border-grey-light;
            width:0;
            left:0;
            border-top-width: 2px;
            &.last {
                left:50%;
                margin-top:-2px;
            }
        }
        i {
            position:absolute;
            width:8px;
            height:8px;
            bottom:-3px;
            left:50%;
            margin-left:-4px;
            border-radius:4px;
            background:$brand-lightgrey;
            z-index:100;
            display:none;
        }     
    }
    
    li a, a.back-btn div {
        font-size:16px;
        font-family: $font-amnesty-bold;        
        line-height:2.2em;
        white-space:nowrap;
        padding:0 18px;
        @media (min-width: $screen-sm) {
            padding:0 24px;
        }       
    }
    li a {
        color: $brand-grey; 
        display:block;       
        &.active {
            color: #000;
        }   
        &:hover, &:focus,
        &.active:hover, &.active:focus {
            color: #000;
        }          
    }
    a.back-btn {
        position:absolute;
        top:0;
        left:0;
        color: $brand-grey;
        div {
            padding-left:0;
        }
        hr {
            margin-left:-50%;
        }
        &:hover, &:focus {
            color: #000;
            span {
                @media (min-width: $screen-sm) {
                    left:-10px;
                    color:#000;
                }                
            }
        }
        @media (min-width: $screen-sm) {
            span {                
                left:-1px;
            }
        }
    }
    &.affix {
        position: fixed !important;
        top:80px;        
        left: 0px;
        width:100%;
        border-bottom:1px solid $border-grey;
        padding-top:4px;
        @media (min-width: $screen-md) {
            top:90px;
        }
    }
} // .section-menu

.section-menu a.back-btn + ul {
    margin-top:0;
    padding-left:63px;
    @media (min-width: $screen-md) {
        padding-left: 130px;
    }
}
