/* ==============
	Modules
   ============== */

@import "../helpers/_variables";
@import "../helpers/_mixins";

.module-wrap {
    position: relative;
    background: #fff;
    z-index: 2;

    @media (min-width: $screen-xl) {
        .col-sm-9 & {
            float: right;
            width: 100%;
            max-width: 1080px;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.content {
    position: relative;
    padding: 0 $mobileGab 0 $mobileGab;
    font-family: $font-amnesty-condensed;
    font-size: 17px;

    @media (min-width:$screen-sm) {
        font-size: 20px;
    }

    @media (min-width: $screen-md) {
        padding: 0 $contentGab 0 60px;
    }

    hr {
        margin: $mobileGab 0;

        @media (min-width: $screen-md) {
            margin-top: $contentGab 0;
        }
    }
}

.col-sm-9:last-child .module-wrap:not(.press-and-news) {
    padding-bottom: $mobileGab;

    @media (min-width: $screen-md) {
        padding-bottom: $contentGab;
    }

    .content {
        hr {
            display: none;
        }
    }
}

.text-content {
    h2 {
        white-space: pre-line;
        @media(min-width:$screen-md) {
            max-width:80%;
        }
    }
}

.text-two-col {
    @media (max-width: $screen-sm-max) {
        .row {
            margin: 0;
        }

        .col-md-6 {
            padding: 0;

        }
    }
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
        .col-md-6:last-child {
            padding-left:15px;
        }
    }
}

.statement {
    text-align: center;
    padding: 20px $mobileGab;
    line-height: 1.2;
    white-space: pre-line;
    background-color: $brand-yellow;
    font-family: $font-amnesty-bold;
    font-size: 20px;
    font-size: 6vw;
    text-transform:uppercase;

    @media (min-width: $screen-xs) {
        padding: 20px 8%;
        font-size: 24px;
        font-size: 5vw;
    }

    @media (min-width: $screen-sm) {
        font-size: 40px;
        padding: $contentGab 10%;
    }

    @media (min-width: $screen-md) {
        padding: 60px 15.6%;
    }
}

.infographic {
    .col-xs-6 {
        float: left;
        width: 50%;
        padding: 0 $contentGab/2;

        @media (min-width: $screen-sm) {
            padding: 0 $contentGab;
        }

        @media (min-width: $screen-md) {
            padding: 0 $contentGab*2;
        }
    }

    .circle-loader {
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 100%;

        svg {
            width: 120px;
            transform: rotate(-1deg);

            @media (min-width: $screen-sm) {
                width: 200px;
                height: 200px;
            }

            @media (min-width: $screen-md) {
                width: 250px;
                height: 250px;
            }

            @media (min-width: $screen-lg) {
                width: 300px;
                height: 300px;
            }

            @media (min-width: $screen-xl) {
                width: 350px;
                height: 350px;
            }
        }


        figcaption {
            text-align: center;
            border-top: 1px solid $border-grey;
            border-bottom: 1px solid $border-grey;
        }

        .circle {
            fill: none;
            stroke: #eeeeee;
            stroke-width: 66;
            stroke-miterlimit: 10;

            &.full {
                stroke-width: 10;
            }

            &.action-red {
                stroke: $brand-cta;
                stroke-width: 0;
                stroke-miterlimit: 10;
            }

            &.yellow {
                stroke: $brand-yellow;
            }

            &.white {
                stroke: #FFF;
            }
        }

        .result {
            width: 100%;
            color: $brand-yellow;
            font-size: 40px;
            font-size: 13vw;
            line-height: 1em;
            text-align: center;
            font-family: $font-amnesty-light;

            & + p {
                line-height: 1.2;
                margin: 5px 0 7px;
                text-transform: uppercase;
                font-size: 20px;
                font-family: $font-amnesty-bold;
            }

            @media (min-width: $screen-sm) {
                font-size: 60px;
            }

            @media (min-width: $screen-md) {
                font-size: 75px;
            }

            @media (min-width: $screen-lg) {
                font-size: 100px;
            }
        }

        &.leftover {
            .result {
                color: $brand-cta;
            }

            .circle.prog {
                stroke-width: 30;
            }

            .circle.full {
                stroke-width: 54;
            }
        }
    }
    // .circular-loader
    .btn {
        margin: $contentGab 0;
    }
}
// .infographic

.download {
    .row {
        @media (max-width: 479px) {
            margin-left: -($mobileGab);
            margin-right: -($mobileGab);
            @include clearfix();
        }
    }

    a {
        text-decoration: none;

        &:focus, &:hover {
            color: #000;
            text-decoration: underline;

            .icon {
                background-color: #f5f5f5;
            }
        }

        @media (max-width: 479px) {
            float: left;
            width: 50%;
        }

        @media (min-width: $screen-md) and (max-width: $screen-md-max) {
            width: 20%;
        }
    }


    h3 {
        font-family: $font-amnesty-light;
        margin-bottom: $mobileGab;

        @media (min-width: $screen-md) {
            margin-bottom: 60px;
        }
    }

    .icon {
        display: block;
        background: url(../img/download-cloud.png) no-repeat center center;
        border: 3px solid $border-grey-light;
        height: 120px;
    }

    p {
        font-size: 14px;
        line-height: 1.4;
        margin-top: 15px;
        font-family: $font-amnesty-bold;
    }
}
//.download

.google-maps {
    height: 200px;
    background: $brand-grey url(../img/loader.gif) no-repeat center center;

    @media (min-width: $screen-sm) {
        height: 300px;
    }

    @media (min-width: $screen-md) {
        height: 400px;
    }
}

ul.google-maps--list-view {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        border-top: solid white 1px;

        > a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            text-decoration: none;

            > div {
                &:first-child {
                    width: 100px;
                    background: $brand-yellow;
                    font-family: "AmnestyTradeGothic Bold", "Avenir Next Condensed Bold", "Roboto Condensed Bold", Impact, Arial, Helvetica, sans-serif;
                    font-size: 26px;
                    text-align: center;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                    }

                }

                &:nth-child(2) {
                    padding: 10px 15px;
                    background: $border-grey-light;
                    width: 100%;

                    p {
                        margin-bottom: 5px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                flex: 0 1 auto;
                align-self: stretch;
                transition: background .5s ease-in-out;
            }

            &:hover, &:active, &:focus {
                > div {
                    background: $brand-yellow;
                    color: black;
                }
            }

        }
    }
}

//Bootstrap responsive iframe / video embed
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.press-and-news {
    padding-top: $mobileGab;
    overflow: hidden;

    @media (min-width: $screen-sm) {
        padding-top: $contentGab;
    }

    @media (max-width: 479px) {
        .col-xs-6 {
            float:left;
            width:50%;
            &:last-child {
                .list-item {
                    margin-left:20px;
                }
            }
        }
    }

    .list-item {
        &:first-child {
            padding-top: 0;
        }
    }

    img.thumb {
        display:none;

        @media (min-width: $screen-xs) {
            display:block;
            position: absolute;
            top: 0;
            left: 0;
            padding-right: $mobileGab;
            width: 100px;
            & + .content {
                padding-left: 100px;
                min-height: 100px;
            }
        }
        @media (min-width: $screen-sm) {
            padding-right: $contentGab;
            width: 150px;
            & + .content {
                padding-left: 150px;
                min-height: 150px;
            }
        }
    }

    .content {
        position:relative;
        padding-left:0;
        padding-top: 0;
    }

    time {
        font-size: 13px;
        display:block;
        @media (min-width: $screen-sm) {
            float: right;
        }
        @media (min-width: $screen-lg) {
            font-size: 16px;
        }
    }

    .tab-controls,
    .tab-pagination {
        margin-bottom: $contentGab;

        @include make-row();
        margin-left: -$mobileGab;
        margin-right: -$mobileGab;

        > div {
            float: left;
            width: 50%;
            padding-left:0;
            &:first-child {
                padding-left: 20px;

                @media (min-width: $screen-xs) {
                    text-align: right;
                }
            }
        }
    }

    .tab-controls {
        .btn {
            @media (max-width: 479px) {
                font-size: 14px;
                span {
                    padding:15px;
                }
            }

            @media (min-width: $screen-lg) {
                font-size: 22px;
            }
        }
    }

    &:not(.news-only) {
        .tabs-wrapper {
            width: 200%;
            width: calc(200% + 70px);
        }
    }
    &.news-only {
        .list-item {
            margin: 0 $mobileGab;
            @media (min-width: $screen-sm) {
                margin: 0 $contentGab;
            }
        }
    }
}

.time-stamp.news-time {
    font-size: 15px;
    z-index: 10;
    top: 1px;
    background: #fff;
    height: auto;
    color:$brand-darkgrey;
    font-family:$font-amnesty-bold;

    @media (min-width: $screen-sm) {
    }

    @media (min-width: $screen-md) {
    }
    time {
        margin-top:$mobileGab;
    }
    > .row {
        border-bottom: 1px solid #f2f2f2;

        .col-sm-9 {

            max-width: 1080px;
            padding: 0 $mobileGab $mobileGab $mobileGab;
            @media (min-width: $screen-sm) {
                float: right;
                padding-top:5px;
            }
            @media (min-width: $screen-md) {
                padding: 5px 35px $mobileGab 62px;
            }
        }
        .col-sm-3 {
            display:none;
            float: right;
            padding-bottom:$mobileGab;
            @media (min-width: $screen-sm) {
                display:block;
                padding-top:5px;
            }
            @media (min-width: $screen-md) {

            }
        }
    }
}