﻿/* ==============
    SEARCH
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

.nav-tools {
    position:absolute;    
    top:0;
    right:0;
    width:100%;
    height:80px;
    background:$menu-grey;
    z-index: 60;
    @media (min-width: $screen-md) {
        font-size:0;
        display:table;
        height:90px;
        width:272px;
    }
    @media (min-width: $screen-lg) {
        width:488px;
    }
}

.nav-tool {    
    display:block;
    position:absolute;
    top:0;
    width:90px;
    height:80px;
    @media (min-width: $screen-md) {
        height:90px;
        position:relative;        
        display:table-cell;
        vertical-align:middle;
        border-left:1px solid #000;
    }
}

// #da6a61
#react {
    width:82px;
    right:140px;    
    background-color:#3e2a29;   
    overflow:hidden;
    text-align:center;
    vertical-align:middle;
    transition:width 0.4s ease-in-out;
    @media (min-width: $screen-xs) {
        width:108px;
        right:140px;
    }
    a {
        display:block;
        text-decoration:none;   
        text-transform:uppercase;            
        font-size:18px;
        white-space:nowrap;
        line-height:80px;
        color:$brand-cta;
        font-family:$font-amnesty-bold;
        @media (min-width: $screen-md) {
            line-height:90px;
        }
        span {
            position:relative;         
            z-index:0;
            em {
                font-style:normal;
                position:relative;
                z-index:1;
            }                       
        }
        .no-touch &:before {
            position:absolute;
            content: "";
            width:100%;
            height:0;
            top:50%;
            left:0;                      
            background:#da6a61;
            transition:all 0.2s ease-out;
        }
        .no-touch &:hover,
        .no-touch &:focus {
            span em {
                color:#000;
            }
            &:before {
                content: "";
                position:absolute;
                top:0;
                height:100%;
                transition:all 0.10s ease-in;
            }
        }
    }
    @media (min-width:$screen-xs){
        right:160px;
    }
    @media (min-width:$screen-md){
        right:auto;   
    }
    @media (min-width:$screen-lg){     
        width:188px;
    }
}

.search-global.nav-tool {
    display:inline-block;
    top:0;
    width:70px;
    right:70px;
    padding:0;
    margin:0;
    transition:all 0.4s ease-in-out;
    @media (min-width: $screen-xs) {
        right:80px;
        width:80px;
    }
    @media (min-width: $screen-md) {
        right:0;
        height:80px;
    }
    @media (min-width: $screen-lg) {
        float:left;
        right:auto;
        height: 90px;
        width: 190px;
    }
    & > form {
        height:80px;
        margin:0;
        text-align:left;
        background:$menu-grey;
        margin-top:0;
        @media (min-width: $screen-lg) {
            margin:20px auto 0;
            width:70%;
            height:auto;
        }
    }
    .btn-search, svg {
        margin:0;
        right:8px;
        width:40px;
        height:100%;

        path {
            fill:darken($brand-lightgrey, 20%);
        }
        @media (min-width: $screen-xs) {
            
        }
        @media (min-width: $screen-md) {
            right:20px;
            top:4px;
        }
        @media (min-width: $screen-lg) {
            top:10px;
            width:26px;
            height:27px;
            right:0;
            &:focus {
                box-shadow: 0px 5px 0px $menu-grey, 0px 7px 0px #fff;
            }       
        }            
    }
    svg {
        position:absolute;
    }
    .no-svg .btn-search {
        right:0;
        width:70px;
        background-size:40px;
        background-position: center;

        @media (min-width: $screen-xs) {
            width:60px;
            background-position: 30px center;
        }
        @media (min-width: $screen-md) {
            background-position: center center;
        }
        @media (min-width: $screen-lg) {
            background-position: center center;  
            background-size:cover;
        }
    }
    
    .global-search {
        width:0;
        padding:0;
        font-size:18px;
        line-height:2.2;            
        color:darken($brand-lightgrey, 20%);        
        border-bottom:2px solid darken($brand-lightgrey, 20%);
        opacity:0;
        @include placeholder(darken($brand-lightgrey, 20%));

        &:focus {
            color: $brand-lightgrey;
            border-bottom:2px solid $brand-lightgrey;
            @include placeholder($brand-lightgrey);

            & + .btn-search {
                opacity:1;
                + svg path {
                    fill:$brand-lightgrey;
                }
            }
        }

        @media (min-width: $screen-lg) {
            width:100%;
            height:44px;
            line-height:1.6;
            opacity:1;
            &:focus {
                height:46px;
                padding:2px 25px 7px 5px;
            }
        }
    }
}

.nav-tools.focused {
    .global-search {
        opacity:1;
        padding:20px 40px 0 5px;               
        margin:0 15% 0 5%;
    }

    @media (max-width: $screen-xs-max) {
        #search-global {
            width:100%;
            right:0;
            top:80px;
            transition:width 0.3s ease-out;
            & > form {
                width:100%;
            }
            .btn-search, svg {
                top:-8px;
                right:25px;
                background-position: 20px center;
            }
            .global-search {
                width:74%;
            }
        }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        #search-global {
            top:80px;
            width:80px;
            transition:all 0.3s ease-out;
            & > form {
                width:300px;
                margin:0 -1px 0 -220px;
                border-top:1px solid darken($menu-grey, 3%);
                padding:0 20px 0;
                border-bottom:none;
            }
            .global-search {
                width:80%;
            }
            .btn-search {
                top:0;
            }
            svg {
                top:15px;
                width:30px;
                right:15px;
                margin-top:-20px;
            }
            .affix-top & {
                top:-80px;
                 & > form {
                    margin-top:0;
                 }
                 .btn-search {
                    top:0;
                 }
            }         
        }         
    }
    @media (min-width: $screen-lg){
        #react {
            width:128px;
            transition:width 0.3s ease-in;
        }
        #search-global {
            width:250px;
            .btn-search {
                right:0;
            }
        }
    }    
}

#burger {
    right:0;   
    width: 70px;    
    padding-right:10px; 
    z-index:15;
    transition:background-color 0.4s ease-in-out;
    @media (min-width: $screen-xs) {
        width: 80px;
    }
    @media (min-width: $screen-lg) {
        width: 108px;
    }
    span {
        position:relative;
        display:block;
        width: 36px;
        height:26px;
        margin:0 auto;
    }
    &:focus, &:active {
        outline:none;
    }
    .bun, .beef {
        display: block;
        position: absolute;
        left: 5px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition:top 0.2s ease-out;
    }

    .bun {
        transform: rotate(0deg);           
        
        &:first-child {
            top: 0px;
        }
        &:last-child {
            top: 24px;
        }
    }
    .beef {
        top: 12px;
        opacity:1;
    }
    .no-touch &:before {
        position:absolute;
        content: "";
        width:100%;
        height:0;
        top:50%;
        left:0;                      
        background:#000;
        transition:all 0.4s cubic-bezier(0, 0.87, 0.27, 0.99);
    }
    .no-touch &:hover,
    .no-touch &:focus {
        &:before {
            content: "";
            position:absolute;
            top:0;
            height:100%;
            transition:all 0.40s cubic-bezier(0, 0.87, 0.27, 0.99);
        }
    }

     &.open {
         border-bottom:1px solid $menu-grey;
         &:before, .beef {
             display:none;
        }
         
        @media (min-width: $screen-md) {
            background:#fff;
            border:none;
        }
    }
}

