/* ==============
	Topics
   ============== */

@import "../helpers/_variables";
@import "../helpers/_mixins";

.photo-credits {
    position:absolute;
    bottom:0;
    right:0;
    color:#fff;
    text-align:right;    
    background:transparent;
    z-index:100;
    p {margin-bottom:0;}

    .photographer,
    .description {
        padding:4px 12px 4px 8px;
        float:right;
        display:inline-block;
        opacity:0.75;  
        @media (min-width: $screen-md) {
            padding:6px 12px;            
        }
    }

    &[data-showbg=True]{
        .photographer,
        .description {
            background-color:rgba(0,0,0,0.5);
        }        
    }
    
    .photographer {
        font-family:$font-amnesty-condensed;
        font-style:italic;
        font-size:12px;          
        &:before {
            content:"\00a9";
            margin-right:5px;
        }
        @media (min-width: $screen-sm) {
            font-size:15px;

        }  
        @media (min-width: $screen-md) {
            &:hover + .description {
                opacity:0.75;
            }	    
            /*#billboard:hover &,
            #billboard.show-credits & {
                opacity:0.75;  
            }*/
	    }
    }
    .description {
        font-size:12px;   
        max-width:400px;
        line-height:1.6em;    
        transition:opacity .3s ease-out;
        clear:right;
        height:0;
        overflow:hidden;
        padding:0 12px 0 8px;

        &.show-credits {
            height:auto;
            padding:8px 12px 8px 8px;
        }
        @media (min-width: $screen-md) {                
            padding:10px 12px;
            opacity:0;
            height:auto;
            /*#billboard:hover & {
                opacity:0.75;      
            }*/
        }
    }

	@media (min-width: $screen-md) {
		bottom:auto;
        top:0;
	}

	@media (min-width: $screen-md) {
	}

	@media (min-width: $screen-lg) {
		
	}

	@media (min-width: $screen-xxl) {
		
	}
}
