﻿/* ==============
    Box-topic
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

.ribbon {
    position:relative;
    font-size:16px;

    > .row {
        border-top:1px solid $border-grey;
        background-color:$border-grey-light;
        padding:0;
        > .col-sm-9 {
            padding:0;
        }
    }

    .text-content{
        ul {
            display: table;
            li {
                display: list-item;
                &:before {
                    display: table-cell;
                }
            }
        }
    }

    .category {
        background-color:$border-grey-light;
        padding: $mobileGab;

        @media (min-width: $screen-md) {
            float:right;
            padding: $contentGab;
        }

        header {
            color:$brand-lightgrey;
            line-height:1.1em;
            display:inline-block;
            text-transform:uppercase;
            font-size:24px;
            @media (min-width: $screen-lg) {
                font-size:30px;
            }
            @media (min-width: $screen-xl) {
                font-size:40px;
            }
        }
        .index {
            display:none;
            color:$brand-lightgrey;
            line-height:1em;
            font-family:$font-amnesty-bold;

            @media (min-width: $screen-sm) {
                display:block;
                font-size:50px;
            }
            @media (min-width: $screen-md) {
                font-size:60px;
            }
            @media (min-width: $screen-lg) {
                font-size:70px;
            }
        }
        .topics & {
            @media (min-width: $screen-xxl) {
                header {
                    font-size:30px;
                }
            }
        }
    }
    .index-wrap {
        @media (max-width: $screen-xs-max) {
            padding-right: 95px;
        }
    }
    .row.indexed {
        .col-sm-9 {
            background-color:#fff;
        }
        @media (min-width: $screen-md) {
            &:before {
                content:"Modul mangler";
                position:absolute;
                top:50%;
                left:40%;
                margin-left:-130px;
                margin-top:-35px;
                color:$border-grey;
                font-family:$font-amnesty-bold;
                font-size:50px;
                z-index:0;
            }
        }
    }
    &.spacedout {
        padding-top:80px;
        @media (min-width: $screen-md) {
            padding-top:90px;
        }
    }
}