/* ==============
    Search
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

.search-global {
    & > form {
        width:100%;
        margin:20px auto;
        position:relative;
        background:#fff;
        transition:all 0.3s ease-out;
        @media (min-width: $screen-lg) {
            width:50%;
        }
    }    
    .global-search {     
        width:100%;
        overflow:hidden;
        color:$brand-lightgrey;
        font-size:24px;
        font-family: $font-amnesty-bold;
        line-height:1.8;
        height:52px;
        background:transparent;        
        padding-left:10px;
        border-bottom:2px solid $brand-lightgrey;        
        transition:all 0.3s ease-out;
        & + .btn-search {
            opacity:0.8;
            transition:all 0.3s ease-out;
            + svg path {
                transition:all 0.3s ease-out;
            }
        }
        
        @include placeholder($brand-lightgrey);

        @media (min-width: $screen-sm) {
            opacity:1;
            border-bottom:2px solid $brand-lightgrey;
            &:focus {
                color:$brand-grey;
                border-bottom:2px solid $brand-grey;
                & + .btn-search {
                    opacity:1;
                    + svg path {
                        fill:$brand-grey;
                    }
                }
                
            }
        }
    }
    
    .btn-search, svg {
        position:absolute;
        right:10px;
        top:0;
        width:40px;
        height:40px;        
        overflow:hidden;
        text-indent:1000px;        
        //background:url(../img/svg_search.svg) no-repeat center center;
        transition:all 0.3s ease-out;
        background:transparent;
        z-index:1;
        @media (min-width: $screen-sm) {
            margin:0;
            right:0;
            width:60px;
        }        
        &:hover, &:focus {
            opacity:1;

        }
    }
    .btn-search {
        z-index:100;
        .no-svg & {
            background:url(../img/svg_search.png) no-repeat center center;
        }
    }    
}

.search-results {
     & > header { 
         border:none !important;
         padding-bottom:25px !important;
     }
}

.list-item {
    position:relative;
    &:first-child { padding-top:25px; }
    a {
        display:block;
        text-decoration:none;
        &:hover, &:focus {
            color:$brand-darkgrey;
        }
    }
    &:hover, &:focus {
        hr {
            border-color:$brand-lightgrey;
        }
    }
    h3 {
        display:inline-block;
        font-size:20px;
        margin-bottom:10px;
        @media (min-width: $screen-sm) {
            font-size:26px;
        }
        i {
            width:0;
            display:block;
            border-top:1px solid $brand-lightgrey;
            transition:width 0.2s ease-in;   
        }
    }
    &:hover, &:focus {
        h3 i {
            width:100%;
            transition:width 0.3s ease-out;
        }
    }
    .breadcrumb a {
        color:$brand-grey;
    }
}

.search-tags {
    display:block;  
    text-align:right;
    svg {
        margin-top:7px;        
        width:32px;
        height:22px;
    }
    a {
        font-size:14px;
        margin-right:12px;
        text-decoration:none;
        &:last-child {
            margin-right:0;
        }
    }
    @media (min-width: $screen-sm) {
        float:right;
         a {
            float:left;
            font-size:16px;
            margin-right:0;
            margin-left:12px;
            &:hover, &:focus {
                text-decoration:underline;            
            }
        }
        svg {
            float:left;
            margin-top:0;
            width:38px;
            height:30px;
        }
    }
}

.searchbar {
    min-height:120px;
}