/* ==============
	Form section
   ============== */

@import "../helpers/_variables";
@import "../helpers/_mixins";

.signature-progress {
  position:relative;
  width:100%;

  p {
    font-family: $font-amnesty-light;
    margin:5px 0;
    b {
      font-family: $font-amnesty-bold;
    }
  }
  .signature-count {
    color:$brand-cta;
  }
  .signature-goal {
    text-align:right;
    color:$brand-grey;
    opacity:0;
    &.shown {
      opacity:1;
    }
  }
  .missing {
    color:#777;
    &.dark {
      color: $text-color;
    }
  }

  .graphic-frame {
    display:block;
    overflow:hidden;
    height:20px;
    border-radius: 10px;
    border:1px solid #d6d6d6;
    background-color: #eeeeee;
    &.dark {
      background-color: #d6d6d6;
    }
    .progress-bar {
      width:0;
      display:block;
      background-color: $brand-cta;
      text-align:right;
      i{
        display:inline-block;
        height:20px;
        border-right:1px solid darken($brand-cta, 10%);
        border-left:1px solid darken($brand-cta, 5%);
      }
    }
  }
}