/* Slider */

//--------------------------    CUSTOM STYLING    ----------------------------------------------

.img-slider__section {
    position: relative;
    padding-bottom: 30px;
    @media(min-width:$screen-sm) {
        padding-left:50px;
        padding-right:50px;
    }
    @media(min-width:$screen-md) {
        padding-left:0;
        padding-right:0;
        text-align:center;
    }

    @media(min-width:$screen-lg) {

        margin-right:7%;
    }

    @include clearfix();

    .slick-slider {
        @media (min-width: 1024px) {
            float:right;
            max-width: 680px;
            margin-right: 45px;
        }
        @media(min-width:$screen-lg) {
            max-width:760px;
            margin-right: 32px;
        }
    }




    .slick-slide {
        text-align: center;
        @media (min-width: 769px) {
            width: 280px;
        }
        > * {
            text-align: center;
            max-width: 320px;

            @media (min-width: 769px) {
                max-width: 220px;
                margin: 0 auto;
            }
            @media(min-width:$screen-lg) {
                max-width: 320px;
            }
        }
        h3 {
            font-size: 35px;
            text-transform: uppercase;
            line-height: 1.2;
            padding: 50px 20px 10px;
            max-width: 100%;
        }
        p {
            font-size: 18px;
            max-width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        .btn.btn-squared {
            font-size: 32px;
            margin-top: 36px;
            padding: 8px 12px;
            max-width: 100%;
        }
    }


    .slick-dots li button:before {
        opacity: 0.06;
        font-size: 65px;

        transition: opacity .5s ease-out;
    }
    .slick-dots li.slick-active button:before {
        color: $brand-yellow;
        opacity: 1;
    }


    .slick-next, .slick-prev {
        height: 50px;
        width: 50px;
        background: transparent url('../img/slick-arrow--left.png');
        background-size: 50px 50px;
        top: 144px;
        @media(min-width:$screen-lg) {
            top: 220px;
        }
        transform: translate(0,-50%);
        opacity: .3;
        transition: opacity .5s;

        &:hover,
        &:focus {
            background: transparent url('../img/slick-arrow--left.png');
            background-size: 50px 50px;
            opacity: .5;
        }
    }

    .slick-prev {
        left: -50px;
        @media(min-width:$screen-sm) {
            left:-50px
        }
    }

    .slick-next {
        right: -50px;
        transform: rotate(180deg);
        transform-origin: 50% 25%;
        @media(min-width:$screen-md) {
            right:-45px
        }
        @media(min-width:$screen-lg) {
            right:-50px
        }
    }

    .slick-next:before {
        content: "";
    }
}

//--------------------------    CUSTOM STYLING END   ----------------------------------------------

//copy pasted from node_modules/slick-carousel/slick/slick.scss and slick-theme.scss (theme contains dots and arrows)

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        //display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "test" !default;
$slick-loader-path: "../img/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    top: 434px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

