﻿/* ==============
    Social
   ============== */
@import "../helpers/_variables";
@import "../helpers/_mixins";

#Relateret-indhold {
    .social {
        display:none !important; /* See PBL item: 185 */
    }
}

.social {
    padding-top:15px;
    @media (min-width:$screen-md) {
        position: absolute;
        right: 10%;
        margin-top:$mobileGab;
        padding-top:0;
    }

    &.disabled {
        display:none;
    }


    .category & {
        display:none;
        @media (max-width:$screen-xs-max){
            position:absolute;
            top:0;
            right:5px;
            margin-top:10px;
            width:88px;
        }
        &.enabled {
            display:block;
        }
    }
}

.share-btn {
    position:relative;
    display:inline-block;
    width:$contentGab;
    height:$contentGab;

    svg {
        max-width:100%;
        path {
            fill:$brand-lightgrey;
        }
        circle {
            fill:#fff;
        }
    }

    & + & {
        margin-left:5px;
    }
    &.facebook {
        .no-svg & {
            background:url(../img/svg_facebook.png) no-repeat center;
        }
    }
    &.twitter {
        .no-svg & {
            background:url(../img/svg_twitter.png) no-repeat center;
        }
    }

    &.goto-facebook,
    &.goto-twitter {
        svg {
            path {
                fill:#fff;
            }
            circle {
                fill:#000;
            }
            &.hover {
                path {
                    fill:$brand-yellow;
                }
                circle {
                    fill:#000 !important;
                }
            }
        }
    }
}