/* ==============
	Topics
   ============== */

@import "../helpers/_variables";
@import "../helpers/_mixins";

.topic {
	display: block;
	overflow: hidden;
	background: darken($border-grey, 10%) url(../img/loader.gif) no-repeat center center;

	@media (min-width: $screen-sm) {
		min-height: 310px;
	}

	@media (min-width: $screen-md) {
		h2 {
			margin-bottom: 28px;
		}

		p {
			margin-bottom: 35px;
		}
	}

	@media (min-width: $screen-lg) {
		min-height: 386px;
	}

	@media (min-width: $screen-xxl) {
		min-height: 480px;
	}

	&, &:visited {
		color: #fff;
		text-decoration: none;
	}

	&:hover, &:focus {
		h2, p {
			color: #fff;
		}
	}

	h2 {
        color: #fff;
		font-size: 30px;
		line-height: 1.1;
        @media (min-width: $screen-sm) {
            font-size: 40px;
        }
        @media (min-width: $screen-md) {
            font-size: 60px;
        }
	}
    p {
        color: #fff;
		line-height: 1.25;
        @media (min-width: $screen-sm) {
            font-size: 22px;
        }
        @media (min-width: $screen-md) {
            font-size: 25px;
        }
    }

	.content {
        @media (min-width: $screen-sm) {
            width: 86%;
        }
		@media (min-width: $screen-md) {
            width: 70%;
			padding: 0 35px;
		}
	}

	.bg {
		&:before {
			content: "";
			position: absolute;
			opacity: 0.5;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0.5);
			transition: opacity 0.8s ease-in;
		}
	}

	@media (min-width: $screen-md) {

        .no-touch & {
            .bg {
			    &:before {  
				    opacity: 0;
                    transition: opacity 0.4s ease-in;
			    }
		    }

		    p {
			    opacity: 0;
			    transition: opacity 0.4s ease-in;
		    }
        }
        

		&:focus {
			.alpha-go & {
				.bg:before {
					opacity: 1;
					transition: opacity 0.4s ease-out;
				}

				p {
					opacity: 1;
					transition: opacity 0.25s ease-in-out;
				}
			}
		}
	}
}
// .topic

.topic-wrap {
    .category {
        height:2px;
        background: $brand-grey;
        padding:0;
    }
	@media (min-width: $screen-xs) {
		.category {
			position: absolute;
            height:auto;
			top: 0;
			right: 0;
			bottom: 1px;
			cursor: pointer;
            padding:15px;
            background: #fff;

			&:before, &:after {
				position: absolute;
				content: "";
				border-top: 1px solid darken($border-grey, 5%);
				top: 50%;
				left: 50%;
				width: 60px;
				margin-left: -42px;
                transition: all 0.4s ease-in-out;
			}

			&:after {
				transform: rotate(45deg) translate(0px, -30px);
			}

			&:before {
				transform: rotate(-45deg) translate(0px, 30px);
			}

			header {
				display: none;
			}
		}
	}

    @media (min-width: $screen-sm) {
        .category {
            &:before, &:after {
			    top: 50%;
			    left: 50%;
			    width: 80px;
			    margin-left: -60px;
		    }

            &:after {
			    transform: rotate(45deg) translate(0px, -40px);
		    }

		    &:before {
			    transform: rotate(-45deg) translate(0px, 40px);
		    }
        }
        &:hover {
            .category {
				background: $border-grey-light;
                transition:all 0.4s ease-in-out;

				&:before, &:after {
					border-color: $brand-grey;
                    margin-left: -50px;
				}

				&:after {
					transform: rotate(40deg) translate(0px, -34px);
				}

				&:before {
					transform: rotate(-40deg) translate(0px, 34px);
				}
			}
        }
    }

	@media (min-width: $screen-xs) {
		.alpha-go &:hover,
        .menu-wrap + .page-wrap &:hover {
			.bg:before {
				opacity: 1;
				transition: opacity 0.4s ease-out;
			}

			p {
				opacity: 1;
				transition: opacity 0.3s ease-in-out;
			}
		}        
	}

	&:nth-child(2n) {
		.bg {
			background-color: darken($border-grey-light, 5%);
		}
	}
}
