.contour.donateSinglePage {
    @extend .contour.skrivunder;

    fieldset {
        margin: 0;
    }

    .show-on-step-1,
    .show-on-step-2,
    .show-on-step-3 {
        display: none;
    }

    .contourFieldSet {
        padding: 0 1px;
        transition: max-height .5s ease-out;

        &.animating {
            overflow: hidden;
        }

        .row-fluid {
            transition: transform .5s ease-out;
        }
    }

    .formfields-progress {
        position: relative;
        margin-top: 24px;
        height: 10px;
        background: #5c5b57;
        overflow: hidden;

        &__bar {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 0;
            background: #faf038;
            transition: width .5s cubic-bezier(.38,.22,.22,1);
        }
    }

    h4.contourPageName {
        position: relative;
        margin: 0 0 20px;
        padding: 0 10px;
        background: #000;
        color: #fff;

        span {
            position: absolute;
            bottom: 5px;
            right: 10px;
            font-size: 14px;
            white-space: nowrap;
        }
    }

    .contourField {
        > label {
            pointer-events: none;
        }
    }

    .radiobuttonlist {
        div.form-row & {
            .contourField {
                height: 70px;

                input {
                    display: none;

                    &:checked {
                        + label {
                            line-height: 68px;
                        }
                    }
                }

                label {
                    left: 0;
                    right: 0;
                    padding: 0;
                    font-size: 20px;
                    line-height: 60px;
                    user-select: none;
                    cursor: pointer;
                    white-space: nowrap;

                    @media (min-width:$screen-sm) {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .otherAmount {
        margin-bottom: 20px;
        text-align: center;

        span {
            cursor: pointer;
        }

        + .textfield {
            margin-left: -10px;
            margin-right: -10px;
            padding-left: 10px;
            padding-right: 10px;
            height: 65px;
            overflow: hidden;
            transition: height .2s ease-out;

            .help-block.alternate:hover {
                width: 100% !important;
                max-width: calc( 100% - 75px);
            }
        }

        &.hide-next {
            + .textfield {
                height: 0;

                label,
                & > div {
                    display: none;
                }
            }
        }
    }

    #customAmount {
        padding-right: 60px;

        + .field-validation-valid {
            right: 60px;
        }
    }

    .contourField.stud {
        margin-top: 15px;
    }

    h3 {
        margin: 25px 0 15px;
        color: #919090;
        padding-left: 14px;
        text-transform: uppercase;
        font-size: 18px;
    }

    .contourNavigation {
        padding: 0 1px;

        .error-msg {
            display: block;
            margin-bottom: 1em;
            padding: 0;
        }

        .row-fluid {
            display: flex !important;
            flex-direction: column;

            @media (min-width:$screen-xs) {
                flex-direction: row;
            }

            > div {
                float: none;
                flex: 0 0 auto;
            }

            .col-xs-6 {
                &:first-child {
                    order: 2;

                    @media (min-width:$screen-xs) {
                        order: 1;
                    }
                }

                &:last-child {
                    order: 1;

                    @media (min-width:$screen-xs) {
                        order: 2;
                    }
                }
            }

            .col-md-12 {
                width: 100%;
            }
        }

        .arrow-button-wrapper,
        input {
            width: 100%;

            @media (min-width:$screen-sm) {
                width: auto;
            }
        }
    }

    input[type=button].btn {
        padding: 12px 15px;
        font-size: 18px;
        line-height: 1.6;
    }

    .arrow-button-wrapper {
        display: inline-block;
        margin-bottom: 5px;
        position: relative;
        overflow: hidden;

        .arrow-point:before,
        .arrow-point:after {
            content: "";
            position: absolute;
            z-index: 2;
            top: 50%;
            right: 0;
            height: 100px;
            width: 100px;
            background: #fff;
            transform: translateY(-1px) rotate(-60deg);
            transform-origin: right top;
            pointer-events: none;
            border: 1px solid transparent;
        }

        .arrow-point:after {
            top: auto;
            bottom: 50%;
            right: 0;
            transform: translateY(1px) rotate(60deg);
            transform-origin: right bottom;
        }

        input[type=button].btn {
            border-color: transparent;
            padding: 12px 35px 12px 15px;

            &.sending {
                padding-right: 50px;
            }

            &:focus,
            .no-touch &:hover {
                border-color: #000;

                ~ .arrow-point:before,
                ~ .arrow-point:after {
                    border-color: #000;
                }
            }
        }
    }

    .show-on-repeated-payment {
        display: none;
    }

    form.repeated-payment {
        .show-on-repeated-payment {
            display: block;
        }
        span.show-on-repeated-payment {
            display: inline-block;
        }

        .hide-on-repeated-payment {
            display: none;
        }
    }

    form[data-active-step='1'] {
        .show-on-step-1 {
            display: block;
        }
    }

    form[data-active-step='2'] {
        .show-on-step-2 {
            display: block;
        }

        .contourFieldSet {
            .row-fluid {
                transform: translate3d(-33.333%, 0, 0);
            }
        }
    }

    form[data-active-step='3'] {
        .show-on-step-3 {
            display: block;
        }

        .contourFieldSet {
            .row-fluid {
                transform: translate3d(-66.666%, 0, 0);
            }
        }
    }

    form.hide-toggler {
        .toggler {
            display: none;
        }
    }
}