/* Skriv under form needs to act in a special way, so this is why we got a specific file you targeting this */
/* For more information on functionality, go see backlog item: #217 */


.contour.skrivunder
{

    .counter {
        font-size:32px;
        font-weight:bold;
        color:#000;
        width:250px;
        margin:0 auto;
        margin-bottom:15px;
        letter-spacing:29px;
        border: 1px solid #c5c696;
        overflow:hidden;
        background: #fbf038 url(../img/counter-bg.png) repeat-x;
        span {
            display:inline-block;
            padding: 5px 0;
            text-align:right;
            width:103%;

        }
    }

    .contourField:not(.checkbox)  {
        span.help-block {
            top:5px;
            height:auto;
            z-index:999999;
            &.mobile-click {
                top:0;
                padding-top:2px;
                width:100%;
                &:before {
                    margin-top:0;
                }
            }
            @media (min-width: $screen-md) {
                top:10px;
            }
        }

        label {
            position:absolute;
            z-index:999;
            padding: 10px 20px 0 15px;
            cursor: text;

            @media (min-width: $screen-md) {
                padding: 12px 20px 0 15px;
            }
        }
    }

    input[type="submit"] {
        width:100%;
        display:block;
    }

}

.contourField {
    .sub-text {
        clear:both;
        font-size:12px;
        margin:0 auto;
        text-align:center;
        text-transform: uppercase;
        color:#c1c1c1;
        font-weight: bold;
    }
}


