/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

@font-face {
  font-family: 'AmnestyTradeGothic Bold';
  src: url('fonts/AmnestyTradeGothic-BdCn20.eot'); /* IE9 Compat Modes */
  src: url('fonts/AmnestyTradeGothic-BdCn20.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AmnestyTradeGothic-BdCn20.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'AmnestyTradeGothic Light';
  src: url('fonts/AmnestyTradeGothic-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/AmnestyTradeGothic-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AmnestyTradeGothic-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'AmnestyTradeGothic Condensed';
  src: url('fonts/AmnestyTradeGothic-Cn18.eot'); /* IE9 Compat Modes */
  src: url('fonts/AmnestyTradeGothic-Cn18.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AmnestyTradeGothic-Cn18.ttf')  format('truetype'), /* Safari, Android, iOS */
}

h3 {
    font-size:18px; /* font-size: 20px with TradeGothic */
    line-height:1.2em;
    margin:0;
    font-family: 'AmnestyTradeGothic Bold', Arial, Helvetica, sans-serif;
}

b, strong {
    font-family: 'AmnestyTradeGothic Bold', Arial, Helvetica, sans-serif; 
}

p, ul, ol {
    margin:0 0 35px;
    line-height:1.375;
    font-size:16px; /* font-size: 20px with TradeGothic */   
    font-family: 'AmnestyTradeGothic Condensed', Arial, Helvetica, sans-serif;
}

ul, ol {
    margin-top:0;
    padding-left:20px;
}