﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<DisPlay.Amnesty.ViewModels.ContactBoxes.ContactPersonBox>


<div class="box box-contact col-xs-6 col-sm-4">
    <div class="image-wrapper">
        @if (Model.Image != null)
        {
            <img src="@Model.Image.GetCropUrl(220, 220)" alt="@Model.Image.AlternateText" title="@Model.Image.AlternateText">
        }
        else
        {
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 220 210.6" xml:space="preserve">
                <path fill="#e6e6e6" d="M172.3,157.4c-28.8-10.5-38.1-19.4-38.1-38.4c0-11.4,8.8-7.7,12.7-28.6c1.6-8.7,9.4-0.1,10.9-19.9c0-7.9-4.2-9.8-4.2-9.8
		            s2.2-11.7,3-20.6C157.5,28.9,150,0,110,0S62.5,28.9,63.5,40.1c0.8,9,3,20.6,3,20.6s-4.2,2-4.2,9.8c1.5,19.8,9.3,11.3,10.9,19.9
		            c3.9,20.9,12.7,17.2,12.7,28.6c0,19-9.2,27.9-38.1,38.4C18.8,167.9,0,178.7,0,186c0,7.3,0,24.6,0,24.6h110h110c0,0,0-17.3,0-24.6
		            C220,178.7,201.2,167.9,172.3,157.4z" />
            </svg>
        }
    </div>   
    <h3>
        <span class="title">
            @Model.Title
        </span>
        @Model.PersonName
    </h3>
    <p class="contact-info">
        <span><i>Tlf: </i> <a href="tel:@Model.Phone"> @Model.Phone</a></span>
        <span>Email: <a href="mailto:@Model.Email">@Model.Email</a></span>
    </p>
</div>

    
    

